<div>
    <div class="cabinet-menu">
        <a class="d-block cabinet-menu__element active" href="/cabinet_.html">Общая информация</a>
        <a class="d-block cabinet-menu__element" href="/cabinet-edit.html">Персональные данные</a>
        <a class="d-block cabinet-menu__element" href="/cabinet-izbrannoe.html">Избранные товары</a>
        <a class="d-block cabinet-menu__element" href="/cabinet-history.html">История заказов</a>
        <a class="d-block cabinet-menu__element" href="/cabinet-changepass.html">Сменить пароль</a>
        <a class="d-block cabinet-menu__element" href="/cabinet-bonus.html">Ваши бонусы</a>
        <a class="d-block cabinet-menu__element mb-5" href="/cabinet-subscribe.html">Подписка на акциии новости</a>
    </div>
    <button class="btn btn-outline-primary rounded-0 px-3 d-flex align-items-center"> <img src="../img/exit.svg"  height="12" class="mr-2"><span class="fs-14">выйти</span></button>
</div>