<% var activeMenu = typeof activeMenu === 'undefined' ? 0 : activeMenu %>

<div class="d-none w-100 align-items-center overflow-auto d-lg-none mb-3">
    <a class="d-block cabinet-menu__element mr-2 <%= activeMenu === 0 ? 'active' : '' %>" href="/cabinet_new.html">Общая
        информация</a>
    <a class="d-block cabinet-menu__element mr-2 <%= activeMenu === 1 ? 'active' : '' %>"
        href="/cabinet-edit.html">Персональные данные</a>
    <a class="d-block cabinet-menu__element mr-2 <%= activeMenu === 2 ? 'active' : '' %>"
        href="/cabinet-izbrannoe.html">Избранные товары</a>
    <a class="d-block cabinet-menu__element mr-2 <%= activeMenu === 3 ? 'active' : '' %>"
        href="/cabinet-history.html">История заказов</a>
    <a class="d-block cabinet-menu__element mr-2 <%= activeMenu === 4 ? 'active' : '' %>"
        href="/cabinet-changepass.html">Сменить пароль</a>
    <a class="d-block cabinet-menu__element mr-2 <%= activeMenu === 5 ? 'active' : '' %>" href="/cabinet-bonus.html">Ваши
        бонусы</a>
    <a class="d-block cabinet-menu__element mr-3 <%= activeMenu === 6 ? 'active' : '' %>"
        href="/cabinet-subscribe.html">Подписка на акциии новости</a>
    <button class="btn btn-outline-primary rounded-0 px-3 d-flex flex-shrink-0 align-items-center">
        <img src="../img/exit.svg" height="12" class="mr-2"><span class="fs-14">выйти</span>
    </button>
</div>
<div class="d-none d-lg-block">
    <div class="cabinet-menu">
        <a class="d-block cabinet-menu__element <%= activeMenu === 0 ? 'active' : '' %>" href="/cabinet_.html">Общая информация</a>
        <a class="d-block cabinet-menu__element <%= activeMenu === 1 ? 'active' : '' %>" href="/cabinet-edit.html">Персональные данные</a>
        <a class="d-block cabinet-menu__element <%= activeMenu === 2 ? 'active' : '' %>" href="/cabinet-izbrannoe.html">Избранные товары</a>
        <a class="d-block cabinet-menu__element <%= activeMenu === 3 ? 'active' : '' %>" href="/cabinet-history.html">История заказов</a>
        <a class="d-block cabinet-menu__element <%= activeMenu === 4 ? 'active' : '' %>" href="/cabinet-changepass.html">Сменить пароль</a>
        <a class="d-block cabinet-menu__element <%= activeMenu === 5 ? 'active' : '' %>" href="">Ваши бонусы</a>
        <a class="d-block cabinet-menu__element <%= activeMenu === 6 ? 'active' : '' %> mb-5" href="/cabinet-subscribe.html">Подписка на акциии
            новости</a>
    </div>
    <button class="btn btn-outline-primary rounded-0 px-3 d-flex align-items-center"> <img
            src="../img/exit.svg" height="12" class="mr-2"><span class="fs-14">выйти</span></button>
</div>