<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__background-icon footer__background-icon_1 d-none d-lg-block"><img
                    src="../img/circle7.svg" alt="">
            </div>
            <div class="footer__background-icon footer__background-icon_2"> <img src="../img/circle5.svg" alt="">
            </div>
            <div class="footer__background-icon footer__background-icon_3 d-none d-lg-block"><img
                    src="../img/circle14.svg" alt="">
            </div>
            <div class="footer__background-icon footer__background-icon_4"> <img src="../img/circle8.svg" alt="">
            </div>

            <div class="d-none d-lg-block col-lg-6">
                <ul class="bottom-menu row">
                    <li class="col-6 bottom-menu__header">
                        <a class="bottom-menu__header" href="">Информация</a>
                        <ul class="bottom-menu__submenu">
                            <li><a href="">О компании</a></li>
                            <li><a href="">Доставка и оплата</a></li>
                            <li><a href="">Новости</a></li>
                            <li><a href="">Подарочные сертификаты</a></li>
                            <li><a href="">Возврат товаров</a></li>
                            <li><a href="">Уроки макияжа</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </li>
                    <li class="col-6 bottom-menu__header">
                        <a class="bottom-menu__header" href="">Каталог</a>
                        <ul class="bottom-menu__submenu">
                            <li><a href="">Парфимерия</a></li>
                            <li><a href="">Макияж</a></li>
                            <li><a href="">Уход и гигиена</a></li>
                            <li><a href="">Бижутерия</a></li>
                            <li><a href="">Аксессуары и одежда</a></li>
                            <li><a href="">Подарки</a></li>
                            <li><a href="">Акции</a></li>
                            <li><a href="">Бренды</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12 pr-0">
                                <h3 class="">Соц.сети</h3>
                                <div class="d-flex flex-wrap justify-content-start info__images mb-4">
                                    <div class="mb-2 mr-2">
                                        <a class="info__image" href="#"><svg id="Слой_1" data-name="Слой 1"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.06 23.39">
                                                <defs>
                                                    <style>
                                                        .cls-1 {
                                                            fill: #99247e;
                                                        }
                                                    </style>
                                                </defs>
                                                <title>odnoklas</title>
                                                <path class="cls-1"
                                                    d="M310.35,474.85a5.93,5.93,0,1,1,4.19-1.74A5.71,5.71,0,0,1,310.35,474.85Zm0-8.84a2.92,2.92,0,1,0,2.06.85A2.8,2.8,0,0,0,310.35,466Zm6.83,9.55a1.9,1.9,0,0,1,.2.65,1.22,1.22,0,0,1-.06.53,1.47,1.47,0,0,1-.35.5,4.46,4.46,0,0,1-.55.48q-.29.22-.8.54a9.54,9.54,0,0,1-4.11,1.23l1,.94,3.48,3.48a1.34,1.34,0,0,1,.39,1,1.3,1.3,0,0,1-.39,1l-.16.17a1.39,1.39,0,0,1-1.93,0l-3.48-3.5-3.48,3.5a1.34,1.34,0,0,1-1,.39,1.3,1.3,0,0,1-1-.39l-.16-.17a1.28,1.28,0,0,1-.4-1,1.32,1.32,0,0,1,.4-1l3.48-3.48.94-.94a9.51,9.51,0,0,1-4.14-1.23q-.51-.33-.8-.54a4.46,4.46,0,0,1-.55-.48,1.47,1.47,0,0,1-.35-.5,1.22,1.22,0,0,1-.06-.53,1.9,1.9,0,0,1,.2-.65,1.41,1.41,0,0,1,.37-.46,1.5,1.5,0,0,1,.55-.29,1.32,1.32,0,0,1,.73,0,2.47,2.47,0,0,1,.85.46l.2.14q.13.09.56.32a7,7,0,0,0,.9.4,8.38,8.38,0,0,0,1.2.31,7.81,7.81,0,0,0,3.75-.19,6.22,6.22,0,0,0,1.57-.66l.5-.33a2.47,2.47,0,0,1,.85-.46,1.32,1.32,0,0,1,.73,0,1.5,1.5,0,0,1,.55.29A1.41,1.41,0,0,1,317.17,475.56Z"
                                                    transform="translate(-303.32 -463.01)" />
                                            </svg></a>
                                    </div>

                                    <div class="mr-2">
                                        <a class="info__image" href="#"><svg id="Слой_1" data-name="Слой 1"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.4 13.28">
                                                <defs>
                                                    <style>
                                                        .cls-1 {
                                                            fill: #99247e;
                                                        }
                                                    </style>
                                                </defs>
                                                <title>vk</title>
                                                <path class="cls-1"
                                                    d="M321.71,468.35h-3.8a.86.86,0,0,0-.76.45s-1.51,2.79-2,3.73c-1.31,2.53-2.16,1.73-2.16.56v-4a1.27,1.27,0,0,0-1.27-1.27h-2.86a2.29,2.29,0,0,0-2,.94s1.45-.23,1.45,1.72c0,.48,0,1.88,0,3a.84.84,0,0,1-1.47.58,24.86,24.86,0,0,1-2.88-5.24.8.8,0,0,0-.73-.46h-3.45a.59.59,0,0,0-.55.79C300.31,472,304.82,481,310,481h2.17a.86.86,0,0,0,.86-.86v-1.31a.84.84,0,0,1,1.42-.61l2.6,2.44a1.26,1.26,0,0,0,.86.34h3.41c1.64,0,1.64-1.14.75-2-.63-.62-2.91-3-2.91-3a1.18,1.18,0,0,1-.09-1.53l2.45-3.23C322.18,470.31,323.44,468.35,321.71,468.35Z"
                                                    transform="translate(-299.22 -467.76)" />
                                            </svg></a>
                                    </div>

                                    <div class="mr-2">
                                        <a class="info__image" href="#"><svg id="Слой_1" data-name="Слой 1"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.67 37.67">
                                                <defs>
                                                    <style>
                                                        .cls-1 {
                                                            fill: #fff;
                                                        }
                                                    </style>
                                                </defs>
                                                <title>insta1</title>
                                                <g id="_Группа_" data-name="&lt;Группа&gt;">
                                                    <path id="_Составной_контур_" data-name="&lt;Составной контур&gt;"
                                                        class="cls-1"
                                                        d="M324.39,383.54a9.6,9.6,0,0,0-5.5-5.5,13.74,13.74,0,0,0-4.57-.87c-2-.09-2.65-.12-7.77-.12s-5.76,0-7.77.12a13.67,13.67,0,0,0-4.57.87,9.6,9.6,0,0,0-5.5,5.5,13.74,13.74,0,0,0-.87,4.57c-.09,2-.12,2.65-.12,7.77s0,5.76.12,7.77a13.67,13.67,0,0,0,.87,4.57,9.6,9.6,0,0,0,5.5,5.5,13.74,13.74,0,0,0,4.57.87c2,.09,2.65.12,7.77.12s5.76,0,7.77-.12a13.67,13.67,0,0,0,4.57-.87,9.6,9.6,0,0,0,5.5-5.5,13.74,13.74,0,0,0,.87-4.57c.09-2,.12-2.65.12-7.77s0-5.76-.12-7.77A13.67,13.67,0,0,0,324.39,383.54Zm-2.52,20a10.3,10.3,0,0,1-.66,3.49,5.83,5.83,0,0,1-1.41,2.17,5.9,5.9,0,0,1-2.17,1.41,10.38,10.38,0,0,1-3.49.66c-2,.09-2.58.12-7.61.12s-5.63,0-7.61-.12a10.3,10.3,0,0,1-3.49-.66,5.83,5.83,0,0,1-2.17-1.41,5.9,5.9,0,0,1-1.41-2.17,10.38,10.38,0,0,1-.66-3.49c-.09-2-.12-2.59-.12-7.61s0-5.63.12-7.61a10.3,10.3,0,0,1,.66-3.49,5.83,5.83,0,0,1,1.41-2.17,5.9,5.9,0,0,1,2.17-1.41,10.38,10.38,0,0,1,3.49-.66c2-.09,2.59-.12,7.61-.12s5.63,0,7.61.12a10.3,10.3,0,0,1,3.49.66,5.83,5.83,0,0,1,2.17,1.41,5.9,5.9,0,0,1,1.41,2.17,10.38,10.38,0,0,1,.66,3.49c.09,2,.12,2.59.12,7.61S322,401.51,321.87,403.49Z"
                                                        transform="translate(-287.7 -377.04)" />
                                                    <path id="_Составной_контур_2" data-name="&lt;Составной контур&gt;"
                                                        class="cls-1"
                                                        d="M306.52,386.2a9.68,9.68,0,1,0,9.68,9.68A9.69,9.69,0,0,0,306.52,386.2Zm0,16a6.29,6.29,0,1,1,6.29-6.29A6.29,6.29,0,0,1,306.52,402.17Z"
                                                        transform="translate(-287.7 -377.04)" />
                                                    <circle id="_Контур_" data-name="&lt;Контур&gt;" class="cls-1"
                                                        cx="28.88" cy="8.78" r="2.26" />
                                                </g>
                                            </svg></a>
                                    </div>

                                    <div class="mr-2">
                                        <a class="info__image" href="#"><svg id="Слой_1" data-name="Слой 1"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.25 22.95">
                                                <defs>
                                                    <style>
                                                        .cls-1 {
                                                            fill: #99247e;
                                                        }
                                                    </style>
                                                </defs>
                                                <title>fb</title>
                                                <path class="cls-1"
                                                    d="M307.62,486.27h5.3v-10.7h3.6l.48-4.08h-4.08v-2.43c0-1.1.24-1.65,1.95-1.65H317v-4.08h-3.57c-4.37,0-5.81,2-5.81,5.44v2.72h-2.87v4.08h2.87Z"
                                                    transform="translate(-304.75 -463.32)" />
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 col-lg-12 mb-4">
                                <h3 class="d-none d-lg-inline consult-header">Консультации</h3>
                                <div class="d-block fs-16 font-weight-bold">+7 (423) 2-310-693</div>
                                <div class="consult-multi mb-2">многоканальный</div>
                                <a class="d-none d-lg-inline " href="mailto:info@chudodey.com">info@chudodey.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-lg-none col-12">
                        <ul class="bottom-menu row">
                            <li class="col-12 bottom-menu__header">
                                <a class="bottom-menu__header" href="">Информация</a>
                                <ul class="bottom-menu__submenu">
                                    <li><a href="">О компании</a></li>
                                    <li><a href="">Доставка и оплата</a></li>
                                    <li><a href="">Новости</a></li>
                                    <li><a href="">Подарочные сертификаты</a></li>
                                    <li><a href="">Возврат товаров</a></li>
                                    <li><a href="">Уроки макияжа</a></li>
                                    <li><a href="">Контакты</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <img src="../img/logo_footer.svg" class="footer__logo mb-3" alt="">
                        <p class="footer__p mb-4">Официальный интернет-магазин косметики и аксессуаров сети магазинов
                            Чудодей</p>
                        <span class="d-block fs-12">Политика конфиденциальности</span>
                        <span class="d-block fs-12">Публичная оферта ООО “ЧУДОДЕЙ”</span>
                        <span class="d-block fs-12 mb-4">Ограничение ответственности</span>
                        <span class="d-block fs-12">Copyright © 2007 - 2018 Чудодей.</span>
                        <span class="d-block fs-12">Все права защищены.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
</div>
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content rounded-0 pl-4">
            <div class="modal-body">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="row product-detail pt-4">
                    <div class="col-lg-7">
                        <div class="d-flex">
                            <div class="d-flex flex-column photo-picker mr-2 js-scrollable">
                                <button class="btn photo-picker__item" data-main-image="product-image">
                                    <img src="../img/tmp/insta-4.jpg" class="img-fluid w-100">
                                </button>
                                <button class="btn photo-picker__item" data-main-image="product-image">
                                    <img src="../img/tmp/product.jpg" class="img-fluid w-100">
                                </button>
                                <button class="btn photo-picker__item" data-main-image="product-image">
                                    <img src="../img/tmp/product.jpg" class="img-fluid w-100">
                                </button>
                                <button class="btn photo-picker__item" data-main-image="product-image">
                                    <img src="../img/tmp/product.jpg" class="img-fluid w-100">
                                </button>
                                <button class="btn photo-picker__item" data-main-image="product-image">
                                    <img src="../img/tmp/product.jpg" class="img-fluid w-100">
                                </button>
                                <button class="btn photo-picker__item" data-main-image="product-image">
                                    <img src="../img/tmp/product.jpg" class="img-fluid w-100">
                                </button>
                                <button class="btn photo-picker__item mb-2" data-main-image="product-image">
                                    <img src="../img/tmp/product.jpg" class="img-fluid w-100">
                                </button>
                            </div>
                            <a href="#" class="product-detail__image">
                                <img id="product-image" src="../img/tmp/product.jpg" class="img-fluid w-100">
                            </a>
                        </div>
                        <small class="product-detail__image__disclaimer">Внешний вид товара может отличаться от
                            изображенного на
                            фотографии.</small>
                    </div>
                    <div class="col-lg-5">
                        <div class="invisible-line pb-0">
                            <h1 class="fs-22 color-black font-weight-bold text-uppercase">Тушь для ресниц `CATRICE`
                                GLAMOUR DOLL CURL & VOLUME</h1>
                        </div>

                        <div class="mb-3">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="product-detail__price mr-5 fs-30">254 <span>руб.</span></div>
                                    <div class="old-price d-block fs-22">352 руб.</div>
                                </div>
                                <div>
                                    <div class="row no-gutters">
                                        <div class="col-6 col-lg-4 d-flex align-items-center">
                                            <div class="input-counter input-counter-sm mr-3">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <button class="btn" type="button" id="button-minus">-</button>
                                                    </div>
                                                    <input type="text" class="form-control" aria-label="Количество"
                                                        id="productCount" value="1">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="button" id="button-plus">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-6 mr-1 mr-lg-0">
                                            <div class="mr-lg-2">
                                                <button class="btn btn-lg btn-secondary btn-block mr-3 px-0">
                                                    <span class="d-none d-lg-block">Купить</span>
                                                    <span class="d-block d-lg-none"><img width="20"
                                                            src="../img/cart.svg" alt=""></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-2 ml-1 ml-lg-0">
                                            <button class="btn btn-lg btn-secondary">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description__header invisible-line fs-20 pb-0">наличие в магазинах</div>
                        <div class="mb-4">
                            <div class="fs-16"><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">площади Окатовая</span></div>
                            <div class=""><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">в ТЦ Первореченский</span></div>
                            <div class=""><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">в ГУМе</span></div>
                            <div class=""><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">в ТЦ Россиянка</span></div>
                            <div class="color-purple mt-2"><i class="fa fa-plus-square fs-14 mr-1"></i> <a href="#"
                                    class="border-bottom-dotted">ещё в 5 магазинах</a> </div>
                        </div>
                        <p class="f-14">Идеальная тушь для создания потрясающих объемных и подкрученных ресниц!
                            Благодаря особой изогнутой форме кисточки тушь прекрасно наносится и прокрашивает каждую
                            ресничку!</p>
                        <a href="#" class="btn btn-outline-primary px-5">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="productSecondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content rounded-0 pl-4">
            <div class="modal-body">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="row product-detail pt-4">
                    <div class="col-lg-7">
                        <div class="w-100">
                            <a href="#" class="product-detail__image">
                                <img id="product-image" src="../img/tmp/product.jpg" class="img-fluid w-100">
                            </a>
                        </div>
                        <div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="product-description__header mr-4">
                                        Доступные оттенки:
                                    </div>
                                    <small class="product-description__selected fs-16 d-block">
                                        <i class="fa fa-check-circle fs-16 color-purple"></i> Выбран: <strong>01
                                            Черный</strong>
                                    </small>
                                </div>
                                <div>
                                    <div class="product-detail__colours">
                                        <span class="colour-select colour-select-lg">
                                            <span class="colour-select__inner colour-select__inner__white"></span>
                                        </span>
                                        <span class="colour-select colour-select-lg">
                                            <span class="colour-select__inner" style="background-color: #000000"></span>
                                        </span>
                                        <span class="colour-select colour-select-lg">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        <span class="colour-select colour-select-lg">
                                            <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="invisible-line pb-0">
                            <h1 class="fs-22 color-black font-weight-bold text-uppercase">1Тушь для ресниц `CATRICE`
                                GLAMOUR DOLL CURL & VOLUME</h1>
                        </div>

                        <div class="mb-3">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="product-detail__price mr-5 fs-30">254 <span>руб.</span></div>
                                </div>
                                <div>
                                    <div class="row no-gutters">
                                        <div class="col-6 col-lg-4 d-flex align-items-center">
                                            <div class="input-counter input-counter-sm mr-3">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <button class="btn" type="button" id="button-minus">-</button>
                                                    </div>
                                                    <input type="text" class="form-control" aria-label="Количество"
                                                        id="productCount" value="1">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="button" id="button-plus">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 col-lg-6 mr-1 mr-lg-0">
                                            <div class="mr-lg-2">
                                                <button class="btn btn-lg btn-secondary btn-block mr-3 px-0">
                                                    <span class="d-none d-lg-block">Купить</span>
                                                    <span class="d-block d-lg-none"><img width="20"
                                                            src="../img/cart.svg" alt=""></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-2 ml-1 ml-lg-0">
                                            <button class="btn btn-lg btn-secondary">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description__header invisible-line fs-20 pb-0">наличие в магазинах</div>
                        <div class="mb-4">
                            <div class="fs-16"><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">площади Окатовая</span></div>
                            <div class=""><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">в ТЦ Первореченский</span></div>
                            <div class=""><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">в ГУМе</span></div>
                            <div class=""><i class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                                <span class="font-weight-bold">в ТЦ Россиянка</span></div>
                            <div class="color-purple mt-2"><i class="fa fa-plus-square fs-14 mr-1"></i> <a href="#"
                                    class="border-bottom-dotted">ещё в 5 магазинах</a> </div>
                        </div>
                        <p class="f-14">Идеальная тушь для создания потрясающих объемных и подкрученных ресниц!
                            Благодаря особой изогнутой форме кисточки тушь прекрасно наносится и прокрашивает каждую
                            ресничку!</p>
                        <a href="#" class="btn btn-outline-primary px-5">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chooseCityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 pl-1 pl-lg-4">
            <div class="modal-body">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="d-flex align-items-center justify-content-between mt-4 pb-4 mb-3 border-bottom-solid">
                    <div class="fs-22">
                        <span>Ваш город:</span>
                        <span class="color-purple">Владивосток</span>
                    </div>
                    <button class="btn btn-outline-primary d-none d-lg-block" data-dismiss="modal">Да, верно</button>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-primary d-block d-lg-none mr-2" data-dismiss="modal">Да,
                        верно</button>
                    <button class="btn btn-primary choose-city-full-btn" data-dismiss="modal">Нет, выбрать
                        другой</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="messageSendedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content rounded-0 pl-4">
            <div class="modal-body ">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <img src="../img/send_ok.svg" class="modal-icon-top">
                <h2 class="color-black text-center modal-body-icon-top modal-hr">Сообщение<br>успешно отправлено</h2>
                <p class="fs-16 text-center mr-3">Ваше сообщение было отправлено нашим менеджерам.<br>В ближайшее время
                    если это необходимо, мы с вами свяжемся.</p>
                <div class="d-flex justify-content-center mb-3"><a href="#" class="border-bottom-dotted"
                        data-dismiss="modal">закрыть сообщение</a></div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resumeSendedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content rounded-0 pl-4">
            <div class="modal-body ">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <img src="../img/send_ok.svg" class="modal-icon-top">
                <h2 class="color-black text-center modal-body-icon-top modal-hr">Ваше резюме<br>успешно отправлено</h2>
                <p class="fs-16 text-center mr-3">Ваше резюме было отправлено в отдел кадров.<br>В ближайшее время мы с
                    вами свяжемся.</p>
                <div class="d-flex justify-content-center mb-3"><a href="#" class="border-bottom-dotted"
                        data-dismiss="modal">закрыть сообщение</a></div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reviewSendedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content rounded-0 pl-4">
            <div class="modal-body ">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <img src="../img/rating.svg" class="modal-icon-top background-purple rounded-circle p-3">
                <h2 class="color-black text-center modal-body-icon-top">Ваш отзыв на товар:</h2>
                <div class="text-center fs-22 mb-3">Название товара тут для примера</div>
                <div class="text-center fs-22 font-weight-bold color-purple modal-hr">был отправлен, и скоро будет
                    опубликован</div>
                <p class="fs-16 text-center mr-3">Большое спасибо что вы высказываете свои мнения.<br>Вы помогаете
                    улучшить наш ассортимент.</p>
                <div class="d-flex justify-content-center"><a href="#" class="border-bottom-dotted"
                        data-dismiss="modal">закрыть сообщение</a></div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chooseCityFullModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header rounded-0 d-none d-lg-block">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="justify-content-between mt-4 mb-3 row">
                    <div class="col-3">
                        <a href="#" class="d-block">Алтайский край</a>
                        <a href="#" class="d-block">Амурская область</a>
                        <a href="#" class="d-block">Архангельская область</a>
                        <a href="#" class="d-block">Астраханская область</a>
                        <a href="#" class="d-block">Белгородская область</a>
                        <a href="#" class="d-block">Брянская область</a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block">Владимирская область</a>
                        <a href="#" class="d-block">Волгоградская область</a>
                        <a href="#" class="d-block">Вологодская область</a>
                        <a href="#" class="d-block">Воронежская область</a>
                        <a href="#" class="d-block">Еврейская автономная область</a>
                        <a href="#" class="d-block">Забайкальский край</a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block">Калужская область</a>
                        <a href="#" class="d-block">Калужская область</a>
                        <a href="#" class="d-block">Карачаево-Черкесская Республика</a>
                        <a href="#" class="d-block">Кемеровская область</a>
                        <a href="#" class="d-block">Кировская область</a>
                        <a href="#" class="d-block">Костромская область</a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block">Ленинградская область</a>
                        <a href="#" class="d-block">Липецкая область</a>
                        <a href="#" class="d-block">Магаданская область</a>
                        <a href="#" class="d-block">Московская область</a>
                        <a href="#" class="d-block">Мурманская область</a>
                        <a href="#" class="d-block">Ненецкий автономный округ</a>
                    </div>
                </div>
            </div>
            <div class="modal-body px-2 px-lg-5 row pb-0">
                <div class="col-12 col-lg-4 d-flex align-items-center">
                    <p class="fs-20 line-height-100 mb-0">Выберите город из списка,<br>или воспользуйтесь поиском
                    </p>
                </div>
                <div class="col-12 my-3 my-lg-0 col-lg-4 d-flex align-items-center">
                    <p class="fs-20 mb-0"><img src="../img/location.svg" height="16" class="mr-2">Текущий город:
                        <span class="color-purple">Владивосток</span></p>
                </div>
                <div class="col-12 col-lg-4 d-flex align-items-center">
                    <div class="d-flex flex-grow-1 shop__search-city">
                        <input type="text" class="d-block shop__city fs-16 w-100" placeholder="Ваш город"
                            id="searchChooseCity">
                        <label for="searchChooseCity"><i class="fas fa-search color-gray-lightest"></i>&nbsp;</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mx-3 mb-3 mx-lg-5 mb-lg-5 js-scrollable">
                <div class="row city-choose-cities">
                    <div class="col">
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                    </div>
                    <div class="col">
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                    </div>
                    <div class="col">
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                    </div>
                    <div class="col">
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                    </div>
                    <div class="col">
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                        <a href="#" class="d-block">Санкт-Петербург</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade auth-modal error" id="authModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body ">
                <button type="button" class="close mb-4 ml-3 fs-18" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <img src="../img/login_popup.svg" class="modal-icon-top background-purple rounded-circle p-3">
                <h2 class="color-black text-center modal-body-icon-top modal-hr at font-weight-bold">Авторизация</h2>
                <div class="d-flex justify-content-center">
                    <div class="form">
                        <div class="form-group">
                            <input class="form-control" id="authLogin" name="email" placeholder="Электронная почта">
                            <i class="form-group-error fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="authPass" name="pass" placeholder="Пароль">
                            <i class="form-group-error fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="d-flex justify-content-between align-content-center mb-2">
                            <button class="btn btn-primary px-3">войти</button>
                            <div class="d-flex flex-column justify-content-center">
                                <a href="#" class="link-dotted">Забыли пароль?!</a>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox d-inline-block mr-3">
                            <input name="checbox-remember" type="checkbox" class="custom-control-input"
                                id="customCheckRememeber">
                            <label class="custom-control-label" for="customCheckRememeber">Запомнить меня</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-link" href="#">
                <a href="#"><i class="fas fa-plus-square mr-2 fs-16 font-weight-normal"></i>Регистрация аккаунта</a>
            </div>
            <div class="bottom-error">
                <i class="fas fa-exclamation-triangle fs-12 mr-1"></i>
                <span>Неверная комбинация логина и пароля</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 650px;" role="document">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body p-0">
                <div class="background-purple d-flex justify-content-between pl-5 pr-3">
                    <div class="d-flex align-items-center">
                        <span class="font-weight-normal color-white fs-22">информация о заказе</span>
                    </div>
                    <button type="button" class="close mb-4 mt-2 fs-18" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times color-white"
                                style="text-shadow: none;"></i></span>
                    </button>

                </div>
                <div class="px-5 pt-3 pb-5">
                    <div class="d-flex flex-wrap flex-lg-nowrap align-items-center">
                        <span class="fs-30 font-weight-bold color-purple mr-2 mb-2">ЗАКАЗ №</span>
                        <span class="color-white font-weight-bold fs-30 background-purple px-2 mr-3 mb-2">256</span>
                        <div>
                            <div class="font-weight-bold">
                                <span class="fs-16">НА СУММУ:</span>
                                <span class="fs-22">25 070 руб.</span>
                            </div>
                            <div class="text-muted fs-12">от 20.02.2019 12:24</div>
                        </div>
                    </div>
                    <hr class="pink">
                    <div class="row">
                        <div class="col-12 col-lg-5 mb-3">
                            <div class="fs-16 mb-2">Получатель:</div>
                            <div class="row fs-14">
                                <div class="col-4">ФИО:</div>
                                <div class="col-8 mb-1">Ивленко Анатолий Дмитриевич</div>
                                <div class="col-4">Телефон:</div>
                                <div class="col-8 mb-1">+7 950 255 6652</div>
                                <div class="col-4">Эл.почта:</div>
                                <div class="col-8">zakazprimer@mail.ru</div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="fs-16 mb-2">Доставка:</div>
                            <div class="row fs-14">
                                <div class="col-5">Тип доставки:</div>
                                <div class="col-7 mb-1">EMS доставка курьером</div>
                                <div class="col-5">Город:</div>
                                <div class="col-7 mb-1">Хабаровск</div>
                                <div class="col-5">Индекс:</div>
                                <div class="col-7 mb-1">650025</div>
                                <div class="col-5">Адрес:</div>
                                <div class="col-7">ул. Новоивановская, 25, кв. 12</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>