<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-full-menu js-menu-catalog-mobile">
        <nav class="menu-catalog menu-catalog__mobile">
            <ul class="nav flex-column menu-catalog__list">
                <li class="nav-item"><a class="nav-link collapsed" href="#">Парфюмерия</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#makeup" data-toggle="collapse" data-target="#makeup"
                        aria-expanded="true">Макияж</a>
                    <div class="menu-catalog__second-level collapse show" id="makeup" aria-expanded="false" style="">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#face" data-toggle="collapse" data-target="#face"
                                    aria-expanded="true">Лицо</a>
                                <div class="menu-catalog__third-level collapse show" id="face" aria-expanded="false"
                                    style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Корректор</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Тональные средства</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Пудра</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#">Глаза</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#">Губы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#">Ногти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#">Брови</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#">Украшения для тела и волос</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link collapsed" href="#">Уход и гигиена</a></li>
                <li class="nav-item"><a class="nav-link collapsed" href="#">Бижутерия</a></li>
                <li class="nav-item"><a class="nav-link collapsed" href="#">Аксессуары и одежда</a></li>
                <li class="nav-item"><a class="nav-link collapsed" href="#">Подарки</a></li>
            </ul>
        </nav>
        <div class="global-menu-mobile">
            <nav class="menu-catalog menu-catalog__global">
                <ul class="nav flex-column menu-catalog__list">
                    <li class="nav-item"><a class="nav-link" href="#">Магазины</a></li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#makeup" data-toggle="collapse" data-target="#makeup"
                            aria-expanded="false">Информация</a>
                        <div class="menu-catalog__second-level collapse" id="makeup" aria-expanded="false" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Возврат товаров</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Доставка и оплата</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Вопросы и ответы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Обратная связь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Раббота в Чудодей</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Оферта ООО "Табер Трейд"</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">3D Тур</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Карта сайта</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="mb-4">
                    <span class="d-block top-menu__icon top-menu__icon-city mb-2">ВЛАДИВОСТОК</span>
                    <span class="d-block top-menu__icon top-menu__icon-phone">+7 (423) 2-310-693</span>
                </div>
                <div class="mb-4">
                    <a href="#" class="btn btn-primary mr-2 active fs-12">РУС</a>
                    <a href="#" class="btn btn-primary fs-12">ENG</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="mobile-profile-menu" class="mobile-menu">
    <div class="mobile-full-menu shadow-none">
        <div>
            <div class="cabinet-menu mb-4">
                <a class="d-block cabinet-menu__element active"
                    href="/cabinet_.html">Общая информация</a>
                <a class="d-block cabinet-menu__element"
                    href="/cabinet-edit.html">Персональные данные</a>
                <a class="d-block cabinet-menu__element"
                    href="/cabinet-izbrannoe.html">Избранные товары</a>
                <a class="d-block cabinet-menu__element"
                    href="/cabinet-history.html">История заказов</a>
                <a class="d-block cabinet-menu__element"
                    href="/cabinet-changepass.html">Сменить пароль</a>
                <a class="d-block cabinet-menu__element" href="">Ваши бонусы</a>
                <a class="d-block cabinet-menu__element"
                    href="/cabinet-subscribe.html">Подписка на акциии
                    новости</a>
            </div>
            <button class="btn btn-outline-primary border-0 rounded-0 px-3 d-flex align-items-center"> <img src="../img/exit.svg"
                    height="12" class="mr-2"><span class="fs-14">выйти</span></button>
        </div>
    </div>
</div>
<div class="d-xl-none mobile-header">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-between align-items-center text-center">
            <div class="col-1">
                <a href="#" class="d-inline-block js-mobile-catalog">
                    <span class="hamburger hamburger--collapse">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-1">
                <a href="#" id="searchMobileContainer">
                    <img src="../img/icon-search-mobile-purple.svg" class="icon-mobile-search">
                </a>
            </div>
            <div class="col-5"><img src="../img/logo_footer.svg" class="img-fluid mobile-logo-image" alt="Чудодей">
            </div>
            <div class="col-1">
                <a href="#" class="menu-profile">
                    <img src="../img/icon-user-purple.svg" class="icon-mobile-user">
                </a>
            </div>
            <div class="col-1">
                <img src="../img/icon-cart-purple.svg" class="icon-mobile-cart">
            </div>
        </div>
    </div>
    <div id="searchContainerMobile" class="search-container search-container_mobile">
        <div class="search-container__search-field">
            <input type="text" placeholder="Напишите, что вы ищите" class="search-container__search-input">
            <button class="search-container__search-button"><img src="../img/search_button.svg" width="12" height="12"
                    alt="Поиск"></button>
        </div>
    </div>
</div>
<div id="content">
    <header>
        <!-- remove -->
        <div class="row w-100 p-5" style="display: none;" id="siteMap">
            <div class="col-6 col-lg-3">
                <button class="btn btn-primary d-block mb-3" id="testOpenMessageModal">Модалка "Сообщение
                    отправлено"</button>
                <button class="btn btn-primary d-block mb-3" id="testOpenReviewSendedModal">Модалка "Отзыв
                    отправлен"</button>
                <button class="btn btn-primary d-block mb-3" id="testOpenResumeModal">Модалка "Резюме
                    отправлено"</button>
                <button class="btn btn-primary d-block mb-3" id="testOpencityChoose1Modal">Модалка "Выбор города шаг
                    1"</button>
                <button class="btn btn-primary d-block mb-3" id="testOpenCityChoose2Modal">Модалка "Выбор города шаг
                    2"</button>
                <button class="btn btn-primary d-block mb-3" id="testOpenProduct1Modal">Модалка "Быстрый просмотр
                    1"</button>
                <button class="btn btn-primary d-block mb-3" id="testOpenProduct2Modal">Модалка "Быстрый просмотр
                    2"</button>

                <a href="./news-detail.html" class="btn btn-primary d-block mb-3">Новость</a>
                <a href="./partneram.html" class="btn btn-primary d-block mb-3">Партнерам</a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="./" class="btn btn-primary d-block mb-3">Главная</a>
                <a href="./7reasons.html" class="btn btn-primary d-block mb-3">7 причин</a>
                <a href="./404.html" class="btn btn-primary d-block mb-3">404</a>
                <a href="./brands.html" class="btn btn-primary d-block mb-3">Бренды</a>
                <a href="./promo_item.html" class="btn btn-primary d-block mb-3">Акция</a>
                <a href="./promo_new.html" class="btn btn-primary d-block mb-3">Акции</a>
                <a href="./search.html" class="btn btn-primary d-block mb-3">Поиск</a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="./catalog-brand.html" class="btn btn-primary d-block mb-3">Каталог брендов</a>
                <a href="./catalog_item3.html" class="btn btn-primary d-block mb-3">Продукт в1</a>
                <a href="./product.html" class="btn btn-primary d-block mb-3">Продукт в2</a>
                <a href="./catalog.html" class="btn btn-primary d-block mb-3">Каталог продуктов</a>
                <a href="./shops-new.html" class="btn btn-primary d-block mb-3">Список магазинов</a>
                <a href="./shops1.html" class="btn btn-primary d-block mb-3">Магазин</a>
                <a href="./shops-noshop.html" class="btn btn-primary d-block mb-3">Нет магазина</a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="./contact.html" class="btn btn-primary d-block mb-3">Контакты</a>
                <a href="./faq.html" class="btn btn-primary d-block mb-3">FAQ</a>
                <a href="./journal.html" class="btn btn-primary d-block mb-3">Журнал</a>
                <a href="./news.html" class="btn btn-primary d-block mb-3">Новости</a>
                <a href="./lessons-list.html" class="btn btn-primary d-block mb-3">Уроки список</a>
                <a href="./lesson-detail.html" class="btn btn-primary d-block mb-3">Урок</a>
                <a href="./3d-tour.html" class="btn btn-primary d-block mb-3">3D-Тур</a>
            </div>
            <hr class="col-12">
            <div class="col-6 col-lg-3">
                <button class="btn btn-primary d-block mb-3" id="testOrderModal">Модалка "Заказ"</button>
                <button class="btn btn-primary d-block mb-3" id="testAuthModal">Модалка "Логин"</button>
                <a href="./registration.html" class="btn btn-primary d-block mb-3">Регистрация</a>
                <a href="./registration-ok.html" class="btn btn-primary d-block mb-3">Регистрация ок</a>
                <a href="./certificat.html" class="btn btn-primary d-block mb-3">Сертификат</a>
                <a href="./certificat_ok.html" class="btn btn-primary d-block mb-3">Сертификат Ok</a>
                <a href="./cabinet-subscribe.html" class="btn btn-primary d-block mb-3">Подписка на акции и новости</a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="./cabinet_.html" class="btn btn-primary d-block mb-3">Кабинет</a>
                <a href="./cabinet_new.html" class="btn btn-primary d-block mb-3">Кабинет 2</a>
                <a href="./cabinet-add-adress.html" class="btn btn-primary d-block mb-3">Добавить адрес доставки</a>
                <a href="./cabinet-adresses.html" class="btn btn-primary d-block mb-3">Адреса доставки</a>
                <a href="./cabinet-changepass.html" class="btn btn-primary d-block mb-3">Смена пароля</a>
                <a href="./cabinet-edit.html" class="btn btn-primary d-block mb-3">Персональные данные</a>
                <a href="/cabinet-izbrannoe.html" class="btn btn-primary d-block mb-3">Кабинет избранное</a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="./cabinet-history.html" class="btn btn-primary d-block mb-3">Кабинет История</a>
                <a href="./cabinet-bonus.html" class="btn btn-primary d-block mb-3">Кабинет Бонусы</a>
                <a href="./cabinet-bonus_.html" class="btn btn-primary d-block mb-3">Кабинет Бонусы+</a>
                <a href="./cabinet-subscribe.html" class="btn btn-primary d-block mb-3">Подписка на акции и новости</a>
                <a href="./forgot-password.html" class="btn btn-primary d-block mb-3">Восстановление пароля</a>
                <a href="./forgot-password-ok.html" class="btn btn-primary d-block mb-3">Восстановление пароля ОК</a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="/promo-page.html" class="btn btn-primary d-block mb-3">Промо</a>
                <a href="/order.html" class="btn btn-primary d-block mb-3">Заказ</a>
                <a href="/order-step2.html" class="btn btn-primary d-block mb-3">Заказ шаг 2</a>
                <a href="/order-error.html" class="btn btn-primary d-block mb-3">Заказ ошибка</a>
                <a href="/order-ok.html" class="btn btn-primary d-block mb-3">Заказ ок</a>
                <a href="./cart.html" class="btn btn-primary d-block mb-3">Корзина</a>
                <a href="./empty_cart.html" class="btn btn-primary d-block mb-3">Пустая корзина</a>
            </div>
        </div>
        <!-- remove -->

        <div class="top-menu d-none d-xl-block">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col position-static">
                        <div class="d-xl-block">
                            <ul class="nav top-menu__nav">
                                <li class="nav-item">
                                    <a class="nav-link top-menu__icon top-menu__icon-city choose-city-btn"
                                        href="#">Владивосток</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link top-menu__icon top-menu__icon-phone" href="tel:+74232310693">+7
                                        (423)
                                        2-310-693</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Магазины</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true"
                                        aria-expanded="false">Информация</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">ВОЗВРАТ ТОВАРОВ</a>
                                        <a class="dropdown-item" href="#">ДОСТАВКА И ОПЛАТА</a>
                                        <a class="dropdown-item" href="#">ВОПРОСЫ И ОТВЕТЫ</a>
                                        <a class="dropdown-item" href="#">ОБРАТНАЯ СВЯЗЬ</a>
                                        <a class="dropdown-item" href="#">РАБОТА В ПОДРУЖКЕ</a>
                                        <a class="dropdown-item" href="#">ОФЕРТА ООО «ТАБЕР ТРЕЙД»</a>
                                        <a class="dropdown-item" href="#">3D ТУР</a>
                                        <a class="dropdown-item" href="#">КАРТА САЙТА</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-6">
                        <a href="#" class="logo">
                            <img src="../img/logo.svg" id="openMap" class="img-fluid" alt="Чудодей">
                        </a>
                    </div>
                    <div class="col">

                        <ul class="nav justify-content-end top-menu__nav">
                            <li class="nav-item">
                                <a class="nav-link top-menu__icon top-menu__icon-search" id="searchToggleButton"
                                    href="#">&nbsp;<span class="d-none d-lg-inline">Поиск</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Личный кабинет</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link top-menu__icon top-menu__icon-cart" href="./cart.html">Ваша
                                    корзина</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#">Рус</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#">Eng</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div id="searchContainer" class="search-container">
                <div class="search-container__search-field">
                    <input type="text" placeholder="Напишите, что вы ищите" class="search-container__search-input">
                    <button class="search-container__search-button"><img src="../img/search_button.svg" width="12"
                            height="12" alt="Поиск"></button>
                    <button class="search-container__hide-button" id="buttonHideSearchContainer">свернуть</button>
                </div>
            </div>
        </div>
        <div id="backgroundOverlay"></div>
    </header>