<nav class="nav-main d-none d-xl-block">
    <div class="container">
        <ul class="nav nav-fill">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Парфюмерия</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner-container col-3">
                                <div class="dropdown-menu__banner-title">товар дня</div>
                                <div class="dropdown-menu__banner-content">
                                    <img src="../img/tmp/product-2.jpg" alt="" class="dropdown-menu__banner-img">
                                    <div class="dropdown-menu__banner-product">
                                        <h2 class="dropdown-menu__banner-header">L'OREAL PARIS</h2>
                                        <p class="dropdown-menu__banner-info">Средство для снятия водостойкого
                                            макияжа с глаз и губ и тому подобное </p>
                                        <p class="dropdown-menu__banner-price">244 руб.</p>
                                        <button
                                                class="btn btn-secondary btn-sm product__buy text-uppercase">купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Макияж</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Уход и гигиена</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Бижутерия</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Аксессуары и одежда</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Подарки</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-main__divider"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Акции</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#">Бренды</a>
                <div class="dropdown-menu dropdown-menu__main-menu">
                    <div class="container">
                        <div class="row">
                            <div class="dropdown-menu__items col-9 row flex-nowrap">
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Лицо</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Глаза</a>
                                    <a class="dropdown-item" href="#">База для теней</a>
                                    <a class="dropdown-item" href="#">Карандаши</a>
                                    <a class="dropdown-item" href="#">Тени</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Губы</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Ногти</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                                <div class="dropdown-menu__col col">
                                    <a class="dropdown-item dropdown-item_header" href="#">Брови</a>
                                    <a class="dropdown-item" href="#">Корректор</a>
                                    <a class="dropdown-item" href="#">Тональные средства</a>
                                    <a class="dropdown-item" href="#">Пудра</a>
                                    <a class="dropdown-item" href="#">Румяна</a>
                                    <a class="dropdown-item" href="#">Хайлайтеры</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                    <a class="dropdown-item" href="#">Контурирование</a>
                                    <a class="dropdown-item" href="#">Прочее</a>
                                </div>
                            </div>
                            <div class="dropdown-menu__banner col-3"></div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</nav>