<% var itemClass = typeof itemClass === 'undefined' ? '' : itemClass %>

<div class="menu__category col">
    <a class="menu__header" href="#"><%= header %></a>
    <% items.forEach(function(item) { %>
    <a class="menu__item <%= itemClass %>" href="#"><%= item %></a>
    <% }); %>
</div>