<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Просмотр журнала – веб-версия</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="overflow-x-hidden">
        <section class="container mb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/">Информация</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Просмотр журнала</li>
                </ol>
            </nav>

            <h1 class="mb-3">3D-ТУР</h1>

            <section class="tour-3d">
                <img src="img/circle1.svg" class="bg-tour-3d-1 d-none d-lg-block">
                <img src="img/circle2.svg" class="bg-tour-3d-2 d-none d-lg-block">
                <img src="img/circle4.svg" class="bg-tour-3d-3 d-none d-lg-block">
                <img src="img/circle7.svg" class="bg-tour-3d-4 d-none d-lg-block">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <iframe class="tour-3d-iframe" height="650" frameborder="0" style="width: 100%; border:0;"
                            src="https://www.google.com/maps/embed?pb=!4v1529461681316!6m8!1m7!1sCAoSLEFGMVFpcFBEakZaeG9QOXhGenhvaTlueWVFYXozZkJSd0p4N2VXQkxXU1BP!2m2!1d43.09809110665321!2d131.9389038219641!3f90.6956871552844!4f-1.9329114179550828!5f0.4000000000000002"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
            </section>
        </section>

        <section class="magazine d-flex justify-content-center overflow-hidden">
            <img src="img/circle1.svg" class="magazine__img1 d-none d-lg-block">
            <img src="img/circle2.svg" class="magazine__img2 d-none d-lg-block">
            <div class="magazine__img3">
                <img src="img/circle6.svg" class="d-none d-lg-block">
            </div>

            <div class="container row">
                <div class="col-lg-6 text-right">
                    <img class="d-inline-block img-fluid" height="350" src="img/tmp/magazine.png" alt="">
                </div>
                <div class="col-lg-6 h-20 magazine__text">
                    <h1 class="mb-4">Журнал «Чудодей»</h1>
                    <span class="d-block fs-20 font-weight-bold color-purple mb-4">Бесплатно во всех магазинах</span>
                    <span class="magazine__item">Ежемесячный выпуск свежего издания</span>
                    <span class="magazine__item">Узнавайте о новинках и хитах, среди наших товаров.</span>
                    <span class="magazine__item">Свежая информация о акциях и распродажах.</span>
                </div>
            </div>
        </section>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>