<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Страница не найдена</li>
                </ol>
            </nav>

            <div class="d-inline-block img404">
                <img src="img/404_symbols.png">
                <img src="img/404_pomade.png" class="position-absolute">
            </div>

            <h1>Страница не найдена!</h1>

            <p class="fs-16 mb-3">К сожалению запрашиваемая вами страница<br>не найдена, или более недоступна.</p>
            <p class="fs-16 mb-5">Попробуйте найти её самостоятельно через поиск,<br>или используя структуру.</p>

            <div class="d-inline-block w-100 w-md-75 w-lg-50 position-relative mb-5">
                <div class="d-flex shop__search-city w-100 w-md-75 m-auto position-relative">
                    <input type="text" class="d-block shop__city fs-16 w-100" placeholder="поиск товаров в каталоге"
                        id="shopChooseCity"><label for="shopChooseCity" data-fon="✉" data-text="email"><img
                            src="img/search_purple.svg">&nbsp;</label>
                    <button class="ml-1 btn btn-primary d-block font-weight-bold text-uppercase fs-14">
                        <span class="align-middle">Найти</span>
                    </button>
                </div>
            </div>
            <div class="mb-5 d-block color-purple">
                <a href="/">
                    <i class="fas fa-arrow-left fs-12 mr-1"></i>
                    <span class="fs-16 font-weight-bold">перейти на главную страницу</span>
                </a>
            </div>
        </section>

        <section class="magazine d-flex justify-content-center">
            <img src="img/circle1.svg" class="magazine__img1 d-none d-lg-block">
            <img src="img/circle2.svg" class="magazine__img2 d-none d-lg-block">
            <div class="magazine__img3">
                <img src="img/circle6.svg" class="d-none d-lg-block">
            </div>

            <div class="container row">
                <div class="col-lg-6 text-right">
                    <img class="d-inline-block img-fluid" height="350" src="img/tmp/magazine.png" alt="">
                </div>
                <div class="col-lg-6 h-20 magazine__text">
                    <h1 class="mb-4">Журнал «Чудодей»</h1>
                    <span class="d-block fs-20 font-weight-bold color-purple mb-4">Бесплатно во всех магазинах</span>
                    <span class="magazine__item">Ежемесячный выпуск свежего издания</span>
                    <span class="magazine__item">Узнавайте о новинках и хитах, среди наших товаров.</span>
                    <span class="magazine__item">Свежая информация о акциях и распродажах.</span>
                </div>
            </div>
        </section>

    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>