<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Информация</a></li>
                <li class="breadcrumb-item active" aria-current="page">7 причин</li>
            </ol>
        </nav>

        <h1 class="fs-50">7 причин работать в Чудодей</h1>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">1</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">2</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">3</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">4</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">5</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">6</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-flex align-items-start seven-reasons-item mb-4">
            <div
                class="seven-reasons-number fs-20 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                <span class="d-block">7</span>
            </div>
            <div>
                <h2 class="color-black">Название первой причины для примера</h2>
                <hr>
                <p class="fs-16">Интеграл Пуассона доказан. Коммуникация откровенно цинична. Общество потребления
                    небезынтересно трансформирует потребительский детерминант. Достаточное условие сходимости
                    оправдывает критерий интегрируемости. Искусство медиапланирования, не вдаваясь в подробности,
                    допускает креативный интеграл по бесконечной области. Натуральный логарифм отталкивает
                    равновероятный тройной интеграл, опираясь на опыт западных коллег.</p>
            </div>
        </section>

        <section class="d-none d-lg-block">
            <div class="d-flex mb-4">
                <p class="fs-30 color-blue-dark mr-5">Отправить резюме</p>
                <div>
                    <p class="fs-20 mb-1">Ваше резюме вы можете выслать нам по почте <a
                            href="mailto:info@chudodey.com">info@chudodey.com</a>, или через форму ниже.</p>
                    <p class="fs-16">Мы будем рады видеть вас в составе нашей команды.</p>
                </div>
            </div>

            <form class="needs-validation seven-reasons-form" novalidate>
                <div class="form-row">

                    <div class="form-group col-md-7 mr-1">
                        <label for="inputState">Выберите должность, вакансию <span class="color-red">*</span></label>
                        <select id="inputState" class="form-control no-radius" required>
                            <option class="color-gray" value="" disabled selected>- выберите подходящую для вас вакансию
                                -</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for="validationCustom01">Ваше имя и фамилия <span class="color-red">*</span></label>
                        <input type="text" class="form-control no-radius" id="validationCustom01" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom02">Электронная почта <span class="color-red">*</span></label>
                        <input type="email" class="form-control no-radius" id="validationCustom02" required>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom03">Номер телефона <span class="color-red">*</span></label>
                        <input type="tel" class="form-control no-radius" id="validationCustom03"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    </div>
                    <div class="form-group col-md-6 pt-3">
                        <label for="exampleFormControlFile1 d-block">Прикрепить файл-резюме</label>
                        <div class="d-flex mx-0 align-items-center mb-3">
                            <label class="btn btn-primary px-4 py-2 mb-0" id="sevenPFile">
                                <i class="fas fa-paperclip fs-12 mr-2"></i> Прикрепить файл <input id="sevenPFilesInput" type="file"
                                    class="d-none" multiple required>
                            </label>
                            <span class="col fs-12 d-block">Допустимые типы файлов: pdf, doc, docx, rtf<br>Размер файла
                                не более 2 Мб</span>
                        </div>
                        <div id="previewFiles"></div>
                    </div>
                    <div class="col-6 pt-3">
                        <label class="d-block">&nbsp;</label>

                        <div class="d-flex align-items-center mb-3">
                            <button class="btn btn-blue d-block mr-3 text-uppercase" type="submit">Отправить
                                резюме</button>
                            <span class="fs-16"><span class="color-red">*</span> - обязательные поля для
                                заполнения</span>
                        </div>
                        <p class="fs-12">Нажимая кнопку “Отправить сообщение” вы принимаете <a class="color-blue-dark"
                                href="#">пользовательское соглашение</a> на обработку персональной информации согласно
                            152ФЗ</p>
                    </div>
                    <div class="col-12 d-flex mb-3 align-items-center">
                        <img class="mr-2" height="22" src="img/error.svg" alt="">
                        <span class="color-red fs-12">Пожалуйста заполните все обязательные поля перед отправкой
                            резюме</span>
                    </div>
                </div>
            </form>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </section>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>