<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>
    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Бренды</li>
            </ol>
        </nav>

        <h1 class="text-uppercase">Бренды</h1>

        <div class="d-block d-lg-flex justify-content-between pb-2 pb-lg-4 mb-3 mb-lg-1 border-bottom-dotted">
            <div class="d-block d-lg-flex">
                <div class="d-flex align-items-center mr-5 mb-2">
                    <img src="img/globe.svg" width="15" class="mr-2">
                    <span class="fs-16 font-weight-bold mr-1">Страна:</span>
                    <div class="sel sel--black-panther" style="width: 160px;">
                        <select name="select-profession" id="select-profession">
                            <option value="all">Все страны</option>
                            <option value="n">Почти все страны</option>
                            <option value="n2">Не все страны</option>
                            <option value="e">Некоторые страны</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center ml-lg-5 mb-2">
                    <img src="img/list.svg" width="15" class="mr-2">
                    <span class="fs-16 font-weight-bold mr-1">Категория:</span>
                    <div class="sel sel--black-panther" style="width: 180px;">
                        <select name="select-profession" id="select-profession">
                            <option value="all">Все категории</option>
                            <option value="n">Почти все категории</option>
                            <option value="n2">Не все категории</option>
                            <option value="e">Некоторые категории</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center fs-16">
                <span>Брендов:</span>&nbsp;<span class="font-weight-bold">98 шт.</span>
            </div>
        </div>

        <div class="brand-list d-flex mb-2">
            <div class="brand-letter fs-30">A</div>
            <div class="row my-3 mx-4 w-100">
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
            </div>
        </div>

        <div class="brand-list d-flex mb-2">
            <div class="brand-letter fs-30">B</div>
            <div class="row my-3 mx-4 w-100">
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">AAAA</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                    <a href="#" class="brand-list__item d-block">aaaa</a>
                </div>
            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>