<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
                <li class="breadcrumb-item">Подписка на акции и новости</li>
            </ol>
        </nav>

        <h1>Подписка на акции и новости</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 6}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card mb-3">
                    <h2 class="color-black">Настройка подписки</h2>
                    <hr>
                    <div class="form-group">
                        <label for="formEmail">Электронная почта</label>
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <input type="email" name="email" id="formEmail" class="form-control">
                            </div>
                            <small class="col-12 col-lg-7 d-flex align-items-center">После добавления или изменения адреса
                                подписки вам будет выслан код подтверждения. Подписка не будет активной до
                                активации.</small>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="formPhone">Номер телефона (смс)</label>
                        <input type="tel" name="phone" id="formPhone" class="form-control w-100 w-lg-auto" style="width: 200px;">
                    </div>
                    <div class="font-weight-bold mb-3">Рубрики подписок</div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Новинки нашего ассортимента</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">Скидки и акции на товары</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">Уроки макияжа</label>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-lg-row flex-column">
                        <button class="btn btn-primary text-uppercase px-4 fs-14">Сохранить изменения</button>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>