<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
                <li class="breadcrumb-item"><a href="/">Персональные данные</a></li>
            </ol>
        </nav>

        <h1>Персональные данные</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 1}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-4 form-group">
                            <label for="formFirstName">Ваше имя <span class="color-red">*</span></label>
                            <input type="text" id="formFirstName" name="first-name" class="form-control">
                        </div>
                        <div class="col-12 col-lg-4 form-group">
                            <label for="formMiddleName">Отчество</label>
                            <input type="text" id="formMiddleName" name="middle-name" class="form-control">
                        </div>
                        <div class="col-12 col-lg-4 form-group">
                            <label for="formLastName">Фамилия <span class="color-red">*</span></label>
                            <input type="text" id="formLastName" name="last-name" class="form-control">
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <label>Пол</label>
                            <div class="d-flex">
                                <div class="custom-control custom-radio mr-3">
                                    <input type="radio" id="customRadioSexF" name="sex" class="custom-control-input"
                                        value="f">
                                    <label class="custom-control-label" for="customRadioSexF">Женский</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadioSexM" name="sex" class="custom-control-input"
                                        value="f">
                                    <label class="custom-control-label" for="customRadioSexM">Мужской</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-lg-3 mb-3">
                            <label for="formBirthdayName">Дата рождения</label>
                            <input type="date" id="formBirthdayName" name="birthday" class="form-control cabinet__date">
                        </div>
                        <div class="col-12 col-lg-5">
                            <label for="formCity">Город <span class="color-red">*</span></label>
                            <select class="form-control" name="city" id="formCity">
                                <option value="prim">Владивосток</option>
                                <option value="prim">Уссурийск</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="formEmail">Электронная почта <span class="color-red">*</span></label>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-control rounded-0 d-flex align-items-center p-1">
                                        <input type="email" name="email" id="formEmail"
                                            class="border border-white px-2 px-lg-3 flex-grow-1">
                                        <span class="fs-12 text-success d-none d-lg-inline">почта подтверждена</span>
                                    </div>
                                    <div class="d-bloc d-lg-none fs-12 text-success border px-2 py-1 mb-2"
                                        style="margin-top: -1px">почта подтверждена</div>
                                </div>
                                <small class="col-12 col-lg-6">
                                    <span class="d-block">Является логином для входа на сайт.</span>
                                    <span class="d-block">Также на него будут приходить уведомления о статусах
                                        заказа</span class="f-block">
                                </small>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="formTel">Номер телефона <span class="color-red">*</span></label>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-control rounded-0 d-flex px-1 py-1">
                                        <input type="tel" name="phone" id="formTel"
                                            class="border border-white px-3 flex-grow-1">
                                        <button
                                            class="btn border fs-14 flex-shrink-0 py-0 px-1 rounded-0 d-none d-lg-inline">привязать
                                            новый номер</button>
                                    </div>
                                    <div class="border d-block d-lg-none p-1">
                                        <button class="btn border fs-14 flex-shrink-0 py-1 px-2 rounded-0">привязать
                                            новый номер</button>
                                    </div>
                                    <div class="d-none d-lg-block px-4 py-3 background-gray-superlight">
                                        <label for="phoneConfirmCode" class=" font-weight-bold">Код из СМС</label>
                                        <div class="d-flex">
                                            <input type="text" id="phoneConfirmCode" class="form-control mr-2 rounded-0"
                                                style="width: 100px;">
                                            <button class="btn btn-secondary fs-14 px-3 rounded-0">подтвердить</button>
                                            <button class="btn color-pink"><i class="fas fa-redo-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <small class="col-12 col-lg-6">Контактный номер телефона нужен для уточнения деталей
                                    заказа при
                                    необходимости
                                </small>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-lg-flex">
                        <div class="mr-3 font-weight-bold mb-2">Уведомления о смене статусов заказа:</div>
                        <div class="custom-control custom-checkbox d-block mr-5 mb-1">
                            <input name="checbox-email" type="checkbox" class="custom-control-input" id="customEmail">
                            <label class="custom-control-label" for="customEmail">Электронная почта</label>
                        </div>
                        <div class="custom-control custom-checkbox d-block mr-3">
                            <input name="checbox-sms" type="checkbox" class="custom-control-input" id="customSms">
                            <label class="custom-control-label" for="customSms">СМС</label>
                        </div>
                    </div>
                    <hr>
                    <div class="d-lg-flex justify-content-between">
                        <div class="d-flex d-lg-block flex-column">
                            <button class="btn btn-primary text-uppercase px-4 fs-14 mb-2">Сохранить изменения</button>
                        </div>
                        <button class="btn border rounded-0 color-black text-lowercase px-4 fs-14"><i
                                class="fas fa-key fs-10"></i> Сменить пароль</button>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>