<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
                <li class="breadcrumb-item active">Ваши бонусы</li>
            </ol>
        </nav>

        <h1>Ваши бонусы</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 3}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card" style="border-bottom: none;">
                    <div class="">
                        <div>
                            <button class="btn btn-info px-4 mr-lg-3">Все</button>
                            <button class="btn btn-hover-info-secondary px-4 mr-lg-3">Текущие</button>
                            <button class="btn btn-hover-info-secondary px-4">Архив</button>
                            <button class="btn btn-hover-info-secondary px-4">Отмененные</button>
                        </div>
                    </div>
                </div>
                <div class="cabinet__card">
                    <div class="mb-4">
                        <div class="background-gray-superlight px-3 py-1 mb-1 d-none d-lg-block">
                            <div class="row fs-12 text-muted">
                                <div class="col">номер заказа</div>
                                <div class="col">дата</div>
                                <div class="col">товаров</div>
                                <div class="col">на сумму</div>
                                <div class="col">бонусов</div>
                                <div class="col">оплата</div>
                                <div class="col">статус</div>
                            </div>
                        </div>
                        <div class="p-lg-3">
                            <div class="row">
                                <div class="col-4 col-lg">
                                    <button
                                        class="btn btn-link px-0 d-flex text-decoration-none font-weight-bold cabinet-history-item collapsed"
                                        type="button" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne" style="font-size: 20px;">
                                        <span class="mr-2">100214</span>
                                        <span>
                                            <span class="toggler"></span>
                                        </span>
                                    </button>
                                </div>
                                <div class="col">
                                    <span class="h-100 d-flex align-items-center"><span
                                            class="d-inline d-lg-none mr-1">от</span> 05.10.2019</span>
                                </div>
                                <div class="col font-weight-bold d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">5 шт.</span>
                                </div>
                                <div class="col font-weight-bold d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">1 800 руб.</span>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">+250</span>
                                </div>
                                <div class="col text-success d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">оплачен</span>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">новый</span>
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                            <div class="row d-lg-none">
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-5 mb-3">
                                    <div class="text-muted line-height-100 fs-12 fs-12">товаров</div>
                                    <span>5 шт.</span>
                                </div>
                                <div class="col-4 font-weight-bold">
                                    <div class="text-muted line-height-100 fs-12">на сумму</div>
                                    <span>1 800 руб.</span>
                                </div>
                                <div class="col-3 font-weight-bold">
                                    <div class="text-muted line-height-100 fs-12">бонусов</div>
                                    <span>+250</span>
                                </div>
                                <div class="col-5 text-success">
                                    <div class="text-muted line-height-100 fs-12">оплата</div>
                                    <span>оплачен</span>
                                </div>
                                <div class="col-5">
                                    <div class="text-muted line-height-100 fs-12">статус</div>
                                    <span>новый</span>
                                </div>
                            </div>
                            <hr class="purple">
                            <div class="mb-2">
                                <div class="row text-muted fs-12 d-none d-lg-flex">
                                    <div class="col-6">
                                        <span class="pl-3">Товар</span>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3">Цена</div>
                                            <div class="col-2">Кол-во</div>
                                            <div class="col-3">Сумма</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#"
                                                    class="btn btn-secondary cabinet-history-addition w-auto px-3">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-secondary cabinet-history-addition">купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-primary cabinet-history-addition">
                                                    <i class="fas fa-check mr-1 fs-5"></i>
                                                    ЕЩЁ
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-primary cabinet-history-addition">
                                                        <i class="fas fa-check mr-1 fs-5"></i>
                                                        ЕЩЁ
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#"
                                                    class="btn btn-secondary cabinet-history-addition w-auto px-3">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-secondary cabinet-history-addition">купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between px-lg-3 cabinet-history__reorder">
                                <div class="text-uppercase controls">
                                    <a href="#" class="btn btn-primary font-weight-bold fs-10 mr-2 mb-2">подробнее</a>
                                    <a href="#" class="btn btn-info font-weight-bold fs-10 mr-2 mb-2">повторить
                                        заказ</a>
                                    <a href="#" class="btn btn-outline-primary font-weight-bold fs-10 mr-2 mb-2">
                                        <i class="fas fa-ban mr-1"></i>
                                        <span>отменить заказ</span></a>
                                </div>
                                <div class="info mb-3 mb-lg-0">
                                    <div class="d-flex justify-content-lg-end text-lg-right">
                                        <div class="font-weight-bold mr-3">
                                            <div class="fs-14">Доставка:</div>
                                            <div class="fs-16">Итого:</div>
                                        </div>
                                        <div>
                                            <div class="fs-14">500 руб.</div>
                                            <div class="fs-16">24 520 руб.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-1">
                        <div class="p-lg-3">
                            <div class="row">
                                <div class="col-4 col-lg">
                                    <button
                                        class="btn btn-link px-0 d-flex text-decoration-none font-weight-bold cabinet-history-item collapsed"
                                        type="button" id="heading2" data-toggle="collapse" data-target="#collapse2"
                                        aria-expanded="true" aria-controls="collapse2" style="font-size: 20px;">
                                        <span class="mr-2">100214</span>
                                        <span>
                                            <span class="toggler"></span>
                                        </span>
                                    </button>
                                </div>
                                <div class="col">
                                    <span class="h-100 d-flex align-items-center"><span
                                            class="d-inline d-lg-none mr-1">от</span> 05.10.2019</span>
                                </div>
                                <div class="col font-weight-bold d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">5 шт.</span>
                                </div>
                                <div class="col font-weight-bold d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">1 800 руб.</span>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">+250</span>
                                </div>
                                <div class="col text-success d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">оплачен</span>
                                </div>
                                <div class="col d-none d-lg-block text-danger">
                                    <span class="h-100 d-flex align-items-center">отменен</span>
                                </div>
                            </div>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2">
                            <div class="row d-lg-none">
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-5 mb-3">
                                    <div class="text-muted line-height-100 fs-12 fs-12">товаров</div>
                                    <span>5 шт.</span>
                                </div>
                                <div class="col-4 font-weight-bold">
                                    <div class="text-muted line-height-100 fs-12">на сумму</div>
                                    <span>1 800 руб.</span>
                                </div>
                                <div class="col-3 font-weight-bold">
                                    <div class="text-muted line-height-100 fs-12">бонусов</div>
                                    <span>+250</span>
                                </div>
                                <div class="col-5 text-success">
                                    <div class="text-muted line-height-100 fs-12">оплата</div>
                                    <span>оплачен</span>
                                </div>
                                <div class="col-5 text-danger">
                                    <div class="text-muted line-height-100 fs-12">статус</div>
                                    <span>отменен</span>
                                </div>
                            </div>
                            <hr class="purple">
                            <div class="mb-2">
                                <div class="row text-muted fs-12 d-none d-lg-flex">
                                    <div class="col-6">
                                        <span class="pl-3">Товар</span>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3">Цена</div>
                                            <div class="col-2">Кол-во</div>
                                            <div class="col-3">Сумма</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#"
                                                    class="btn btn-secondary cabinet-history-addition w-auto px-3">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-secondary cabinet-history-addition">купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-primary cabinet-history-addition">
                                                    <i class="fas fa-check mr-1 fs-5"></i>
                                                    ЕЩЁ
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-primary cabinet-history-addition">
                                                        <i class="fas fa-check mr-1 fs-5"></i>
                                                        ЕЩЁ
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#"
                                                    class="btn btn-secondary cabinet-history-addition w-auto px-3">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-secondary cabinet-history-addition">купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between px-lg-3 cabinet-history__reorder">
                                <div class="text-uppercase controls">
                                    <a href="#" class="btn btn-primary font-weight-bold fs-10 mr-2 mb-2">подробнее</a>
                                    <a href="#" class="btn btn-info font-weight-bold fs-10 mr-2 mb-2">повторить
                                        заказ</a>
                                    <a href="#" class="btn btn-outline-primary font-weight-bold fs-10 mr-2 mb-2">
                                        <i class="fas fa-ban mr-1"></i>
                                        <span>отменить заказ</span></a>
                                </div>
                                <div class="info mb-3 mb-lg-0">
                                    <div class="d-flex justify-content-lg-end text-lg-right">
                                        <div class="font-weight-bold mr-3">
                                            <div class="fs-14">Доставка:</div>
                                            <div class="fs-16">Итого:</div>
                                        </div>
                                        <div>
                                            <div class="fs-14">500 руб.</div>
                                            <div class="fs-16">24 520 руб.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-1">
                        <div class="p-lg-3">
                            <div class="row">
                                <div class="col-4 col-lg">
                                    <button
                                        class="btn btn-link px-0 d-flex text-decoration-none font-weight-bold cabinet-history-item collapsed"
                                        type="button" id="heading3" data-toggle="collapse" data-target="#collapse3"
                                        aria-expanded="true" aria-controls="collapse3" style="font-size: 20px;">
                                        <span class="mr-2">100214</span>
                                        <span>
                                            <span class="toggler"></span>
                                        </span>
                                    </button>
                                </div>
                                <div class="col">
                                    <span class="h-100 d-flex align-items-center"><span
                                            class="d-inline d-lg-none mr-1">от</span> 05.10.2019</span>
                                </div>
                                <div class="col font-weight-bold d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">5 шт.</span>
                                </div>
                                <div class="col font-weight-bold d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">1 800 руб.</span>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">+250</span>
                                </div>
                                <div class="col d-none d-lg-block text-danger">
                                    <span class="h-100 d-flex align-items-center">не оплачен</span>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <span class="h-100 d-flex align-items-center">в работе</span>
                                </div>
                            </div>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3">
                            <div class="row d-lg-none">
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-5 mb-3">
                                    <div class="text-muted line-height-100 fs-12 fs-12">товаров</div>
                                    <span>5 шт.</span>
                                </div>
                                <div class="col-4 font-weight-bold">
                                    <div class="text-muted line-height-100 fs-12">на сумму</div>
                                    <span>1 800 руб.</span>
                                </div>
                                <div class="col-3 font-weight-bold">
                                    <div class="text-muted line-height-100 fs-12">бонусов</div>
                                    <span>+250</span>
                                </div>
                                <div class="col-5 text-danger">
                                    <div class="text-muted line-height-100 fs-12">оплата</div>
                                    <span>не оплачен</span>
                                </div>
                                <div class="col-5">
                                    <div class="text-muted line-height-100 fs-12">статус</div>
                                    <span>в работе</span>
                                </div>
                            </div>
                            <hr class="purple">
                            <div class="mb-2">
                                <div class="row text-muted fs-12 d-none d-lg-flex">
                                    <div class="col-6">
                                        <span class="pl-3">Товар</span>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3">Цена</div>
                                            <div class="col-2">Кол-во</div>
                                            <div class="col-3">Сумма</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#"
                                                    class="btn btn-secondary cabinet-history-addition w-auto px-3">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-secondary cabinet-history-addition">купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="btn btn-primary cabinet-history-addition">
                                                    <i class="fas fa-check mr-1 fs-5"></i>
                                                    ЕЩЁ
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-primary cabinet-history-addition">
                                                        <i class="fas fa-check mr-1 fs-5"></i>
                                                        ЕЩЁ
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-lg-6 fs-14">
                                        <a href="#" class="d-block mb-2 pl-lg-3">Пудра компактная для лица `VIVIENNE
                                            SABO` IDEAL
                                            SUBLIME против изъянов кожи тон А2</a>
                                        <div class="d-block d-lg-none">
                                            <div class="d-flex align-items-center">
                                                <div class="input-counter input-counter-extra-sm mr-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="btn" type="button"
                                                                id="button-minus">-</button>
                                                        </div>
                                                        <input type="text" class="form-control p-0 text-center"
                                                            aria-label="Количество" id="productCount" value="1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary color-black" type="button"
                                                                id="button-plus">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#"
                                                    class="btn btn-secondary cabinet-history-addition w-auto px-3">купить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 fs-14 color-black">439 руб.</div>
                                            <div class="col-12 col-lg-2 fs-14"><span
                                                    class="d-inline d-lg-none color-purple mr-1">x</span>1 шт.</div>
                                            <div class="col-12 col-lg-3 fs-14 font-weight-bold">439 руб.</div>
                                            <div class="col-4 pl-0 d-none d-lg-block">
                                                <div class="d-flex align-items-center">
                                                    <div class="input-counter input-counter-extra-sm mr-1">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary color-black"
                                                                    type="button" id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#"
                                                        class="btn btn-secondary cabinet-history-addition">купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr class="py-0 my-2">
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between px-lg-3 cabinet-history__reorder">
                                <div class="text-uppercase controls">
                                    <a href="#" class="btn btn-primary font-weight-bold fs-10 mr-2 mb-2">подробнее</a>
                                    <a href="#" class="btn btn-info font-weight-bold fs-10 mr-2 mb-2">повторить
                                        заказ</a>
                                    <a href="#" class="btn btn-outline-primary font-weight-bold fs-10 mr-2 mb-2">
                                        <i class="fas fa-ban mr-1"></i>
                                        <span>отменить заказ</span></a>
                                </div>
                                <div class="info mb-3 mb-lg-0">
                                    <div class="d-flex justify-content-lg-end text-lg-right">
                                        <div class="font-weight-bold mr-3">
                                            <div class="fs-14">Доставка:</div>
                                            <div class="fs-16">Итого:</div>
                                        </div>
                                        <div>
                                            <div class="fs-14">500 руб.</div>
                                            <div class="fs-16">24 520 руб.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-1">
                    </div>
                </div>
            </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>