<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
            </ol>
        </nav>

        <h1>Добавить адрес доставки</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 0}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-5 form-group">
                            <label for="formOblast">Область, край <span class="color-red">*</span></label>
                            <select class="form-control" name="oblast" id="formOblast">
                                <option value="prim">Приморский край</option>
                                <option value="prim">Московская область</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-5 form-group">
                            <label for="formCity">Город <span class="color-red">*</span></label>
                            <select class="form-control" name="city" id="formCity">
                                <option value="prim">Владивосток</option>
                                <option value="prim">Уссурийск</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-2 form-group">
                            <label for="formIndex">Индекс <span class="color-red">*</span></label>
                            <input class="form-control" id="formIndex" name="index">
                        </div>
                        <div class="col-12 col-lg-5 form-group">
                            <label for="formIndex">Индекс <span class="color-red">*</span></label>
                            <input class="form-control" id="formIndex" name="index">
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="formHouse">Дом <span class="color-red">*</span></label>
                                        <input class="form-control" id="formHouse" name="house">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="formApartment">Квартира&nbsp;<span class="color-red">*</span></label>
                                        <input class="form-control" id="formApartment" name="apartment">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="formPorch">Подъезд&nbsp;<span class="color-red">*</span></label>
                                        <input class="form-control" id="formPorch" name="porch">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="formFloor">Этаж <span class="color-red">*</span></label>
                                        <input class="form-control" id="formFloor" name="floor">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 offset-lg-5 col-lg-7">
                            <div class="custom-control custom-checkbox d-inline-block mr-3">
                                <input name="checbox-house" type="checkbox" class="custom-control-input"
                                    id="customCheckHouse">
                                <label class="custom-control-label" for="customCheckHouse">Частный дом</label>
                            </div>
                            <div class="custom-control custom-checkbox d-inline-block">
                                <input name="intercom" type="checkbox" class="custom-control-input"
                                    id="customCheckIntercom">
                                <label class="custom-control-label" for="customCheckIntercom">Рабочий домофон</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
                        <button class="btn btn-primary text-uppercase px-4 fs-14 mb-2 mb-lg-0">Сохранить изменения</button>
                        <button class="btn btn-outline-primary text-uppercase px-4 fs-14"><i class="fas fa-ban"></i> Удалить адрес</button>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>