<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
            </ol>
        </nav>

        <h1>Личный кабинет</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 0}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card mb-3">
                    <div class="d-lg-flex">
                        <div class="d-flex flex-wrap flex-grow-1">
                            <div class="w-100 mb-3 mb-lg-0">
                                <div><small>Фамилия Имя Отчество</small></div>
                                <div class="font-weight-bold fs-22">Дмитриенко Анатолий Иванович</div>
                            </div>
                            <div class="mr-lg-4 mb-3 mb-lg-0">
                                <div><small>Номер телефона</small></div>
                                <div class="font-weight-bold fs-18">+7 924 124 6655</div>
                            </div>
                            <div class="w-100 w-lg-auto mb-3 mb-lg-0">
                                <div><small>Электронная почта</small></div>
                                <div class="font-weight-bold fs-18">bestclient@mail.ru</div>
                            </div>
                        </div>
                        <div class="flex-shrink-0 d-flex flex-column">
                            <div class="flex-grow-1 align-self-lg-end">
                                <div><small>Дата регистрации</small></div>
                                <div class="fs-14 font-weight-bold mb-3 mb-lg-0 ">01.02.2019</div>
                            </div>
                            <div class="flex-shrink-0 align-self-lg-end"><button
                                    class="btn btn-outline-dark rounded-0"><i class="fas fa-pencil-alt fs-12 mr-2">
                                    </i>изменить</button></div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="flex-grow-1">
                            <div class="mb-2"><small>Оповещение о изменении статусов заказов</small></div>
                            <div class="font-weight-bold fs-18 mb-3">
                                <span class="mr-4 d-block d-lg-inline">электронная почта: ДА</span>
                                <span>смс: НЕТ</span>
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <button class="btn btn-outline-dark rounded-0">
                                <i class="fas fa-pencil-alt fs-12 mr-2"></i>изменить</button>
                        </div>
                    </div>
                </div>
                <div class="cabinet__card mb-3">
                    <div class="fs-20 mb-0">Скидочная карта</div>
                    <hr class="mt-1">
                    <div>
                        <div class="fs-18 font-weight-bold">карта № 10214445214</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                        <div class="cabinet__card">
                            <div class="d-flex justify-content-between align-items-center mb-2 mb-lg-3">
                                <div class="d-flex">
                                    <div class="fs-22 font-weight-bold text-uppercase mb-0 mr-3"
                                        style="margin-top: 3px;">Ваши заказы</div>
                                    <div class="rounded-circle background-purple d-flex justify-content-center align-items-center color-white"
                                        style="width: 31px; height: 31px;">
                                        <span class="mt-1">0</span>
                                    </div>
                                </div>
                                <a href="/cabinet-history.html"
                                    class="btn btn-outline-primary rounded-0 color-black d-none d-lg-block">история
                                    заказов</a>
                            </div>
                            <div class="js-scrollable cabinet-order mb-3" style="max-height: 226px;">
                                <div style="min-width: 500px;">
                                    <table class="table cabinet-order">
                                        <thead class="background-gray-superlight fs-12">
                                            <tr>
                                                <th scope="col" class="py-0">дата и время</th>
                                                <th scope="col" class="py-0">номер заказа</th>
                                                <th scope="col" class="py-0">товаров</th>
                                                <th scope="col" class="py-0">на сумму</th>
                                                <th scope="col" class="py-0">статус</th>
                                            </tr>
                                        </thead>
                                        <tbody class="pl-3">
                                            <tr>
                                                <td colspan="5" class="border-0">
                                                    <div class="text-center">– в вашем профиле пока нет заказов –</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mb-3 d-lg-none">
                                <img src="img/mobile_scroll.svg" width="30">
                            </div>
                            <button class="btn btn-outline-dark rounded-0 d-block d-lg-none mb-3">история
                                заказов</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cabinet__card py-3 px-4 h-100">
                            <div class="fs-22 font-weight-bold text-uppercase mb-3">Бонусы</div>
                            <p class="fs-14">Оформляйте заказы и получайте бонусы за них. Оплачивайте до 100% стоимости
                                заказа бонусами, или продолжайте их копить.</p>
                            <div class="background-purple p-3 d-flex align-items-center">
                                <img src="img/bonus.svg" width="50" class="mr-3">
                                <div class="color-white">
                                    <span class="fs-30 mb-0 d-block mt-1" style="line-height: 0.8;">0</span>
                                    <span style="line-height: 1;">бонусов</span style="line-height: 1;">
                                </div>
                            </div>
                            <div class="border-purple text-center p-1 mb-3">
                                <a href="#">История ваших бонусов</a>
                            </div>
                            <a href="#"><img src="img/info.svg" width="15" class="mr-2"><span
                                    class="link-dotted">читайте подробнее тут</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>