<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
                <li class="breadcrumb-item"><a href="/">Смена пароля</a></li>
            </ol>
        </nav>

        <h1>Смена пароля</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 4}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-10 form-group">
                            <label for="formOldPass">Старый пароль <span class="color-red">*</span></label>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="password-container form-control">
                                        <input type="password" name="old-password" id="formOldPass"
                                            class="password-container__input">
                                        <a class="password-container__icon" href="#"></a>
                                    </div>
                                </div>
                                <small class="col-12 col-lg-6 d-flex align-items-center">Укажите ваш старый пароль для смены на
                                    новый.</small>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 form-group">
                            <div class="d-block d-lg-flex justify-content-between align-items-center mb-1">
                                <label for="formNewPass" class="mb-0">Новый пароль <span
                                        class="color-red">*</span></label>
                                <small class="d-block mb-0">Длина пароля не менее 6 символов</small>
                            </div>
                            <div class="password-container form-control">
                                <input type="password" name="new-password" id="formNewPass"
                                    class="password-container__input">
                                <a class="password-container__icon" href="#"></a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 form-group">
                            <label for="formNewRePass" class="mb-0">Повтор нового пароля <span
                                    class="color-red">*</span></label>
                            <div class="password-container form-control">
                                <input type="password" name="new-re-password" id="formNewRePass"
                                    class="password-container__input">
                                <a class="password-container__icon" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-column d-lg-block">
                        <button class="btn btn-primary text-uppercase px-4 fs-14">Сохранить изменения</button>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>