<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
                <li class="breadcrumb-item active">Избранные товары</li>
            </ol>
        </nav>

        <h1>Избранные товары</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 2}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="product-list__header fs-14 border-0 d-block d-lg-flex mb-0">
                    <div>
                        <div class="mr-4">Сортировка:
                            <div class="sel sel--black-panther" style="width: 220px;">
                                <select name="select-profession" id="select-profession">
                                    <option value="all">по дате добавления в избранное</option>
                                    <option value="n">почти по умолчанию</option>
                                    <option value="n2">не почти по умолчанию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mr-auto">
                        <div class="mr-4">Наличие в магазине:
                            <div class="sel sel--black-panther" style="width: 160px;">
                                <select name="select-profession" id="select-profession">
                                    <option value="all">в наличии и под заказ</option>
                                    <option value="n">в наличии</option>
                                    <option value="n2">под заказ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-outline-primary rounded-0 px-4 py-1">
                            <i class="far fa-heart fs-10"></i>
                            <span class="fs-14">очистить список</span>
                        </a>
                    </div>
                </div>
                <div class="cabinet__card" style="border-bottom: none;">

                    <div class="row product-list">
                        <div class="p-0 px-md-2 col-6 col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"
                                        data-toggle="tooltip" data-placement="top"
                                        title="убрать из избранного"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                        оттенки</h3>
                                </div>
                                <div style="display: none;" class="product__cart py-4 fs-14 color-white">
                                    <p>Добавили 1 шт. в корзину на 244 руб.</p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <label class="fs-14 m-0 color-white" for="productCount">Кол-во:</label>
                                        <div class="m-0 mx-3 d-flex align-items-center">
                                            <div class="input-counter input-counter-sm">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <button class="btn" type="button" id="button-minus">-</button>
                                                    </div>
                                                    <input type="text" class="form-control p-0 text-center"
                                                        aria-label="Количество" id="productCount" value="1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="button"
                                                            id="button-plus">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="fs-14 m-0 color-white" for="productCount">шт.</label>
                                    </div>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__price">
                                        <span class="amount amount__new-price">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                        <span class="old-price">34 535 руб.</span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-0 px-md-2 col-6 col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"
                                        data-toggle="tooltip" data-placement="top"
                                        title="убрать из избранного"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                        оттенки натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="alert alert-gray soon">Скоро в продаже - 05.10.2019</div>
                                </div>
                            </a>
                        </div>
                        <div class="p-0 px-md-2 col-6 col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"
                                        data-toggle="tooltip" data-placement="top"
                                        title="убрать из избранного"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                        оттенки</h3>
                                </div>
                                <div style="display: none;" class="product__cart py-4 fs-14 color-white">
                                    <p>Добавили 1 шт. в корзину на 244 руб.</p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <label class="fs-14 m-0 color-white" for="productCount">Кол-во:</label>
                                        <div class="m-0 mx-3 d-flex align-items-center">
                                            <div class="input-counter input-counter-sm">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <button class="btn" type="button" id="button-minus">-</button>
                                                    </div>
                                                    <input type="text" class="form-control p-0 text-center"
                                                        aria-label="Количество" id="productCount" value="1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="button"
                                                            id="button-plus">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="fs-14 m-0 color-white" for="productCount">шт.</label>
                                    </div>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-primary btn-sm product__buy"><i class="fas fa-check fs-10 mr-1"></i> В корзине</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div class="fs-14 clearfix">
                        <nav aria-label="Страницы">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="pagination-item">
                                    <span class="pagination-description">Страница:</span>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link page" href="#">1</a>
                                </li>
                                <li class="pagination-item" aria-current="page">
                                    <span class="pagination-link page active">2</span>
                                </li>
                                <li class="pagination-item">
                                    <span class="pagination-link range" href="#">...</span>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link page" href="#">10</a>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link d-none d-lg-block" href="#">Следующая</a>
                                    <a class="pagination-link d-lg-none" href="#"><i
                                            class="fas fa-angle-right arrow"></i></a>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link d-none d-lg-block" href="#">Последняя</a>
                                    <a class="pagination-link d-lg-none" href="#"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>