<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
                <li class="breadcrumb-item active">Ваши бонусы</li>
            </ol>
        </nav>

        <h1>Ваши бонусы</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 5}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="d-lg-flex mb-4">
                    <div class="flex-shrink-0">
                        <span class="color-black mb-0 line-height-100 font-weight-bold d-block"
                            style="font-size: 26px;">бонусная карта:</span>
                        <span class="color-black mb-0 line-height-100 font-weight-bold"
                            style="font-size: 44px;">1500145121</span>
                    </div>
                    <hr class="purple d-block d-lg-none">
                    <div class="d-flex flex-shrink-0 h-100 mb-3 mb-lg-0">
                        <div style="width: 1px;"
                            class="background-purple mx-4 flex-shrink-0 d-none d-lg-block"></div>
                        <div class="color-purple mr-2 mr-lg-3 flex-shrink-0">
                            <span class="mb-0 line-height-100 font-weight-bold d-block" style="font-size: 26px;">ваш&nbsp;бонусный</span>
                            <span class="mb-0 line-height-100 font-weight-bold" style="font-size: 44px;">баланс</span>
                        </div>
                        <div class="flex-shrink-0 mr-3">
                            <div class="h-100 px-4 d-flex justify-content-center align-items-center background-purple">
                                <img src="img/bonus.svg" style="height: 50px;" class="mr-3">
                                <div class="color-white d-flex flex-column align-items-center">
                                    <span class="d-block fs-30 line-height-100">2700</span>
                                    <span class="line-height-100 fs-14">бонусов</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="fs-14 mb-2">Оформляйте заказы и получайте бонусы за них. Оплачивайте до 100% стоимости
                            заказа бонусами, или продолжайте их копить.</p>
                        <a href="#"><img src="img/info.svg" width="15" class="mr-2"><span
                                class="link-dotted fs-14">читайте
                                подробнее про бонусы</span></a>
                    </div>
                </div>

                <div class="cabinet__card" style="border-bottom: none;">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <button class="btn btn-info px-lg-4 mr-lg3">Все</button>
                            <button class="btn btn-hover-info px-lg-4 mr-lg-3">Пополнение</button>
                            <button class="btn btn-hover-secondary px-lg-4">Списание</button>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-lg-flex align-items-center">
                                <span class="font-weight-bold mr-2 d-block d-lg-inline">В&nbsp;период</span>
                                <div class="d-flex align-items-center">
                                    <span class="form-control px-0 d-flex align-items-center">
                                        <input type="text" class="border-0 px-2" style="width: 100px;"
                                            value="01.05.2019">
                                        <i class="fas fa-calendar-alt font-weight-normal color-purple mr-1 mb-1"></i>
                                    </span>
                                    <span class="mx-2">-</span>
                                    <span class="form-control px-0 d-flex align-items-center mr-3">
                                        <input type="text" class="border-0 px-2" style="width: 100px;"
                                            value="01.05.2019">
                                        <i class="fas fa-calendar-alt font-weight-normal color-purple mr-1 mb-1"></i>
                                    </span>
                                    <a href="#"><i class="fas fa-backspace"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cabinet__card">
                    <div class="overflow-auto">
                        <div class="mb-4" style="min-width: 700px;">
                            <div class="background-gray-superlight px-3 py-1 mb-1">
                                <div class="row fs-12 text-muted">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4">кол-во бонусов</div>
                                            <div class="col-5">номер заказа/чека</div>
                                            <div class="col-3">дата</div>
                                        </div>
                                    </div>
                                    <div class="col-6">примечание</div>
                                </div>
                            </div>
                            <div class="border border-success p-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4 fs-20 font-weight-bold">+ 556</div>
                                            <div class="col-5 fs-16 font-weight-bold">10245323562321</div>
                                            <div class="col-3">05.02.2019</div>
                                        </div>
                                    </div>
                                    <div class="col-6 fs-14">
                                        <div class="d-flex align-items-center h-100">
                                            <span class="flex-grow-1">начисление за оплаченный заказ</span>
                                            <span class="flex-shrink-0"><i
                                                    class="fas fa-plus-square align-middle text-success"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-1">
                            <div class="border border-danger p-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4 fs-20 font-weight-bold">- 750</div>
                                            <div class="col-5 fs-16 font-weight-bold">10245323562321</div>
                                            <div class="col-3">05.02.2019</div>
                                        </div>
                                    </div>
                                    <div class="col-6 fs-14">
                                        <div class="d-flex align-items-center h-100">
                                            <span class="flex-grow-1">оплата заказа или части заказа</span>
                                            <span class="flex-shrink-0"><i
                                                    class="fas fa-minus-square align-middle text-danger"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-1">
                            <div class="border p-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4 fs-20 font-weight-bold text-muted">+ 2500</div>
                                            <div class="col-5 fs-16 font-weight-bold">-</div>
                                            <div class="col-3">05.02.2019</div>
                                        </div>
                                    </div>
                                    <div class="col-6 fs-14">
                                        <div class="d-flex align-items-center h-100">
                                            <span class="flex-grow-1">начисление за оплаченный заказ</span>
                                            <span class="flex-shrink-0"><i
                                                    class="fas fa-hourglass-start color-purple"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3 d-lg-none">
                        <img src="img/mobile_scroll.svg" width="30">
                    </div>
                    <div class="fs-14 clearfix">
                        <div>
                            <div>
                                <nav aria-label="Страницы">
                                    <ul class="pagination justify-content-center mb-0">
                                        <li class="pagination-item">
                                            <span class="pagination-description">Страница:</span>
                                        </li>
                                        <li class="pagination-item">
                                            <a class="pagination-link page" href="#">1</a>
                                        </li>
                                        <li class="pagination-item" aria-current="page">
                                            <span class="pagination-link page active">2</span>
                                        </li>
                                        <li class="pagination-item">
                                            <span class="pagination-link range" href="#">...</span>
                                        </li>
                                        <li class="pagination-item">
                                            <a class="pagination-link page" href="#">10</a>
                                        </li>
                                        <li class="pagination-item">
                                            <a class="pagination-link d-none d-lg-block" href="#">Следующая</a>
                                            <a class="pagination-link d-lg-none" href="#"><i
                                                    class="fas fa-angle-right arrow"></i></a>
                                        </li>
                                        <li class="pagination-item">
                                            <a class="pagination-link d-none d-lg-block" href="#">Последняя</a>
                                            <a class="pagination-link d-lg-none" href="#"><i
                                                    class="fas fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>