<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Личный кабинет</a></li>
            </ol>
        </nav>

        <h1>Адреса доставки</h1>

        <div class="row">
            <div class="col-12 col-lg-3">
                <%= _.template(require('./template/cabinet-mobile-menu.html'))({activeMenu: 0}) %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="cabinet__card mb-3">
                    <div>
                        <div class="mb-2">
                            <div
                                class="d-flex justify-content-between align-items-center border-purple px-3 py-2">
                                <label class="mb-0 mr-2">Приморский край,
                                    Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                    12</label>
                                <div class="d-lg-flex">
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center mb-2 mb-lg-0 mr-lg-2"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-pencil-alt fs-10"></i>
                                    </a>
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-trash fs-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="d-flex justify-content-between align-items-center border-purple px-3 py-2">
                                <label class="mb-0 mr-2">Приморский край,
                                    Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                    12</label>
                                <div class="d-lg-flex">
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center mb-2 mb-lg-0 mr-lg-2"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-pencil-alt fs-10"></i>
                                    </a>
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-trash fs-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="d-flex justify-content-between align-items-center border-purple px-3 py-2">
                                <label class="mb-0 mr-2">Приморский край,
                                    Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                    12</label>
                                <div class="d-lg-flex">
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center mb-2 mb-lg-0 mr-lg-2"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-pencil-alt fs-10"></i>
                                    </a>
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-trash fs-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="d-flex justify-content-between align-items-center border-purple px-3 py-2">
                                <label class="mb-0 mr-2">Приморский край,
                                    Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                    12</label>
                                <div class="d-lg-flex">
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center mb-2 mb-lg-0 mr-lg-2"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-pencil-alt fs-10"></i>
                                    </a>
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-trash fs-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="d-flex justify-content-between align-items-center border-purple px-3 py-2">
                                <label class="mb-0 mr-2">Приморский край,
                                    Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                    12</label>
                                <div class="d-lg-flex">
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center mb-2 mb-lg-0 mr-lg-2"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-pencil-alt fs-10"></i>
                                    </a>
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-trash fs-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div
                                class="d-flex justify-content-between align-items-center border-purple px-3 py-2">
                                <label class="mb-0 mr-2">Приморский край,
                                    Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                    12</label>
                                <div class="d-lg-flex">
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center mb-2 mb-lg-0 mr-lg-2"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-pencil-alt fs-10"></i>
                                    </a>
                                    <a href="#" class="border btn d-flex justify-content-center align-items-center"
                                        style="width: 25px; height: 25px;">
                                        <i class="fas fa-trash fs-10"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
                        <a href="/cabinet-add-adress.html" class="btn btn-primary text-uppercase px-4 fs-14">Добавить адрес</a>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>