<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ваша корзина</li>
                </ol>
            </nav>

            <h1 class="text-uppercase mb-3 font-weight-bold">Ваша корзина</h1>

            <div class="order-steps mb-3">
                <div class="order-step active mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">1</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Корзина</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">2</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Адрес и время доставки</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">3</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Подтвержедение и
                        доставка</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mb-2">
                    <div class="order-step__check mr-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">4</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Заказ готов</span>
                </div>
            </div>

            <h2 class="text-uppercase text-dark font-weight-bold mb-3">Товары в корзине</h2>

            <div class="table-cart mb-3">
                <div class="thead">
                    <hr class="purple-invisible my-1">
                    <div class="d-flex mb-1">
                        <div class="table-cart_img"></div>
                        <div class="table-cart_description">Наименование</div>
                        <div class="table-cart_price-container">Стоимость</div>
                        <div class="table-cart_counter">Кол-во</div>
                        <div class="">Итого</div>
                    </div>
                    <hr class="purple-invisible my-0">
                </div>

                <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                    <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                        <div class="d-flex align-items-center h-100">
                            <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                        </div>
                    </div>
                    <div class="table-cart_img text-center">
                        <img src="img/tmp/product.jpg">
                    </div>
                    <div class="table-cart_description">
                        <div>
                            <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                TWIST-UP ТОН
                                07</p>
                            <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                            <p class="fs-12 color-gray">
                                <span class="align-middle">цвет:</span>
                                <span class="colour-select align-middle">
                                    <span class="colour-select__inner" style="background-color: #42221e"></span>
                                </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="table-cart_price-container">
                        <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                            <span>руб.</span></div>
                        <span class="old-price">352 руб.</span>
                    </div>
                    <div class="table-cart_counter">
                        <div class="d-flex align-items-center">
                            <div class="input-counter input-counter-sm">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button class="btn" type="button" id="button-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control p-0 text-center table-cart_count"
                                        aria-label="Количество" value="2">
                                    <div class="input-group-append">
                                        <button class="btn" type="button" id="button-plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-cart_sum">
                        <div class="d-flex justify-content-between">
                            <div class="font-weight-bold fs-22 table-cart_price-row">
                                <span class="table-cart_counted-price">508</span> <span>руб.</span>
                            </div>
                            <div class="d-block d-lg-none">
                                <div class="font-weight-bold fs-22">
                                    <span class="table-cart_price">254</span>
                                    <span>руб.</span>
                                    <span>за ед.</span>
                                </div>
                                <span class="old-price">352 руб.</span>
                            </div>
                            <a href="#" class="d-none d-lg-block"><i class="fas fa-trash-alt table-cart_remove"></i></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                    <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                        <div class="d-flex align-items-center h-100">
                            <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                        </div>
                    </div>
                    <div class="table-cart_img text-center">
                        <img src="img/tmp/product.jpg">
                    </div>
                    <div class="table-cart_description">
                        <div>
                            <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                TWIST-UP ТОН
                                07</p>
                            <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                            <p class="fs-12 color-gray">
                                <span class="align-middle">цвет:</span>
                                <span class="colour-select align-middle">
                                    <span class="colour-select__inner" style="background-color: #42221e"></span>
                                </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="table-cart_price-container">
                        <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                            <span>руб.</span></div>
                        <span class="old-price">352 руб.</span>
                    </div>
                    <div class="table-cart_counter">
                        <div class="d-flex align-items-center">
                            <div class="input-counter input-counter-sm">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button class="btn" type="button" id="button-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control p-0 text-center table-cart_count"
                                        aria-label="Количество" value="1">
                                    <div class="input-group-append">
                                        <button class="btn" type="button" id="button-plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-cart_sum">
                        <div class="d-flex justify-content-between">
                            <div class="font-weight-bold fs-22 table-cart_price-row">
                                <span class="table-cart_counted-price">254</span> <span>руб.</span>
                            </div>
                            <a href="#" class="d-none d-lg-block"><i class="fas fa-trash-alt table-cart_remove"></i></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                    <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                        <div class="d-flex align-items-center h-100">
                            <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                        </div>
                    </div>
                    <div class="table-cart_img text-center">
                        <img src="img/tmp/product.jpg">
                    </div>
                    <div class="table-cart_description">
                        <div>
                            <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                TWIST-UP ТОН
                                07</p>
                            <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                            <p class="fs-12 color-gray">
                                <span class="align-middle">цвет:</span>
                                <span class="colour-select align-middle">
                                    <span class="colour-select__inner" style="background-color: #42221e"></span>
                                </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="table-cart_price-container">
                        <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                            <span>руб.</span></div>
                        <span class="old-price">352 руб.</span>
                    </div>
                    <div class="table-cart_counter">
                        <div class="d-flex align-items-center">
                            <div class="input-counter input-counter-sm">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button class="btn" type="button" id="button-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control p-0 text-center table-cart_count"
                                        aria-label="Количество" value="1">
                                    <div class="input-group-append">
                                        <button class="btn" type="button" id="button-plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-cart_sum">
                        <div class="d-flex justify-content-between">
                            <div class="font-weight-bold fs-22 table-cart_price-row">
                                <span class="table-cart_counted-price">254</span> <span>руб.</span>
                            </div>
                            <a href="#" class="d-none d-lg-block"><i class="fas fa-trash-alt table-cart_remove"></i></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                    <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                        <div class="d-flex align-items-center h-100">
                            <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                        </div>
                    </div>
                    <div class="table-cart_img text-center">
                        <img src="img/tmp/product.jpg">
                    </div>
                    <div class="table-cart_description">
                        <div>
                            <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                TWIST-UP ТОН
                                07</p>
                            <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                            <p class="fs-12 color-gray">
                                <span class="align-middle">цвет:</span>
                                <span class="colour-select align-middle">
                                    <span class="colour-select__inner" style="background-color: #42221e"></span>
                                </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="table-cart_price-container">
                        <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                            <span>руб.</span></div>
                        <span class="old-price">352 руб.</span>
                    </div>
                    <div class="table-cart_counter">
                        <div class="d-flex align-items-center">
                            <div class="input-counter input-counter-sm">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button class="btn" type="button" id="button-minus">-</button>
                                    </div>
                                    <input type="text" class="form-control p-0 text-center table-cart_count"
                                        aria-label="Количество" value="1">
                                    <div class="input-group-append">
                                        <button class="btn" type="button" id="button-plus">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-cart_sum">
                        <div class="d-flex justify-content-between">
                            <div class="font-weight-bold fs-22 table-cart_price-row">
                                <span class="table-cart_counted-price">254</span> <span>руб.</span>
                            </div>
                            <a href="#" class="d-none d-lg-block"><i class="fas fa-trash-alt table-cart_remove"></i></a>
                        </div>
                    </div>
                </div>


                <div class="table-cart_additions collapse">
                    <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                        <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                            <div class="d-flex align-items-center h-100">
                                <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                            </div>
                        </div>
                        <div class="table-cart_img text-center">
                            <img src="img/tmp/product.jpg">
                        </div>
                        <div class="table-cart_description">
                            <div>
                                <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                    TWIST-UP ТОН
                                    07</p>
                                <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                <p class="fs-12 color-gray">
                                    <span class="align-middle">цвет:</span>
                                    <span class="colour-select align-middle">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="table-cart_price-container">
                            <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                                <span>руб.</span></div>
                            <span class="old-price">352 руб.</span>
                        </div>
                        <div class="table-cart_counter">
                            <div class="d-flex align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center table-cart_count"
                                            aria-label="Количество" value="1">
                                        <div class="input-group-append">
                                            <button class="btn" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-cart_sum">
                            <div class="d-flex justify-content-between">
                                <div class="font-weight-bold fs-22 table-cart_price-row">
                                    <span class="table-cart_counted-price">254</span> <span>руб.</span>
                                </div>
                                <a href="#" class="d-none d-lg-block"><i
                                        class="fas fa-trash-alt table-cart_remove"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                        <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                            <div class="d-flex align-items-center h-100">
                                <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                            </div>
                        </div>
                        <div class="table-cart_img text-center">
                            <img src="img/tmp/product.jpg">
                        </div>
                        <div class="table-cart_description">
                            <div>
                                <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                    TWIST-UP ТОН
                                    07</p>
                                <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                <p class="fs-12 color-gray">
                                    <span class="align-middle">цвет:</span>
                                    <span class="colour-select align-middle">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="table-cart_price-container">
                            <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                                <span>руб.</span></div>
                            <span class="old-price">352 руб.</span>
                        </div>
                        <div class="table-cart_counter">
                            <div class="d-flex align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center table-cart_count"
                                            aria-label="Количество" value="1">
                                        <div class="input-group-append">
                                            <button class="btn" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-cart_sum">
                            <div class="d-flex justify-content-between">
                                <div class="font-weight-bold fs-22 table-cart_price-row">
                                    <span class="table-cart_counted-price">254</span> <span>руб.</span>
                                </div>
                                <a href="#" class="d-none d-lg-block"><i
                                        class="fas fa-trash-alt table-cart_remove"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex table-cart_tr flex-wrap flex-lg-nowrap">
                        <div class="table-cart_remove-mobile d-block d-lg-none mr-3">
                            <div class="d-flex align-items-center h-100">
                                <a href="#"><i class="fas fa-times-circle font-weight-normal"></i></a>
                            </div>
                        </div>
                        <div class="table-cart_img text-center">
                            <img src="img/tmp/product.jpg">
                        </div>
                        <div class="table-cart_description">
                            <div>
                                <p class="text-uppercase font-weight-bold mb-2">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ `ISADORA`
                                    TWIST-UP ТОН
                                    07</p>
                                <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                <p class="fs-12 color-gray">
                                    <span class="align-middle">цвет:</span>
                                    <span class="colour-select align-middle">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="table-cart_price-container">
                            <div class="font-weight-bold fs-22"><span class="table-cart_price">254</span>
                                <span>руб.</span></div>
                            <span class="old-price">352 руб.</span>
                        </div>
                        <div class="table-cart_counter">
                            <div class="d-flex align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center table-cart_count"
                                            aria-label="Количество" value="1">
                                        <div class="input-group-append">
                                            <button class="btn" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-cart_sum">
                            <div class="d-flex justify-content-between">
                                <div class="font-weight-bold fs-22 table-cart_price-row">
                                    <span class="table-cart_counted-price">254</span> <span>руб.</span>
                                </div>
                                <a href="#" class="d-none d-lg-block"><i
                                        class="fas fa-trash-alt table-cart_remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row pt-1 mb-3">
                <div class="col-12 col-lg-4 mb-2 text-center text-lg-left">
                    <span class="pl-3 cart-collapse-addition">+ еще 2 товара</span>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary fs-12 py-1 collapse-btn" data-closed="свернуть">развернуть весь
                            список</button>
                    </div>
                </div>
            </div>
            <div class="row bg-light p-3 p-lg-5 mb-5 mx-0">
                <div class="col-12 col-lg-6 fs-14 d-flex flex-column flex-lg-row align-items-start align-items-lg-center mb-3 mb-lg-0">
                    <div class="order-1 order-lg-0 text-uppercase d-lg-flex align-items-center mr-3">
                        <span>Товаров в заказе:</span>
                        <span class="font-weight-bold">6 шт.</span>
                    </div>
                    <a class="btn btn-light bg-white fs-12 px-3 align-middle d-inline-block flex-shrink-0 mb-2 mb-lg-0" href="#">
                        <i class="fas fa-trash-alt table-cart_remove pr-2"></i>
                        <span class="text-uppercase ">очистить корзину</span>
                    </a>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-end align-content-center flex-wrap flex-lg-nowrap">
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-3 text-uppercase font-weight-bold fs-20 d-flex justify-content-end flex-column">
                            <span>Итого:</span>
                        </div>
                        <div class="col-6 font-weight-bold fs-30 mr-1"><span class="cart_price-sum">1 524</span> руб.
                        </div>
                        <div class="col-3 fs-16">Скидка:</div>
                        <div class="col-6 fs-16">20%</div>
                        <div class="col-3"></div>
                        <div class="col-3 fs-16">Бонусов:</div>
                        <div class="col-6 fs-16">+ 256</div>
                    </div>
                    <a href="#"
                        class="btn btn-primary text-uppercase fs-16 px-5 py-2 d-flex justify-content-center flex-column w-100 w-lg-auto">
                        <span class="d-inline-block">Оформить&nbsp;заказ</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="container">
            <section class="pills__colored-header pills__colored-header__blue">
                <div class="pills__colored-header__header py-4 d-flex align-content-center justify-content-center">
                    <span class="text-uppercase fs-20 color-white font-weight-bold">Ранее вы смотрели</span>
                </div>
                <div class="pills__colored-header__body">
                    <div class="row product-list">
                        <div class="p-0 px-md-2 col-6 col-lg-3 has-divider">
                            <a class="product">
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2 mh-100">Палетка теней для век NUDES, натуральные
                                        оттенки Палетка теней для век NUDES</h3>
                                </div>
                            </a>
                        </div>

                        <div class="p-0 px-md-2 col-6 col-lg-3 has-divider">
                            <a class="product">
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2 mh-100">Палетка теней для век NUDES, натуральные
                                        оттенки Палетка теней для век NUDES</h3>
                                </div>
                            </a>
                        </div>
                        <div class="p-0 px-md-2 col-6 col-lg-3 has-divider">
                            <a class="product">
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2 mh-100">Палетка теней для век NUDES, натуральные
                                        оттенки Палетка теней для век NUDES</h3>
                                </div>
                            </a>
                        </div>
                        <div class="p-0 px-md-2 col-6 col-lg-3 has-divider">
                            <a class="product">
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3 class="productdotdot mx-2 mh-100">Палетка теней для век NUDES, натуральные
                                        оттенки Палетка теней для век NUDES</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>