<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rimmel</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <div class="container">
            <%= _.template(require('./template/breadcrumb.html'))() %>
            <h1>Rimmel</h1>
        </div>

        <div class="brand-preview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="mr-4">
                            <img src="img/tmp/rimmel-logo.png" class="img-fluid mr-4" alt="Rimmel">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <p>Широкий ассортимент Rimmel постоянно дополняется последними новинками мира красоты, чтобы
                            своими оттенками, продуктами, упаковкой и&nbsp;рекламой отражать стиль Лондона. Продукты
                            Rimmel всегда интересны и&nbsp;находятся на&nbsp;пике моды, ими легко пользоваться, они
                            разнообразны и&nbsp;доступны, и&nbsp;созданы для экспериментов и&nbsp;самовыражения.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Сортировка, фильтр по магазинам, кол-во товаров на странице -->
            <div class="product-list__header fs-14 clearfix">
                <div class="float-lg-left mb-3 mb-lg-0">
                    <div class="mr-4">Категория: <a href="#" class="link-dotted">Все категории</a></div>
                </div>
                <div class="float-lg-left d-none d-lg-block">
                    <div class="mr-4">Назначение: <a href="#" class="link-dotted">Любое</a></div>
                </div>
                <div class="d-block d-lg-none mb-1">
                    <div class="mr-4">Сортировка: <a href="#" class="link-dotted">по умолчанию</a></div>
                </div>
                <div class="float-lg-left mb-3 mb-lg-0">
                    <div class="mr-4">Наличие в магазине: <a href="#" class="link-dotted">В наличии и под заказ</a>
                    </div>
                </div>
                <div class="float-lg-right">
                    Подобрано товаров: <strong>135 шт.</strong>
                </div>
            </div>
            <!-- Сортировка, фильтр по магазинам, кол-во товаров на странице -->

            <div class="row mb-4">
                <div class="col-lg-3">

                    <!-- Фильтр по параметрам -->
                    <div class="left-block filter">
                        <h2 class="left-block__header pix-bottom-line mt-0">Подбор по параметрам</h2>
                        <form>
                            <div class="filter__list fs-14">
                                <div class="filter__block">
                                    <h3 class="filter__header">
                                        <a data-toggle="collapse" href="#filter-price" role="button"
                                            aria-expanded="false" aria-controls="filterPrice">Стоимость <i
                                                class="fas fa-chevron-down arrow"></i></a>
                                    </h3>
                                    <div class="collapse filter__content" id="filter-price">
                                        <input type="text" name="filterPrice" value="" class="js-range-slider"
                                            data-type="double" data-min="0" data-max="2500" data-from="500"
                                            data-to="2000" data-grid="true" />
                                        <div class="form-inline mt-3">
                                            <form class="form-inline">
                                                <label class="my-1 mr-2" for="priceFrom" name="priceFrom">от</label>
                                                <input type="text" class="form-control form-control-sm mr-2 w-30"
                                                    id="priceFrom">
                                                <label class="my-1 mr-2" for="priceTo">до</label>
                                                <input type="text" class="form-control form-control-sm mr-2 w-30"
                                                    id="priceTo" name="priceTo">
                                                <span>руб.</span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter__block">
                                    <h3 class="filter__header">
                                        <a data-toggle="collapse" href="#filter-brand" role="button"
                                            aria-expanded="false" aria-controls="filterBrand">Бренд <i
                                                class="fas fa-chevron-down arrow"></i></a>
                                    </h3>
                                    <div class="collapse filter__content js-scrollable" id="filter-brand">
                                        <div class="checkbox-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck1">
                                                <label class="custom-control-label" for="brandCheck1">Concept
                                                    (244)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck2">
                                                <label class="custom-control-label" for="brandCheck2">L'oreal
                                                    Professionnel (17)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck3">
                                                <label class="custom-control-label" for="brandCheck3">MATRIX
                                                    (133)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck4">
                                                <label class="custom-control-label" for="brandCheck4">TIGI (152)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck5">
                                                <label class="custom-control-label" for="brandCheck5">Concept
                                                    (244)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck6">
                                                <label class="custom-control-label" for="brandCheck6">L'oreal
                                                    Professionnel (17)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck7">
                                                <label class="custom-control-label" for="brandCheck7">MATRIX
                                                    (133)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck8">
                                                <label class="custom-control-label" for="brandCheck8">TIGI (152)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck9">
                                                <label class="custom-control-label" for="brandCheck9">Concept
                                                    (244)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck10">
                                                <label class="custom-control-label" for="brandCheck10">L'oreal
                                                    Professionnel (17)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck11">
                                                <label class="custom-control-label" for="brandCheck11">MATRIX
                                                    (133)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brandCheck12">
                                                <label class="custom-control-label" for="brandCheck12">TIGI
                                                    (152)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter__block">
                                    <h3 class="filter__header">
                                        <a data-toggle="collapse" href="#filter-type" role="button"
                                            aria-expanded="false" aria-controls="filterBrand">Тип средства <i
                                                class="fas fa-chevron-down arrow"></i></a>
                                    </h3>
                                    <div class="collapse filter__content js-scrollable" id="filter-type">
                                        <div class="checkbox-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="typeCheck1">
                                                <label class="custom-control-label" for="typeCheck1">Для лица
                                                    (2)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="typeCheck2">
                                                <label class="custom-control-label" for="typeCheck2">Для кожи
                                                    (4)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="typeCheck3">
                                                <label class="custom-control-label" for="typeCheck3">Для рук
                                                    (33)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="typeCheck4"
                                                    disabled>
                                                <label class="custom-control-label" for="typeCheck4">Для ног (1)</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="typeCheck5"
                                                    disabled>
                                                <label class="custom-control-label" for="typeCheck5">Для тела
                                                    (9)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter__block">
                                    <h3 class="filter__header">
                                        <a data-toggle="collapse" href="#filter-country" role="button"
                                            aria-expanded="false" aria-controls="filterCountry">Страна производства <i
                                                class="fas fa-chevron-down arrow"></i></a>
                                    </h3>
                                    <div class="collapse filter__content js-scrollable" id="filter-country">
                                    </div>
                                </div>
                                <div class="filter__block">
                                    <h3 class="filter__header">
                                        <a data-toggle="collapse" href="#filter-name" role="button"
                                            aria-expanded="false" aria-controls="filterName">Название раздела <i
                                                class="fas fa-chevron-down arrow"></i></a>
                                    </h3>
                                    <div class="collapse filter__content js-scrollable" id="filter-name">
                                    </div>
                                </div>
                                <div class="filter__block">
                                    <h3 class="filter__header">
                                        <a data-toggle="collapse" href="#filter-type-filter" role="button"
                                            aria-expanded="false" aria-controls="filterTypeFilter">Тип фильтра <i
                                                class="fas fa-chevron-down arrow"></i></a>
                                    </h3>
                                    <div class="collapse filter__content js-scrollable" id="filter-type-filter">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-blue mr-2 px-4">Подобрать товары</button> <button
                                type="reset" class="btn btn-light rm-filter"><img src="img/cancel_filter.svg"
                                    class="rm-filter__image" alt="Очистить"></button>
                        </form>
                    </div>
                    <!-- Фильтр по параметрам -->
                </div>
                <div class="col-lg-9">

                    <!-- Список товаров -->
                    <div class="row product-list">
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="labels-pin">
                                    <div class="label-pin label__blue"></div>
                                    <div class="label-pin label__green"></div>
                                    <div class="label-pin label__green-dark"></div>
                                    <div class="label-pin label__pink"></div>
                                    <div class="label-pin label__pink-dark"></div>
                                    <div class="label-pin label__purple"></div>
                                </div>
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__colours">
                                        <span class="colour-select">
                                            <span class="colour-select__inner colour-select__inner__white"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #000000"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #4b1748"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #366084"></span>
                                        </span>
                                    </div>
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__colours">
                                        <div class="row no-gutters">
                                            <div class="col-7 text-right">
                                                <span class="colour-select">
                                                    <span
                                                        class="colour-select__inner colour-select__inner__white"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #000000"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #42221e"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #49ba86"></span>
                                                </span>
                                            </div>
                                            <div class="col-5">
                                                <span class="more-colours">Ещё 15 оттенков</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__price">
                                        <span class="amount amount__new-price">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                        <span class="old-price">34 535 руб.</span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                                <div class="product__add show-on-hover">
                                    <span class="badge badge-sizes">XS</span>
                                    <span class="badge badge-sizes">S</span>
                                    <span class="badge badge-sizes">M</span>
                                    <span class="badge badge-sizes">L</span>
                                    <span class="badge badge-sizes">XL</span>
                                    <span class="badge badge-sizes">XXL</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="labels-pin">
                                    <div class="label-pin label__blue"></div>
                                    <div class="label-pin label__green"></div>
                                    <div class="label-pin label__green-dark"></div>
                                    <div class="label-pin label__pink"></div>
                                    <div class="label-pin label__pink-dark"></div>
                                    <div class="label-pin label__purple"></div>
                                </div>
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__colours">
                                        <span class="colour-select">
                                            <span class="colour-select__inner colour-select__inner__white"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #000000"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #4b1748"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #366084"></span>
                                        </span>
                                    </div>
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__colours">
                                        <div class="row no-gutters">
                                            <div class="col-7 text-right">
                                                <span class="colour-select">
                                                    <span
                                                        class="colour-select__inner colour-select__inner__white"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #000000"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #42221e"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #49ba86"></span>
                                                </span>
                                            </div>
                                            <div class="col-5">
                                                <span class="more-colours">Ещё 15 оттенков</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart active"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__price">
                                        <span class="amount amount__new-price">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                        <span class="old-price">34 535 руб.</span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                                <div class="product__add show-on-hover">
                                    <span class="badge badge-sizes">XS</span>
                                    <span class="badge badge-sizes">S</span>
                                    <span class="badge badge-sizes">M</span>
                                    <span class="badge badge-sizes">L</span>
                                    <span class="badge badge-sizes">XL</span>
                                    <span class="badge badge-sizes">XXL</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="labels-pin">
                                    <div class="label-pin label__blue"></div>
                                    <div class="label-pin label__green"></div>
                                    <div class="label-pin label__green-dark"></div>
                                    <div class="label-pin label__pink"></div>
                                    <div class="label-pin label__pink-dark"></div>
                                    <div class="label-pin label__purple"></div>
                                </div>
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__colours">
                                        <span class="colour-select">
                                            <span class="colour-select__inner colour-select__inner__white"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #000000"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #4b1748"></span>
                                        </span>
                                        <span class="colour-select">
                                            <span class="colour-select__inner" style="background-color: #366084"></span>
                                        </span>
                                    </div>
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__colours">
                                        <div class="row no-gutters">
                                            <div class="col-7 text-right">
                                                <span class="colour-select">
                                                    <span
                                                        class="colour-select__inner colour-select__inner__white"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #000000"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #42221e"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #49ba86"></span>
                                                </span>
                                            </div>
                                            <div class="col-5">
                                                <span class="more-colours">Ещё 15 оттенков</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span class="amount">
                                            34 535 <span class="rub">руб.</span>
                                        </span>
                                    </div>
                                    <div class="product__action">
                                        <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 has-divider">
                            <a class="product">
                                <div class="product__buttons show-on-hover">
                                    <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                    <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                </div>
                                <div class="product__image">
                                    <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                </div>
                                <div class="product__brief">
                                    <small>MAYBELLINE NEW YORK</small>
                                    <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                </div>
                                <div class="product__bottom">
                                    <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Список товаров -->

                </div>
            </div>

            <!-- Пагинация, кол-во товаров на странице -->
            <div class="product-list__footer fs-14 mb-4 clearfix">
                <div class="float-left">
                    <div class="mr-4">
                        <nav aria-label="Страницы">
                            <ul class="pagination d-flex flex-wrap">
                                <li class="pagination-item">
                                    <span class="pagination-description">Страница:</span>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link page" href="#">1</a>
                                </li>
                                <li class="pagination-item" aria-current="page">
                                    <span class="pagination-link page active">2</span>
                                </li>
                                <li class="pagination-item" aria-current="page">
                                    <span class="pagination-link page">3</span>
                                </li>
                                <li class="pagination-item" aria-current="page">
                                    <span class="pagination-link page">4</span>
                                </li>
                                <li class="pagination-item" aria-current="page">
                                    <span class="pagination-link page">5</span>
                                </li>
                                <li class="pagination-item">
                                    <span class="pagination-link range" href="#">...</span>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link page" href="#">10</a>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link" href="#">Следующая</a>
                                </li>
                                <li class="pagination-item">
                                    <a class="pagination-link" href="#">Последняя</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="float-right">
                    <div class="products-on-page">
                        <span class="d-inline-block">Товаров на странице:</span>
                        <ul class="select-list">
                            <li><a href="#" class="active">20</a></li>
                            <li><a href="#">40</a></li>
                            <li><a href="#">60</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Пагинация, кол-во товаров на странице -->

        </div>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>