<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Палетка теней для век NUDES, натуральные оттенки</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <div class="container">
            <%= _.template(require('./template/breadcrumb.html'))() %>
            <h1 class="product-detail__header">Палетка теней для век NUDES, натуральные оттенки</h1>
            <div class="row product-detail">
                <div class="col-lg-5">
                    <div class="d-flex">
                        <div class="d-flex flex-column photo-picker mr-2 js-scrollable">
                            <button class="btn photo-picker__item" data-main-image="product-image">
                                <img src="img/tmp/insta-4.jpg" class="img-fluid w-100">
                            </button>
                            <button class="btn photo-picker__item" data-main-image="product-image">
                                <img src="img/tmp/product.jpg" class="img-fluid w-100">
                            </button>
                            <button class="btn photo-picker__item" data-main-image="product-image">
                                <img src="img/tmp/product.jpg" class="img-fluid w-100">
                            </button>
                            <button class="btn photo-picker__item" data-main-image="product-image">
                                <img src="img/tmp/product.jpg" class="img-fluid w-100">
                            </button>
                            <button class="btn photo-picker__item" data-main-image="product-image">
                                <img src="img/tmp/product.jpg" class="img-fluid w-100">
                            </button>
                            <button class="btn photo-picker__item" data-main-image="product-image">
                                <img src="img/tmp/product.jpg" class="img-fluid w-100">
                            </button>
                            <button class="btn photo-picker__item mb-2" data-main-image="product-image">
                                <img src="img/tmp/product.jpg" class="img-fluid w-100">
                            </button>
                        </div>
                        <a href="#" class="product-detail__image">
                            <img id="product-image" src="img/tmp/product.jpg" class="img-fluid w-100">
                        </a>
                    </div>
                    <small class="product-detail__image__disclaimer">Внешний вид товара может отличаться от
                        изображенного на
                        фотографии.</small>
                </div>
                <div class="col-lg-7">
                    <div class="invisible-line pb-0">
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <dl class="row product-detail__properties">
                                    <dt class="col-5">Бренд:</dt>
                                    <dd class="col-7">Maybelline New York</dd>

                                    <dt class="col-5">Страна производства:</dt>
                                    <dd class="col-7">Италия</dd>

                                    <dt class="col-5">Тип:</dt>
                                    <dd class="col-7">Тушь</dd>

                                    <dt class="col-5">Серия:</dt>
                                    <dd class="col-7">Вольюм Экспресс Подкручивающая</dd>

                                    <dt class="col-5">Производитель:</dt>
                                    <dd class="col-7">L'Oreal</dd>

                                    <dt class="col-5">Область использования:</dt>
                                    <dd class="col-7">Глаза</dd>

                                    <dt class="col-5">Цвет:</dt>
                                    <dd class="col-7">черный</dd>
                                </dl>
                            </div>
                            <div class="d-none d-lg-block col-3">
                                <a class="product-detail__brand" href="#">
                                    <img src="img/tmp/brand.png" class="img-fluid">
                                    <span>Все товары бренда</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="invisible-line product-detail__articul d-flex align-items-end">
                        <div class="js-rating-read-only mr-2" data-rating="3"></div>
                        <a href="#" class="line-height-100">3 отзыва</a>
                    </div>

                    <div class="invisible-line product-detail__articul">
                        Артикул: 215211245168
                    </div>

                    <div class="mb-3">
                        <div class="row">
                            <div class="col-5 col-lg-4">
                                <label class="label-outside">стоимость за шт.</label>
                                <div class="product-detail__price">254 <span>руб.</span></div>
                                <span class="old-price">352 руб.</span>
                            </div>
                            <div class="col-7 col-lg-8 col-xl-6">
                                <label class="label-outside" for="productCount">Выберите количество</label>
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-3 mb-2 mb-md-0 d-flex align-items-center">
                                        <div class="input-counter input-counter-sm mr-3">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <button class="btn" type="button" id="button-minus">-</button>
                                                </div>
                                                <input type="text" class="form-control p-0 text-center"
                                                    aria-label="Количество" id="productCount" value="1">
                                                <div class="input-group-append">
                                                    <button class="btn" type="button" id="button-plus">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9 col-md-6">
                                        <div class="mr-2">
                                            <button
                                                class="btn btn-lg btn-secondary btn-block mr-3 disabled h-100 text-uppercase fs-14 font-weight-bold"
                                                disabled><span class="align-middle">Купить</span></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-lg btn-blue h-100 p-0" style="width: 38px;">
                                            <img src="img/like.svg" height="13">
                                        </button>
                                    </div>
                                </div>
                                <small class="available-warning mb-4">
                                    <strong class="text-danger">Внимание</strong> - Цена в интернет-магазине и в
                                    розничных
                                    магазинах может отличаться.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="product-description__header invisible-line fs-20 pb-0">наличие в магазинах</div>
                    <div class="invisible-line row">
                        <div class="col-12 col-lg-6 fs-16"><i
                                class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                            <span class="font-weight-bold">площади Окатовая</span></div>
                        <div class="col-12 col-lg-6"><i
                                class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                            <span class="font-weight-bold">в ТЦ Первореченский</span></div>
                        <div class="col-12 col-lg-6"><i
                                class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                            <span class="font-weight-bold">в ГУМе</span></div>
                        <div class="col-12 col-lg-6"><i
                                class="fas fa-map-marker-alt fs-12 color-purple mr-2"></i>Чудодей на
                            <span class="font-weight-bold">в ТЦ Россиянка</span></div>
                        <div class="col-12 col-lg-6 color-purple mt-2"><i class="far fa-plus-square fs-14 mr-1"></i> <a
                                href="# fs-14" class="border-bottom-dotted">ещё в 5 магазинах</a> </div>
                    </div>
                    <div class="item-promotion d-flex">
                        <span class="fs-20 mr-3 d-inline-block">Товар участвует в акциях:</span>

                        <div class="label-pin label__blue"></div>
                        <div class="label-pin label__green"></div>
                        <div class="label-pin label__green-dark"></div>
                        <div class="label-pin label__pink"></div>
                        <div class="label-pin label__pink-dark"></div>
                        <div class="label-pin label__purple"></div>
                    </div>
                </div>
            </div>
            <div class="product-more">
                <ul class="nav nav-tabs" id="productDetailTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-detail-tab" data-toggle="tab" href="#product-detail"
                            role="tab" aria-controls="product-detail" aria-selected="true">
                            <img height="24" class="d-inline d-lg-none" src="img/list.svg" alt="Описание">
                            <span class="d-none d-lg-inline color-black">Описание</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments"
                            role="tab" aria-controls="product-comments" aria-selected="false">
                            <img height="24" class="d-inline d-lg-none" src="img/subscribe.svg" alt="Отзывы">
                            <span class="d-none d-lg-inline color-black">Отзывы <span
                                    class="color-purple">2</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-delivery-tab" data-toggle="tab" href="#product-delivery"
                            role="tab" aria-controls="product-delivery" aria-selected="false">
                            <img height="24" class="d-inline d-lg-none" src="img/file_upload.svg"
                                alt="Доставка и оплата">
                            <span class="d-none d-lg-inline color-black">Доставка и оплата</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="productDetailTabsContent">
                    <div class="tab-pane fade show active" id="product-detail" role="tabpanel"
                        aria-labelledby="product-detail-tab">
                        <div class="tab-pane__inner">
                            <p class="mb-4">Идеальная тушь для создания потрясающих объемных и&nbsp;подкрученных ресниц!
                                Благодаря особой изогнутой форме кисточки тушь прекрасно наносится и&nbsp;прокрашивает
                                каждую ресничку!</p>
                            <h5>Способ применения:</h5>
                            <p class="mb-4">прокрасить ресницы кисточкой.</p>
                            <h5>Состав:</h5>
                            <p>aqua, synthetic beeswax, glyceryl stearate, carnauba wax, butylene glycol,
                                acrylates/ethylhexyl acrylate copolymer, ricinus communis seed oil, stearic acid,
                                palmitic
                                acid, tromethamine.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="product-comments" role="tabpanel"
                        aria-labelledby="product-comments-tab">
                        <div class="tab-pane__inner-comments">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="comment-list">
                                        <div class="comment">
                                            <div class="comment-header">
                                                <div class="comment-name">
                                                    Анастасия
                                                </div>
                                                <div class="comment-rate">
                                                    <div class="js-rating-read-only" data-rating="3"></div>
                                                </div>
                                                <div class="comment-date">
                                                    15.10.2017
                                                </div>
                                            </div>
                                            <div class="comment-body">
                                                Интервально-прогрессийная континуальная форма, следовательно, изящно
                                                имеет
                                                неопределенный интеграл. Первая производная изоморфна. Правда, некоторые
                                                специалисты отмечают, что гармонический интервал традиционен.
                                                Геометрическая
                                                прогрессия mezzo forte синхронизирует септаккорд, как
                                                и&nbsp;предполагалось.
                                                Согласно последним исследованиям, мнимая единица вероятна.
                                                Внутридискретное
                                                арпеджио однородно проецирует изоморфный интеграл от&nbsp;функции,
                                                имеющий
                                                конечный разрыв.
                                            </div>
                                        </div>
                                        <div class="comment">
                                            <div class="comment-header">
                                                <div class="comment-name">
                                                    Анастасия
                                                </div>
                                                <div class="comment-rate">
                                                    <div class="js-rating-read-only" data-rating="3"></div>
                                                </div>
                                                <div class="comment-date">
                                                    15.10.2017
                                                </div>
                                            </div>
                                            <div class="comment-body">
                                                Интервально-прогрессийная континуальная форма, следовательно, изящно
                                                имеет
                                                неопределенный интеграл. Первая производная изоморфна. Правда, некоторые
                                                специалисты отмечают, что гармонический интервал традиционен.
                                                Геометрическая
                                                прогрессия mezzo forte синхронизирует септаккорд, как
                                                и&nbsp;предполагалось.
                                                Согласно последним исследованиям, мнимая единица вероятна.
                                                Внутридискретное
                                                арпеджио однородно проецирует изоморфный интеграл от&nbsp;функции,
                                                имеющий
                                                конечный разрыв.
                                            </div>
                                        </div>
                                        <div class="comment">
                                            <div class="comment-header">
                                                <div class="comment-name">
                                                    Анастасия
                                                </div>
                                                <div class="comment-rate">
                                                    <div class="js-rating-read-only" data-rating="3"></div>
                                                </div>
                                                <div class="comment-date">
                                                    15.10.2017
                                                </div>
                                            </div>
                                            <div class="comment-body">
                                                Интервально-прогрессийная континуальная форма, следовательно, изящно
                                                имеет
                                                неопределенный интеграл. Первая производная изоморфна. Правда, некоторые
                                                специалисты отмечают, что гармонический интервал традиционен.
                                                Геометрическая
                                                прогрессия mezzo forte синхронизирует септаккорд, как
                                                и&nbsp;предполагалось.
                                                Согласно последним исследованиям, мнимая единица вероятна.
                                                Внутридискретное
                                                арпеджио однородно проецирует изоморфный интеграл от&nbsp;функции,
                                                имеющий
                                                конечный разрыв.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="leave-comment">
                                        <h3 class="black-underline">Оставить отзыв</h3>
                                        <div class="leave-comment__for-product">
                                            <div class="leave-comment__for-product__pre-header">на товар:</div>
                                            <div class="leave-comment__for-product__product-name">Карандаш-кайал для
                                                глаз
                                                REGARD COQUET</div>
                                        </div>
                                        <div class="leave-comment__rating">
                                            <label>Ваша оценка</label>
                                            <div class="js-rating leave-comment__rating__stars"></div>
                                        </div>
                                        <div class="leave-comment__comment">
                                            <label for="field-comment">Ваш отзыв <span class="required">*</span></label>
                                            <textarea id="field-comment" class="form-control" rows="5"></textarea>
                                        </div>
                                        <div class="leave-comment__name">
                                            <label class="float-left" for="field-name">Ваше имя <span
                                                    class="required">*</span></label>
                                            <div class="label-description float-right">выводится как автор вашего отзыва
                                            </div>
                                            <input id="field-name" class="form-control">
                                        </div>
                                        <div class="leave-comment__agreement">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="agreement">
                                                <label class="custom-control-label" for="agreement">Даю своё согласие на
                                                    обработку и хранение моих персональных данных</label>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <button class="btn btn-primary btn-block">Отправить отзыв</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="required">*</span> - обязательные поля
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="product-delivery" role="tabpanel"
                        aria-labelledby="product-delivery-tab">
                        <div class="tab-pane__inner">
                            <p>Доставка и оплата</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="pills__colored-header pills__colored-header__blue">
                <div class="pills__colored-header__header">
                    <ul class="nav nav-pills row" id="pills-list" role="tablist">
                        <li class="nav-item col-6 d-flex justify-content-end">
                            <a class="nav-link active" id="bestseller-pill" data-toggle="tab" href="#bestseller-content"
                                role="tab" aria-controls="bestseller" aria-selected="true">ПОХОЖИЕ ТОВАРЫ</a>
                        </li>
                        <li class="nav-item col-6 d-flex justify-content-start">
                            <a class="nav-link text-center" id="new-pill" data-toggle="tab" href="#new-content"
                                role="tab" aria-controls="new" aria-selected="true">С ЭТИМ ТОВАРОМ ПОКУПАЮТ</a>
                        </li>
                    </ul>
                </div>
                <div class="pills__colored-header__body">
                    <div class="container">
                        <div class="tab-content p-section" id="myTabContent">
                            <div class="tab-pane fade show active" id="bestseller-content" role="tabpanel"
                                aria-labelledby="bestseller-pill">
                                <div class="product-list index-products">
                                    <div class="h-100">
                                        <a class="product">
                                            <div class="product__buttons show-on-hover">
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__heart"></button>
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__eye"></button>
                                            </div>
                                            <div class="product__image">
                                                <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            </div>
                                            <div class="product__brief">
                                                <small>MAYBELLINE NEW YORK</small>
                                                <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                            </div>
                                            <div class="product__bottom">
                                                <div class="product__price">
                                                    <span class="amount amount__new-price">
                                                        34 535 <span class="rub">руб.</span>
                                                    </span>
                                                    <span class="old-price">34 535 руб.</span>
                                                </div>
                                                <div class="product__action">
                                                    <button
                                                        class="btn btn-secondary btn-sm product__buy">Купить</button>
                                                </div>
                                            </div>
                                            <div class="product__add show-on-hover">
                                                <span class="badge badge-sizes">XS</span>
                                                <span class="badge badge-sizes">S</span>
                                                <span class="badge badge-sizes">M</span>
                                                <span class="badge badge-sizes">L</span>
                                                <span class="badge badge-sizes">XL</span>
                                                <span class="badge badge-sizes">XXL</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="h-100">
                                        <a class="product">
                                            <div class="product__buttons show-on-hover">
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__heart"></button>
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__eye"></button>
                                            </div>
                                            <div class="product__image">
                                                <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            </div>
                                            <div class="product__brief">
                                                <small>MAYBELLINE NEW YORK</small>
                                                <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                            </div>
                                            <div class="product__bottom">
                                                <div class="product__price">
                                                    <span class="amount amount__new-price">
                                                        34 535 <span class="rub">руб.</span>
                                                    </span>
                                                    <span class="old-price">34 535 руб.</span>
                                                </div>
                                                <div class="product__action">
                                                    <button
                                                        class="btn btn-secondary btn-sm product__buy">Купить</button>
                                                </div>
                                            </div>
                                            <div class="product__add show-on-hover">
                                                <span class="badge badge-sizes">XS</span>
                                                <span class="badge badge-sizes">S</span>
                                                <span class="badge badge-sizes">M</span>
                                                <span class="badge badge-sizes">L</span>
                                                <span class="badge badge-sizes">XL</span>
                                                <span class="badge badge-sizes">XXL</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="h-100">
                                        <a class="product">
                                            <div class="labels-pin">
                                                <div class="label-pin label__blue"></div>
                                                <div class="label-pin label__green"></div>
                                                <div class="label-pin label__green-dark"></div>
                                                <div class="label-pin label__pink"></div>
                                                <div class="label-pin label__pink-dark"></div>
                                                <div class="label-pin label__purple"></div>
                                            </div>
                                            <div class="product__buttons show-on-hover">
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__heart"></button>
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__eye"></button>
                                            </div>
                                            <div class="product__image">
                                                <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            </div>
                                            <div class="product__brief">
                                                <small>MAYBELLINE NEW YORK</small>
                                                <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                            </div>
                                            <div class="product__bottom">
                                                <div class="product__colours">
                                                    <span class="colour-select">
                                                        <span
                                                            class="colour-select__inner colour-select__inner__white"></span>
                                                    </span>
                                                    <span class="colour-select">
                                                        <span class="colour-select__inner"
                                                            style="background-color: #000000"></span>
                                                    </span>
                                                    <span class="colour-select">
                                                        <span class="colour-select__inner"
                                                            style="background-color: #42221e"></span>
                                                    </span>
                                                    <span class="colour-select">
                                                        <span class="colour-select__inner"
                                                            style="background-color: #49ba86"></span>
                                                    </span>
                                                    <span class="colour-select">
                                                        <span class="colour-select__inner"
                                                            style="background-color: #4b1748"></span>
                                                    </span>
                                                    <span class="colour-select">
                                                        <span class="colour-select__inner"
                                                            style="background-color: #366084"></span>
                                                    </span>
                                                </div>
                                                <div class="product__price">
                                                    <span class="amount">
                                                        34 535 <span class="rub">руб.</span>
                                                    </span>
                                                </div>
                                                <div class="product__action">
                                                    <button
                                                        class="btn btn-secondary btn-sm product__buy">Купить</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="h-100">
                                        <a class="product">
                                            <div class="product__buttons show-on-hover">
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__heart"></button>
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__eye"></button>
                                            </div>
                                            <div class="product__image">
                                                <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            </div>
                                            <div class="product__brief">
                                                <small>MAYBELLINE NEW YORK</small>
                                                <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                            </div>
                                            <div class="product__bottom">
                                                <div class="product__colours">
                                                    <div class="row no-gutters">
                                                        <div class="col-7 text-right">
                                                            <span class="colour-select">
                                                                <span
                                                                    class="colour-select__inner colour-select__inner__white"></span>
                                                            </span>
                                                            <span class="colour-select">
                                                                <span class="colour-select__inner"
                                                                    style="background-color: #000000"></span>
                                                            </span>
                                                            <span class="colour-select">
                                                                <span class="colour-select__inner"
                                                                    style="background-color: #42221e"></span>
                                                            </span>
                                                            <span class="colour-select">
                                                                <span class="colour-select__inner"
                                                                    style="background-color: #49ba86"></span>
                                                            </span>
                                                        </div>
                                                        <div class="col-5">
                                                            <span class="more-colours">Ещё 15 оттенков</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product__price">
                                                    <span class="amount">
                                                        34 535 <span class="rub">руб.</span>
                                                    </span>
                                                </div>
                                                <div class="product__action">
                                                    <button
                                                        class="btn btn-secondary btn-sm product__buy">Купить</button>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="h-100">
                                        <a class="product">
                                            <div class="product__buttons show-on-hover">
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__heart"></button>
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__eye"></button>
                                            </div>
                                            <div class="product__image">
                                                <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            </div>
                                            <div class="product__brief">
                                                <small>MAYBELLINE NEW YORK</small>
                                                <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                            </div>
                                            <div class="product__bottom">
                                                <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="h-100">
                                        <a class="product">
                                            <div class="product__buttons show-on-hover">
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__heart"></button>
                                                <button
                                                    class="btn-action btn-action-pink-light btn-action__eye"></button>
                                            </div>
                                            <div class="product__image">
                                                <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            </div>
                                            <div class="product__brief">
                                                <small>MAYBELLINE NEW YORK</small>
                                                <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                                            </div>
                                            <div class="product__bottom">
                                                <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-content" role="tabpanel" aria-labelledby="new-pill">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>