<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Сертификат успешно заказан</li>
                </ol>
            </nav>

        </section>

        <div class="certificat without mb-0">

            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <img src="img/certificat_card-ok.png" style="max-width: 100%;">
                    </div>
                    <div class="col-12 col-lg-7">
                        <p class="font-weight-bold color-purple line-height-100 fs-50">Сертификат успешно&nbsp;оформлен
                            и&nbsp;оплачен</p>
                        <hr class="color-pink background-pink">
                        <p class="mr-4 mb-0 fs-18">В ближайшее время наш менеджер свяжется с вами, и
                            подтвердит ваш заказ.</p>
                        <p class="mr-4 mb-4 fs-18">Если необходимо свяжитесь с нами по телефону или
                            эл.почте.</p>
                        <div class="d-flex flex-wrap flex-lg-nowrap mb-4">
                            <span class="fs-16 w-100 w-lg-auto mb-2 mr-4"><i class="fas fa-phone-alt fs-14 color-purple mr-2"></i>
                                <a href="#" class="font-weight-bold">+7 (423) 2-310-693</a>
                            </span>
                            <a href="#"><i class="fas fa-envelope mr-2 font-weight-normal"></i>info@chudodey.com</a>
                        </div>
                        <hr class="color-pink background-pink my-5">
                        <a href="/" class=" mb-4">
                            <i class="fas fa-arrow-left fs-12 mr-1"></i>
                            <span class="fs-16 font-weight-bold">перейти на главную страницу</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>