<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
    <script>
        var mapObjects = {
            "type": "FeatureCollection",
            "features": [
                { "type": "Feature", "id": 0, "geometry": { "type": "Point", "coordinates": [43.115661, 131.887497] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<label for="city1" class="btn btn-primary rounded-0"><input type="radio" class="d-none" value="city1" id="city1" name="pickup-city"/>Выбрать магазин</label>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 1, "geometry": { "type": "Point", "coordinates": [43.133835, 131.899471] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<label for="city2" class="btn btn-primary rounded-0"><input type="radio" class="d-none" value="city2" id="city2" name="pickup-city"/>Выбрать магазин</label>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 2, "geometry": { "type": "Point", "coordinates": [43.133699, 131.900383] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<label for="city3" class="btn btn-primary rounded-0"><input type="radio" class="d-none" value="city3" id="city3" name="pickup-city"/>Выбрать магазин</label>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
            ]
        };
    </script>
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Подарочные сертификаты</li>
                </ol>
            </nav>

        </section>

        <div class="certificat">

            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <img src="img/certificat_card.png" style="max-width: 100%;">
                    </div>
                    <div class="col-12 col-lg-7">
                        <p class="font-weight-bold color-purple line-height-100" style="font-size: 46px;">Подарочные
                            сертификаты
                            “Чудодей”</p>
                        <hr class="color-pink background-pink">
                        <p class="mr-4 mb-4 fs-18" style="width: 81%;">Подарочные карты позволяют преподнести или
                            заказать подарок любимым не выходя из дома. Карту можно использовать полностью или частично
                            при покупке товаров в любом из магазинов Чудодей.</p>
                        <span class="font-weight-bold fs-22">Доступные номиналы на выбор:</span>
                        <div class="d-flex flex-wrap">
                            <div class="btn btn-secondary mr-1 mb-2">500 руб.</div>
                            <div class="btn btn-secondary mr-1 mb-2">1000 руб.</div>
                            <div class="btn btn-secondary mr-1 mb-2">2000 руб.</div>
                            <div class="btn btn-secondary mr-1 mb-2">3000 руб.</div>
                            <div class="btn btn-secondary mr-1 mb-2 mr-auto">5000 руб.</div>
                            <div style="flex-basis: 100%;"></div>
                            <div class="btn btn-info mr-1">свободный номинал</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container certificat-container">
            <div class="row mb-4">
                <div class="col-12 col-lg-6">
                    <div class="d-flex flex-column align-items-center">
                        <img src="img/certificat_post.png" class="d-none d-lg-block w-25">
                        <label for="customRadioInline1"
                            class="border-purple px-3 py-4 px-lg-4 py-lg-5 text-center custom-control custom-radio w-100 w-lg-75"
                            style="border-radius: 8px;">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input switcher-type" rel="delivery" checked>
                            <label
                                class="custom-control-label color-purple font-weight-bold mb-2 mb-lg-4 w-100 text-left text-lg-center pl-4 pl-lg-0"
                                for="customRadioInline1" style="font-size: 30px; line-height: 0.85;">
                                <span class="d-block pl-3 pl-lg-0">Доставка карты</span>
                                <span class="pl-3 pl-lg-0">курьером по городу</span>
                            </label>
                            <p class="mb-0 text-left text-lg-center pl-4 pl-lg-0">
                                <span class="pl-3 d-block">Вы можете приобрести один или несколько карт с доставкой
                                    курьером в вашем
                                    городе.</span>
                            </p>
                        </label>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="d-flex flex-column align-items-center">
                        <img src="img/certificat_chudo.png" class="d-none d-lg-block w-25">
                        <label for="customRadioInline2"
                            class="border-purple px-3 py-4 px-lg-4 py-lg-5 text-center custom-control custom-radio w-100 w-lg-75"
                            style="border-radius: 8px;">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input switcher-type" rel="pickup">
                            <label
                                class="custom-control-label color-purple font-weight-bold mb-2 mb-lg-4 w-100 text-left text-lg-center pl-4 pl-lg-0"
                                for="customRadioInline2" style="font-size: 30px; line-height: 0.85;">
                                <span class="d-block pl-3 pl-lg-0">Самовывоз из</span>
                                <span class="pl-3 pl-lg-0">магазина Чудодей</span>
                            </label>
                            <p class="mb-0 text-left text-lg-center pl-4 pl-lg-0">
                                <span class="pl-3 d-block">Выберите магазин в вашем городе. Сертификат будет доступен к
                                    выдаче в
                                    выбранной точке.</span>
                            </p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <div class="border-pink py-4 px-5 d-flex align-items-center flex-wrap flex-lg-nowrap w-100 w-lg-50"
                    style="border-radius: 8px;">
                    <span class="mr-3 mb-2 mb-lg-0">выберите&nbsp;город</span>
                    <select class="form-control rounded-0 border-pink w-100" name="city" id="formCity">
                        <option value="prim">Владивосток</option>
                        <option value="prim">Уссурийск</option>
                    </select>
                </div>
            </div>
            <div class="pickup-switcher switched-type" style="display: none;">
                <div id="map" class="map"></div>
            </div>
            <div class="w-100 text-center color-purple mb-3"><i class="fas fa-chevron-down"></i></div>
            <h2 class="text-center mb-3">ВЫБЕРИТЕ ОДНУ ИЛИ&nbsp;НЕСКОЛЬКО&nbsp;КАРТ</h2>
            <div class="d-flex justify-content-center mb-4">
                <div class="d-flex flex-wrap" style="max-width: 690px;">
                    <div class="certificat__card mr-lg-2 mb-2">
                        <div class="d-flex">
                            <div class="w-50 text-center fs-22 font-weight-bold py-2" style="width: 50px;">
                                500 руб.
                            </div>
                            <div class="w-50 background-purple d-flex justify-content-center align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control border-0 p-0 text-center"
                                            aria-label="Количество" id="productCount" value="0">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="certificat__card mr-lg-2 mb-2">
                        <div class="d-flex">
                            <div class="w-50 text-center fs-22 font-weight-bold py-2" style="width: 50px;">
                                1000 руб.
                            </div>
                            <div class="w-50 background-purple d-flex justify-content-center align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center" aria-label="Количество"
                                            id="productCount" value="0">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="certificat__card mr-lg-2 mb-2">
                        <div class="d-flex">
                            <div class="w-50 text-center fs-22 font-weight-bold py-2" style="width: 50px;">
                                2000 руб.
                            </div>
                            <div class="w-50 background-purple d-flex justify-content-center align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center" aria-label="Количество"
                                            id="productCount" value="0">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="certificat__card mr-lg-2 mb-2">
                        <div class="d-flex">
                            <div class="w-50 text-center fs-22 font-weight-bold py-2" style="width: 50px;">
                                3000 руб.
                            </div>
                            <div class="w-50 background-purple d-flex justify-content-center align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center" aria-label="Количество"
                                            id="productCount" value="0">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="certificat__card mr-lg-2 mb-2">
                        <div class="d-flex">
                            <div class="w-50 text-center fs-22 font-weight-bold py-2" style="width: 50px;">
                                5000 руб.
                            </div>
                            <div class="w-50 background-purple d-flex justify-content-center align-items-center">
                                <div class="input-counter input-counter-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-secondary" type="button" id="button-minus">-</button>
                                        </div>
                                        <input type="text" class="form-control p-0 text-center" aria-label="Количество"
                                            id="productCount" value="0">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="button-plus">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-wrap flex-lg-nowrap">
                <div class="fs-22 font-weight-bold mr-4 color-purple mt-2 mb-3">СВОБОДНЫЙ НОМИНАЛ</div>
                <div>
                    <div class="d-flex mb-2">
                        <input type="text" class="py-2 border-pink mr-2" style="width: 155px;">
                        <button class="btn btn-secondary my-1 mr-3">добавить в заказ</button>
                        <button class="btn d-none d-lg-block"><i class="fas fa-backspace"></i></button>
                    </div>
                    <p class="fs-12"><span class="color-pink mr-1">i</span>Вы можете ввести сумму от 300 руб. до 50 000
                        руб.</p>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="container mb-5 delivery-switcher switched-type">
            <div class="text-uppercase fs-22 color-purple font-weight-bold mb-3">Контакты получателя</div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group w-100 w-lg-75">
                        <label for="FI">Имя Фамилия <span class="color-red">*</span></label>
                        <input class="form-control rounded-0" id="FI" name="fi">
                    </div>
                    <div class="form-group pr-4 pr-lg-0 w-100 w-lg-50">
                        <label for="phone">Телефон получателя <span class="color-red">*</span></label>
                        <input class="form-control rounded-0" id="phone" name="phone">
                    </div>
                    <div class="pr-5 pr-lg-0 w-75 w-lg-25 mb-3">
                        <div>Дата доставки <span class="color-red">*</span></div>
                        <span class="form-control rounded-0 px-0 d-flex align-items-center mr-3">
                            <input type="text" class="border-0 px-2 w-100" style="width: 100px;" value="01.05.2019">
                            <i class="fas fa-calendar-alt font-weight-normal color-purple mr-1 mb-1"></i>
                        </span>
                    </div>
                    <div class="fs-12">Доставка карт выполняется на следующий день после заказа.</div>
                    <div class="fs-12 mb-4">С полными правилами продажи подарочных карт <a href="#">можно ознакомиться
                            здесь.</a></div class="fs-12">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="w-100 w-lg-75 form-group">
                        <label for="formOblast">Область, край <span class="color-red">*</span></label>
                        <select class="form-control rounded-0" name="oblast" id="formOblast">
                            <option value="prim">Приморский край</option>
                            <option value="prim">Московская область</option>
                        </select>
                    </div>
                    <div class="w-100 w-lg-75 form-group">
                        <label for="city">Город <span class="color-red">*</span></label>
                        <select class="form-control rounded-0" name="city" id="city">
                            <option value="prim">Владивосток</option>
                            <option value="prim">Уссурийск</option>
                        </select>
                    </div>
                    <div class="w-100 w-lg-75 form-group">
                        <label for="formIndex">Улица <span class="color-red">*</span></label>
                        <input class="form-control rounded-0" id="formIndex" name="index">
                    </div>
                    <div class="w-100 w-lg-75">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="formHouse">Дом&nbsp;<span class="color-red">*</span></label>
                                    <input class="form-control" id="formHouse" name="house">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="formApartment">Квартира&nbsp;<span class="color-red">*</span></label>
                                    <input class="form-control" id="formApartment" name="apartment">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="formPorch">Подъезд&nbsp;<span class="color-red">*</span></label>
                                    <input class="form-control" id="formPorch" name="porch">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="formFloor">Этаж&nbsp;<span class="color-red">*</span></label>
                                    <input class="form-control" id="formFloor" name="floor">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="custom-control custom-checkbox d-inline-block mr-3">
                            <input name="checbox-house" type="checkbox" class="custom-control-input"
                                id="customCheckHouse">
                            <label class="custom-control-label" for="customCheckHouse">Частный дом</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline-block">
                            <input name="intercom" type="checkbox" class="custom-control-input"
                                id="customCheckIntercom">
                            <label class="custom-control-label" for="customCheckIntercom">Рабочий домофон</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-3 mb-lg-5 pickup-switcher switched-type" style="display: none;">
            <div class="text-uppercase fs-22 color-purple font-weight-bold mb-3">Контакты получателя</div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group w-lg-75">
                        <label for="FI">Имя Фамилия <span class="color-red">*</span></label>
                        <input class="form-control rounded-0" id="FI" name="fi">
                    </div>
                    <div class="form-group w-lg-50 pr-4">
                        <label for="phone">Телефон получателя <span class="color-red">*</span></label>
                        <input class="form-control rounded-0" id="phone" name="phone">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-2">Выбранная точка для самовывоза</div>
                    <div class="w-100 w-lg-50 border p-3">
                        <div class="d-flex">
                            <div>
                                <i class="fas fa-map-marker-alt color-purple mr-2"></i>
                            </div>
                            <div class="flex-grow-1">
                                <div class="fs-14 font-weight-bold text-uppercase">Чудодей</div>
                                <div class="fs-14 color-purple font-weight-bold text-uppercase">на площади Окатовая</div
                                    class="fs-14">
                                <hr class="dotted my-2">
                                <p class="fs-12 mb-1">г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)</p>
                                <p class="fs-12 mb-0 text-muted">
                                    <span class="d-block">ежедневно с 10:00 до 21:00</span>
                                    <span class="d-block">без перерывов и выходных</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative">
            <div class="position-absolute w-100 h-100" style="top: 0; left: 0;">
                <div class="d-flex h-100">
                    <div class="w-50">
                        <div class="background-pink h-100 d-none d-lg-block"></div>
                    </div>
                    <div class="w-50">
                        <div class="background-blue h-100 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
            <div class="container position-relative py-4 mb-3 mb-lg-4">
                <div class="row">
                    <div class="col-12 col-lg-6 background-pink py-3 py-lg-0">
                        <div class="js-scrollable pr-2 mr-lg-4" style="max-height: 200px;">
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">1.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">2.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">3.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">4.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">5.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">6.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">7.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">8.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 2500</div>
                                <div class="col-1 fs-18">x1</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">2 500 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">2 500 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">9.</div>
                                <div class="col-9 col-lg-6 fs-18">Подарочная карта 5000</div>
                                <div class="col-1 fs-18">x2</div>
                                <div class="col-3 fs-18 d-none d-lg-flex">10 000 руб.</div>
                                <div class="col-1 fs-12"><a href="#"><i
                                            class="fas fa-trash-alt font-weight-normal color-white mt-1"></i></a></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">10 000 руб.</div>
                            </div>
                            <hr class="my-2">
                            <div class="row w-100 color-white">
                                <div class="col-1 fs-12 color-purple mt-1">10.</div>
                                <div class="col-9 col-lg-6 fs-18">Доставка</div>
                                <div class="col-1 fs-18"></div>
                                <div class="col-3 fs-18 d-none d-lg-flex">300 руб.</div>
                                <div class="col-1 fs-12"></div>
                                <div class="col-11 fs-18 offset-1 d-flex d-lg-none">300 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 background-blue py-3 py-lg-0">
                        <div class="ml-0 ml-lg-4 mt-3">
                            <div class="color-white fs-30 mb-1">ИТОГОВАЯ СУММА – 4 300 руб.</div>
                            <hr class="mt-0 mb-4">
                            <div class="d-flex">
                                <div>
                                    <div style="background-color: white; height: 24px; width: 24px;"
                                        class="color-blue fs-16 text-center mr-3">
                                        <i class="fas fa-info align-middle fs-12"></i>
                                    </div>
                                </div>
                                <div class="color-white fs-12">
                                    <div>Доставка сертификатов на сумму до 1500 осуществляется самовывозом</div>
                                    <div>Покупка на сумму от 1500 до 10000 - доставка 300 рублей по городу.</div>
                                    <div>Покупка на сумму свыше 10000 - доставка бесплатная.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap flex-lg-nowrap mb-3">
                <button class="btn btn-secondary background-pink-dark fs-22 text-uppercase mr-3 w-100 w-lg-auto mb-3"
                    style="padding: 1rem 5rem;">Перейти к оплате</button>
                <div class="d-flex flex-column justify-content-center">
                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Я хочу получить копию чека по СМС</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Я даю согласие на обработку моих
                            персональных данных</label>
                    </div>
                </div>
            </div>
            <div class="fs-12 mb-5 pb-5">Нажимая кнопку «Перейти к оплате», вы соглашаетесь с <a href="#">Правилами</a>,
                <a href="#">Офертой</a> и <a href="#">Политикой по персональным данным</a></div>
        </div>

    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ad123f7c-8f4c-48a3-9e4c-acfe7c8529e7"
        type="text/javascript"></script>
    <script src="js/app.js"></script>
</body>

</html>