<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body clas="overflow-hidden">
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Информация</a></li>
                <li class="breadcrumb-item active" aria-current="page">Контакты</li>
            </ol>
        </nav>

        <h1>Контакты</h1>

        <section class="row mb-5 mr-0">
            <div class="col-12 col-lg-4">
                <span class="fs-16 color-purple d-block mb-2">адрес:</span>
                <span class="fs-20 d-block mb-2">Россия, 690041 г. Владивосток, ул. Радио, 5</span>
                <a href="#" class="btn btn-primary rounded-0 mb-4">посмотреть на карте</a>
                <span class="d-block fs-16 color-purple mb-2">телефоны:</span>
                <span class="d-block fs-20 mb-1">+7 (423) 2-313-553</span>
                <span class="d-block fs-20 mb-1">+7 (423) 2-310-692</span>
                <span class="d-block fs-20">+7 (423) 2-310-693 <span class="fs-14">(многоканальный)</span></span>
            </div>
            <div class="col-12 col-lg-4">
                <span class="d-block mb-2 color-purple">электронная почта:</span>
                <div class="mb-5">
                    <a class="fs-20 nav-link_solid nav-link_hover_none nav-link_hover_pink-dark"
                        href="mailto:info@chudodey.com">info@chudodey.com</a>
                </div>
                <h3 class="d-block fs-16">СОЦ.СЕТИ</h3>
                <div class="d-flex info__images mb-2">
                    <a class="info__image mr-1" href="#"><svg id="Слой_1" data-name="Слой 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.06 23.39">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #99247e;
                                    }
                                </style>
                            </defs>
                            <title>odnoklas</title>
                            <path class="cls-1"
                                d="M310.35,474.85a5.93,5.93,0,1,1,4.19-1.74A5.71,5.71,0,0,1,310.35,474.85Zm0-8.84a2.92,2.92,0,1,0,2.06.85A2.8,2.8,0,0,0,310.35,466Zm6.83,9.55a1.9,1.9,0,0,1,.2.65,1.22,1.22,0,0,1-.06.53,1.47,1.47,0,0,1-.35.5,4.46,4.46,0,0,1-.55.48q-.29.22-.8.54a9.54,9.54,0,0,1-4.11,1.23l1,.94,3.48,3.48a1.34,1.34,0,0,1,.39,1,1.3,1.3,0,0,1-.39,1l-.16.17a1.39,1.39,0,0,1-1.93,0l-3.48-3.5-3.48,3.5a1.34,1.34,0,0,1-1,.39,1.3,1.3,0,0,1-1-.39l-.16-.17a1.28,1.28,0,0,1-.4-1,1.32,1.32,0,0,1,.4-1l3.48-3.48.94-.94a9.51,9.51,0,0,1-4.14-1.23q-.51-.33-.8-.54a4.46,4.46,0,0,1-.55-.48,1.47,1.47,0,0,1-.35-.5,1.22,1.22,0,0,1-.06-.53,1.9,1.9,0,0,1,.2-.65,1.41,1.41,0,0,1,.37-.46,1.5,1.5,0,0,1,.55-.29,1.32,1.32,0,0,1,.73,0,2.47,2.47,0,0,1,.85.46l.2.14q.13.09.56.32a7,7,0,0,0,.9.4,8.38,8.38,0,0,0,1.2.31,7.81,7.81,0,0,0,3.75-.19,6.22,6.22,0,0,0,1.57-.66l.5-.33a2.47,2.47,0,0,1,.85-.46,1.32,1.32,0,0,1,.73,0,1.5,1.5,0,0,1,.55.29A1.41,1.41,0,0,1,317.17,475.56Z"
                                transform="translate(-303.32 -463.01)"></path>
                        </svg></a>
                    <a class="info__image mr-1" href="#"><svg id="Слой_1" data-name="Слой 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.4 13.28">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #99247e;
                                    }
                                </style>
                            </defs>
                            <title>vk</title>
                            <path class="cls-1"
                                d="M321.71,468.35h-3.8a.86.86,0,0,0-.76.45s-1.51,2.79-2,3.73c-1.31,2.53-2.16,1.73-2.16.56v-4a1.27,1.27,0,0,0-1.27-1.27h-2.86a2.29,2.29,0,0,0-2,.94s1.45-.23,1.45,1.72c0,.48,0,1.88,0,3a.84.84,0,0,1-1.47.58,24.86,24.86,0,0,1-2.88-5.24.8.8,0,0,0-.73-.46h-3.45a.59.59,0,0,0-.55.79C300.31,472,304.82,481,310,481h2.17a.86.86,0,0,0,.86-.86v-1.31a.84.84,0,0,1,1.42-.61l2.6,2.44a1.26,1.26,0,0,0,.86.34h3.41c1.64,0,1.64-1.14.75-2-.63-.62-2.91-3-2.91-3a1.18,1.18,0,0,1-.09-1.53l2.45-3.23C322.18,470.31,323.44,468.35,321.71,468.35Z"
                                transform="translate(-299.22 -467.76)"></path>
                        </svg></a>
                    <a class="info__image mr-1" href="#"><svg id="Слой_1" data-name="Слой 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.67 37.67">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #fff;
                                    }
                                </style>
                            </defs>
                            <title>insta1</title>
                            <g id="_Группа_" data-name="<Группа>">
                                <path id="_Составной_контур_" data-name="<Составной контур>" class="cls-1"
                                    d="M324.39,383.54a9.6,9.6,0,0,0-5.5-5.5,13.74,13.74,0,0,0-4.57-.87c-2-.09-2.65-.12-7.77-.12s-5.76,0-7.77.12a13.67,13.67,0,0,0-4.57.87,9.6,9.6,0,0,0-5.5,5.5,13.74,13.74,0,0,0-.87,4.57c-.09,2-.12,2.65-.12,7.77s0,5.76.12,7.77a13.67,13.67,0,0,0,.87,4.57,9.6,9.6,0,0,0,5.5,5.5,13.74,13.74,0,0,0,4.57.87c2,.09,2.65.12,7.77.12s5.76,0,7.77-.12a13.67,13.67,0,0,0,4.57-.87,9.6,9.6,0,0,0,5.5-5.5,13.74,13.74,0,0,0,.87-4.57c.09-2,.12-2.65.12-7.77s0-5.76-.12-7.77A13.67,13.67,0,0,0,324.39,383.54Zm-2.52,20a10.3,10.3,0,0,1-.66,3.49,5.83,5.83,0,0,1-1.41,2.17,5.9,5.9,0,0,1-2.17,1.41,10.38,10.38,0,0,1-3.49.66c-2,.09-2.58.12-7.61.12s-5.63,0-7.61-.12a10.3,10.3,0,0,1-3.49-.66,5.83,5.83,0,0,1-2.17-1.41,5.9,5.9,0,0,1-1.41-2.17,10.38,10.38,0,0,1-.66-3.49c-.09-2-.12-2.59-.12-7.61s0-5.63.12-7.61a10.3,10.3,0,0,1,.66-3.49,5.83,5.83,0,0,1,1.41-2.17,5.9,5.9,0,0,1,2.17-1.41,10.38,10.38,0,0,1,3.49-.66c2-.09,2.59-.12,7.61-.12s5.63,0,7.61.12a10.3,10.3,0,0,1,3.49.66,5.83,5.83,0,0,1,2.17,1.41,5.9,5.9,0,0,1,1.41,2.17,10.38,10.38,0,0,1,.66,3.49c.09,2,.12,2.59.12,7.61S322,401.51,321.87,403.49Z"
                                    transform="translate(-287.7 -377.04)"></path>
                                <path id="_Составной_контур_2" data-name="<Составной контур>" class="cls-1"
                                    d="M306.52,386.2a9.68,9.68,0,1,0,9.68,9.68A9.69,9.69,0,0,0,306.52,386.2Zm0,16a6.29,6.29,0,1,1,6.29-6.29A6.29,6.29,0,0,1,306.52,402.17Z"
                                    transform="translate(-287.7 -377.04)"></path>
                                <circle id="_Контур_" data-name="<Контур>" class="cls-1" cx="28.88" cy="8.78" r="2.26">
                                </circle>
                            </g>
                        </svg></a>
                    <a class="info__image mr-1" href="#"><svg id="Слой_1" data-name="Слой 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.25 22.95">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #99247e;
                                    }
                                </style>
                            </defs>
                            <title>fb</title>
                            <path class="cls-1"
                                d="M307.62,486.27h5.3v-10.7h3.6l.48-4.08h-4.08v-2.43c0-1.1.24-1.65,1.95-1.65H317v-4.08h-3.57c-4.37,0-5.81,2-5.81,5.44v2.72h-2.87v4.08h2.87Z"
                                transform="translate(-304.75 -463.32)"></path>
                        </svg></a>
                </div>
            </div>
            <div class="col-12 col-lg-4 background-purple py-4 px-5 position-relative overflow-hidden" style="height: 230px;">
                <img src="img/circle4.svg" class="bg-contact-1">
                <span class="d-block fs-22 color-white font-weight-bold mb-3 position-relative z-index-10">Откройте
                    магазин «Чудодей»
                    в&nbsp;вашем городе</span>

                <span class="d-block fs-16 color-white mb-3 position-relative z-index-10">По вопросам приобретения
                    франшизы
                    обращайтесь по телефону:</span>
                <span class="d-block color-white font-weight-bold fs-20 position-relative z-index-10"><i
                        class="fas fa-phone mr-2 fs-14"></i> +7 (423) 231-06-88</span>
            </div>
        </section>

        <section>
            <div class="d-flex justify-content-between flex-wrap mb-3 align-items-center">
                <h2 class="fs-42 color-blue-dark">Обратная связь</h2>
                <span class="">
                    <span class="fs-16 d-block font-weight-bold">Интересующий Вас вопрос вы можете задать по почте <a
                            href="mailto:info@chudodey.com">info@chudodey.com</a>, или через форму обратной
                        связи.</span>
                    <span class="fs-16d-block">Мы будем рады ответить на ваши вопросы и узнать ваше мнение о магазинах
                        сети!</span>
                </span>
            </div>

            <div class="position-relative">
                <img src="img/circle12.svg" class="bg-contact-3">
                <img src="img/circle6.svg" class="bg-contact-2">
                <form class="needs-validation background-white position-relative z-index-10 border_blue-dark p-5" novalidate>
                    <div class="form-row">

                        <div class="form-group col-12">
                            <label for="inputState">Выберите тему обращения <span class="color-red">*</span></label>
                            <select id="inputState" class="form-control no-radius" required>
                                <option class="color-gray" value="" disabled selected>- выберите подходящую тему
                                    сообщения -</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-5">
                            <label for="validationCustom01">Ваше имя и фамилия <span class="color-red">*</span></label>
                            <input type="text" class="form-control no-radius" id="validationCustom01" required>
                        </div>
                        <div class="col-12 col-lg-4 pt-3 pt-lg-0">
                            <label for="validationCustom02">Электронная почта <span class="color-red">*</span></label>
                            <input type="email" class="form-control no-radius" id="validationCustom02" required>
                        </div>
                        <div class="col-12 col-lg-3 pt-3 pt-lg-0">
                            <label for="validationCustom03">Номер телефона <span class="color-red">*</span></label>
                            <input type="tel" class="form-control no-radius" id="validationCustom03"
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                        </div>
                        <div class="form-group col-12 col-lg-9 pt-3 mb-0">

                            <div class="form-group">
                                <label for="faqQuestion">Ваш вопрос или сообщение</label>
                                <textarea class="form-control" id="faqQuestion" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="d-block d-lg-none col-12">
                                Нажимая кнопку “Отправить сообщение” вы принимаете <a href="#" class="color-blue-dark">пользовательское соглашение</a> на обработку персональной информации согласно 152ФЗ
                        </div>
                        <div class="col-12 col-lg-3 pt-lg-3">
                            <label class="d-block">&nbsp;</label>

                            <div class="mb-3">
                                <button class="btn btn-blue d-block text-uppercase w-100 p-3 mb-3"
                                    type="submit">Отправить сообщение</button>
                                <span class="fs-16"><span class="color-red">*</span> - обязательные поля для
                                    заполнения</span>
                            </div>
                        </div>
                        <div class="col-12 d-flex mb-3 align-items-center">
                            <img class="mr-2" height="22" src="img/error.svg" alt="">
                            <span class="color-red fs-12">Пожалуйста заполните все обязательные поля перед отправкой
                                резюме</span>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>