<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="mb-5">
        <section class="container pb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ваша корзина</li>
                </ol>
            </nav>

            <h1 class="text-uppercase">Ваша корзина</h1>

            <div class="d-flex mb-4 mb-lg-5 pb-lg-5 align-items-center align-items-lg-start">
                <div class="mr-4">
                    <img src="img/empty_cart.svg" style="width: 135px;">
                </div>
                <div>
                    <div class="fs-20 font-weight-bold text-uppercase mb-2 mb-lg-0">Ваша корзина пуста.</div>
                    <div class="fs-14 text-uppercase mb-4">Воспользуйтесь <a href="#">каталогом</a> и совершайте покупки
                        онлайн!</div>

                    <div class="d-none d-lg-block">
                        <div class="d-flex shop__search-city mb-4" style="width: 85%;">
                            <input type="text" class="d-block shop__city fs-16 w-100"
                                placeholder="поиск товаров в каталоге" id="shopChooseCity"><label for="shopChooseCity"
                                data-fon="✉" data-text="email"><img src="img/search_purple.svg">&nbsp;</label>
                            <button class="ml-1 btn btn-primary d-block font-weight-bold text-uppercase fs-14">
                                <span class="align-middle">Найти</span>
                            </button>
                        </div>
                        <hr>
                        <a href="#"><i class="fas fa-arrow-left mr-2"></i> <span>перейти в каталог</span></a>
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none">
                <div class="d-flex flex-column shop__search-city mb-4">
                    <input type="text" class="d-block shop__city fs-16 w-100 mb-2" placeholder="поиск товаров в каталоге"
                        id="shopChooseCity"><label for="shopChooseCity" data-fon="✉" data-text="email"><img
                            src="img/search_purple.svg">&nbsp;</label>
                    <button class="btn btn-primary d-block font-weight-bold text-uppercase fs-14">
                        <span class="align-middle">Найти</span>
                    </button>
                </div>
                <hr>
                <a href="#"><i class="fas fa-arrow-left mr-2"></i> <span>перейти в каталог</span></a>
            </div>

        </section>

    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>