<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Информация</a></li>
                <li class="breadcrumb-item active" aria-current="page">Вопрос-ответ</li>
            </ol>
        </nav>

        <h1>Вопрос-ответ</h1>
        <p class="fs-20 mb-5 z-index-10 position-relative">В этом разделе Вы можете найти ответы на многие вопросы, касающиеся работы нашего сайта.
            <br>Если Вы не нашли интересующей Вас информации, то можете отправить нам запрос с помощью формы обратной
            связи.</p>

        <div class="row mb-5">
            <img src="img/circle1.svg" class="d-none d-lg-block bg-faq-1">
            <img src="img/circle2.svg" class="d-none d-lg-block bg-faq-2">
            <img src="img/circle10.svg" class="d-none d-lg-block bg-faq-4">
            <img src="img/circle8.svg" class="d-none d-lg-block bg-faq-3">
            <div class="col-12 col-lg z-index-10">
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Условия
                        работы Интернет-магазина и Службы доставки</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        объединить два или несколько заказов в один?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Можно ли
                        изменить адрес доставки оформленного заказа?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        аннулировать заказ или отдельный товар из заказа?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        возвратить товар или предъявить претензию?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#"
                        class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Информация о
                        наличии товара</a>
                </span>
            </div>
            <div class="col">
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        аннулировать заказ или отдельный товар из заказа?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        возвратить товар или предъявить претензию?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#"
                        class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Информация о
                        наличии товара</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как мне
                        получить свой заказ?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        оплатить заказ?</a>
                </span>
                <span class="d-block mb-2">
                    <img src="img/question.svg" height="20" class="mr-2">
                    <a href="#" class="fs-16 border-bottom-dotted nav-link_hover_pink-dark nav-link_hover_none">Как
                        вернуть товар?</a>
                </span></div>
        </div>
        <hr class="hr_purple mb-5">

        <section class="z-index-10 position-relative">
            <div class="mb-5">
                <h2 class="color-black fs-30 mb-3">Условия работы Интернет-магазина и Службы доставки</h2>
                <hr>
                <p>При оформлении заказа выберите удобный для Вас способ доставки. Стоимость и сроки доставки будут
                    доступны при оформлении заказа.
                    <br>Общие сведения о доставке можно посмотреть в разделе Доставка.</p>
            </div>
            <div class="mb-5">
                <h2 class="color-black fs-30 mb-3">Как объеденить два или несколько заказов в один?</h2>
                <hr>
                <p>Оплатить заказ можно несколькими способами: на сайте онлайн банковской карточкой, электронными
                    деньгами или через операторов сотовой связи; наличными или банковской картой курьеру при доставке
                    товара. Подробную информацию об оплате заказа смотрите в разделе Оплата.</p>
            </div>
            <div class="mb-5">
                <h2 class="color-black fs-30 mb-3">Можно ли изменить адрес доставки оформленного заказа?</h2>
                <hr>
                <p>Вы можете отказаться от приобретенного товара надлежащего качества в течение 10 дней с момента
                    передачи товара. К возврату принимается товар только в целой упаковке, без следов использования и
                    вскрытия.

                    Возврат товара ненадлежащего качества принимается в течение 14 дней. Подробную информацию о возврате
                    товара смотрите в разделе Гарантия и возврат.</p>
            </div>
            <div class="mb-5">
                <h2 class="color-black fs-30 mb-3">Условия работы Интернет-магазина и Службы доставки</h2>
                <hr>
                <p>При оформлении заказа выберите удобный для Вас способ доставки. Стоимость и сроки доставки будут
                    доступны при оформлении заказа.
                    <br>Общие сведения о доставке можно посмотреть в разделе Доставка.</p>
            </div>
            <div class="mb-5">
                <h2 class="color-black fs-30 mb-3">Условия работы Интернет-магазина и Службы доставки</h2>
                <hr>
                <p>При оформлении заказа выберите удобный для Вас способ доставки. Стоимость и сроки доставки будут
                    доступны при оформлении заказа.
                    <br>Общие сведения о доставке можно посмотреть в разделе Доставка.</p>
            </div>
            <div class="mb-5">
                <h2 class="color-black fs-30 mb-3">Условия работы Интернет-магазина и Службы доставки</h2>
                <hr>
                <p>При оформлении заказа выберите удобный для Вас способ доставки. Стоимость и сроки доставки будут
                    доступны при оформлении заказа.
                    <br>Общие сведения о доставке можно посмотреть в разделе Доставка.</p>
            </div>
        </section>

        <hr class="hr_blue-dark mb-5">

        <section>
            <div class="d-flex justify-content-between mb-3 flex-wrap">
                <h2 class="fs-42 color-blue-dark">Задать свой вопрос</h2>
                <span class="d-flex align-items-center">
                    <img src="img/question.svg" height="25" class="mr-2">
                    <span class="fs-16">Интересующий Вас вопрос вы можете задать по почте <a
                            href="mailto:info@chudodey.com">info@chudodey.com</a>, или через данную форму.</span>
                </span>
            </div>

            <div class="border_blue-dark p-5">
                <form class="needs-validation" novalidate>
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label for="inputState">Выберите тему обращения <span class="color-red">*</span></label>
                            <select id="inputState" class="form-control no-radius" required>
                                <option class="color-gray" value="" disabled selected>- выберите подходящую тему
                                    сообщения -</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label for="validationCustom01">Ваше имя и фамилия <span class="color-red">*</span></label>
                            <input type="text" class="form-control no-radius" id="validationCustom01" required>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02">Электронная почта <span class="color-red">*</span></label>
                            <input type="email" class="form-control no-radius" id="validationCustom02" required>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom03">Номер телефона <span class="color-red">*</span></label>
                            <input type="tel" class="form-control no-radius" id="validationCustom03"
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                        </div>
                        <div class="form-group col-md-9 pt-3">

                            <div class="form-group">
                                <label for="faqQuestion">Ваш вопрос или сообщение</label>
                                <textarea class="form-control" id="faqQuestion" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="d-block d-lg-none col-12">
                            Нажимая кнопку “Отправить сообщение” вы принимаете <a href="#"
                                class="color-blue-dark">пользовательское соглашение</a> на обработку персональной
                            информации согласно 152ФЗ
                        </div>
                        <div class="col-12 col-lg-3 pt-lg-3">
                            <label class="d-block">&nbsp;</label>

                            <div class="mb-3">
                                <button class="btn btn-blue d-block text-uppercase w-100 p-3 mb-3"
                                    type="submit">Отправить
                                    вопрос</button>
                                <span class="fs-16"><span class="color-red">*</span> - обязательные поля для
                                    заполнения</span>
                            </div>
                        </div>
                        <div class="col-12 d-none d-lg-flex align-items-center">
                            <p class="fs-12">Нажимая кнопку “Отправить сообщение” вы принимаете <a
                                    class="color-blue-dark" href="#">пользовательское соглашение</a><br>на обработку
                                персональной информации согласно
                                152ФЗ</p>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>