<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Восстановить пароль</li>
                </ol>
            </nav>

            <h1 class="text-uppercase mb-4 font-weight-bold">Восстановление пароля</h1>

            <div class="d-flex">
                <div class="mr-3 d-none d-lg-block ">
                    <img src="img/forgotpass.svg" width="100" alt="">
                </div>
                <div class="w-100">
                    <p class="mb-0">Выберите удобный вариант для восстановления пароля.</p>
                    <p class="mb-3 email-switcher switched-forgonpassword">Мы вышлем вам ссылку или пин-код для
                        генерации нового пароля.</p>
                    <p class="mb-3 sms-switcher switched-forgonpassword" style="display: none;">Мы вышлем вам
                        ссылку для генерации или новый пароль.</p>

                    <div class="d-flex flex-wrap flex-lg-nowrap">
                        <div class="custom-control custom-radio mr-5 w-100 w-lg-auto mb-2 mb-lg-0">
                            <input type="radio" id="customRadioEmail" name="forgotpass" checked
                                class="custom-control-input switcher-forgonpassword" rel="email">
                            <label class="custom-control-label" for="customRadioEmail">По электронной почте</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioSms" name="forgotpass"
                                class="custom-control-input switcher-forgonpassword" rel="sms">
                            <label class="custom-control-label" for="customRadioSms">По SMS</label>
                        </div>
                    </div>
                    <hr class="w-100 w-lg-75">
                    <div class="email-switcher switched-forgonpassword mb-5">
                        <div class="form-group">
                            <label for="formEmail">Электронная почта <span class="color-red">*</span></label>
                            <div class="d-flex flex-wrap flex-lg-nowrap">
                                <input type="email" id="formEmail" name="email" class="form-control mr-lg-2 mb-2 w-100 w-lg-auto"
                                    style="width: 300px;">
                                <button class="btn btn-primary w-100 w-lg-auto mb-2">отправить запрос</button>
                            </div>
                        </div>
                    </div>
                    <div class="sms-switcher switched-forgonpassword mb-5" style="display: none;">
                        <div class="form-group">
                            <label for="formPhone">Номер телефона <span class="color-red">*</span></label>
                            <div class="d-flex flex-wrap flex-lg-nowrap">
                                <input type="phone" id="formPhone" name="phone" class="form-control mr-2 mb-2 w-100 w-lg-auto"
                                    style="width: 300px;">
                                <button class="btn btn-primary w-100 w-lg-auto mb-2">отправить запрос</button>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 w-lg-75 mb-3">
                    <div class="mb-5 pb-5">
                        <a href="#"><i class="fas fa-arrow-left mr-2"></i> <span>перейти к регистрации</span></a>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>