<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="pb-3">
        <section class="container pb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Восстановить пароль</li>
                </ol>
            </nav>

            <h1 class="text-uppercase mb-4 font-weight-bold">Восстановление пароля</h1>

            <div class="d-flex pb-lg-5">
                <div class="mr-5">
                    <img src="img/sendmessage.svg" width="100" alt="">
                </div>
                <div class="w-100">
                    <p class="mb-0 fs-20">Мы выслали вам письмо со ссылкой на генерацию нового пароля.</p>
                    <p class="mb-3 fs-20">Для активации нового пароля - перейдите по ссылке из письма.</p>
                    <div class="d-none d-lg-block">
                        <p class="mb-3"> <img src="img/error2.svg" width="20" class="mr-2"> Если вдруг письма со ссылкой
                            на активацию нет, пожалуйста проверьте папку “Спам”.</p>

                        <hr class="w-75 mb-3">

                        <a href="#" class="btn btn-primary px-3 mb-5">перейти на главную</a>
                        <div class="mb-5"></div>
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none">
                <p class="mb-3"> <img src="img/error2.svg" width="20" class="mr-2"> Если вдруг письма со ссылкой на
                    активацию нет, пожалуйста проверьте папку “Спам”.</p>

                <hr class="w-100 mb-3">

                <a href="#" class="btn btn-primary px-3 mb-5">перейти на главную</a>
                <div class="mb-5"></div>
            </div>
        </section>
    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>