<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>
    <main>
        <!--Основной баннер-->
        <section class="main-banner">
            <div class="mwdlg-100 w-100 p-0 px-lg-90" id="index-banner">
                <a href="#" title=""><img src="img/tmp/banner-1.jpg" class="img-fluid" alt=""></a>
                <a href="#" title=""><img src="img/tmp/banner-1.jpg" class="img-fluid" alt=""></a>
            </div>
        </section>

        <section class="pills__colored-header pills__colored-header__pink">
            <div class="pills__colored-header__header">
                <div class="container">
                    <ul class="nav nav-pills row" id="pills-list" role="tablist">
                        <li class="nav-item col-6 d-flex justify-content-end">
                            <a class="nav-link active" id="bestseller-pill" data-toggle="tab" href="#bestseller-content"
                                role="tab" aria-controls="bestseller" aria-selected="true">Бестселлеры</a>
                        </li>
                        <li class="nav-item col-6 d-flex justify-content-start">
                            <a class="nav-link" id="new-pill" data-toggle="tab" href="#new-content" role="tab"
                                aria-controls="new" aria-selected="true">Новинки</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pills__colored-header__body mb-0 position-relative overflow-hidden">
                <img src="img/circle6.svg" class="bg-product-1 d-none d-lg-block">
                <img src="img/circle7.svg" class="bg-product-2 d-none d-lg-block">
                <div class="container mwdlg-100 w-100 psm-0">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bestseller-content" role="tabpanel"
                            aria-labelledby="bestseller-pill">
                            <div class="product-list index-products">
                                <div class="h-100">
                                    <a class="product">
                                        <div class="product__buttons show-on-hover">
                                            <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                            <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                        </div>
                                        <div class="product__image">
                                            <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            <span href="#" class="product__more-options">Еще 398 цветов</span>
                                        </div>
                                        <div class="product__brief">
                                            <small>MAYBELLINE NEW YORK</small>
                                            <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                                оттенки Палетка теней для век NUDES</h3>
                                        </div>
                                        <div style="display: none;" class="product__cart py-4 fs-14 color-white">
                                            <p>Добавили 1 шт. в корзину на 244 руб.</p>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <label class="fs-14 m-0 color-white" for="productCount">Кол-во:</label>
                                                <div class="m-0 mx-3 d-flex align-items-center">
                                                    <div class="input-counter input-counter-sm">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button"
                                                                    id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="fs-14 m-0 color-white" for="productCount">шт.</label>
                                            </div>
                                        </div>
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="amount amount__new-price">
                                                    34 535 <span class="rub">руб.</span>
                                                </span>
                                                <span class="old-price">34 535 руб.</span>
                                            </div>
                                            <div class="product__action">
                                                <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                            </div>
                                        </div>
                                        <div class="product__add show-on-hover">
                                            <span class="badge badge-sizes">XS</span>
                                            <span class="badge badge-sizes">S</span>
                                            <span class="badge badge-sizes">M</span>
                                            <span class="badge badge-sizes">L</span>
                                            <span class="badge badge-sizes">XL</span>
                                            <span class="badge badge-sizes">XXL</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="h-100">
                                    <a class="product">
                                        <div class="product__buttons show-on-hover">
                                            <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                            <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                        </div>
                                        <div class="product__image">
                                            <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                        </div>
                                        <div class="product__brief">
                                            <small>MAYBELLINE NEW YORK</small>
                                            <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                                оттенки</h3>
                                        </div>
                                        <div style="display: none;" class="product__cart py-4 fs-14 color-white">
                                            <p>Добавили 1 шт. в корзину на 244 руб.</p>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <label class="fs-14 m-0 color-white" for="productCount">Кол-во:</label>
                                                <div class="m-0 mx-3 d-flex align-items-center">
                                                    <div class="input-counter input-counter-sm">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button"
                                                                    id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="fs-14 m-0 color-white" for="productCount">шт.</label>
                                            </div>
                                        </div>
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="amount amount__new-price">
                                                    34 535 <span class="rub">руб.</span>
                                                </span>
                                                <span class="old-price">34 535 руб.</span>
                                            </div>
                                            <div class="product__action">
                                                <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="h-100">
                                    <a class="product">
                                        <div class="labels-pin">
                                            <div class="label-pin label__blue"></div>
                                            <div class="label-pin label__green"></div>
                                            <div class="label-pin label__green-dark"></div>
                                            <div class="label-pin label__pink"></div>
                                            <div class="label-pin label__pink-dark"></div>
                                            <div class="label-pin label__purple"></div>
                                        </div>
                                        <div class="product__buttons show-on-hover">
                                            <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                            <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                        </div>
                                        <div class="product__image">
                                            <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                            <span href="#" class="product__more-options">Еще 999 размеров</span>
                                        </div>
                                        <div class="product__brief">
                                            <small>MAYBELLINE NEW YORK</small>
                                            <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                                оттенки</h3>
                                        </div>
                                        <div style="display: none;" class="product__cart py-4 fs-14 color-white">
                                            <p>Добавили 1 шт. в корзину на 244 руб.</p>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <label class="fs-14 m-0 color-white" for="productCount">Кол-во:</label>
                                                <div class="m-0 mx-3 d-flex align-items-center">
                                                    <div class="input-counter input-counter-sm">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button"
                                                                    id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="fs-14 m-0 color-white" for="productCount">шт.</label>
                                            </div>
                                        </div>
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="amount">
                                                    34 535 <span class="rub">руб.</span>
                                                </span>
                                            </div>
                                            <div class="product__action">
                                                <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                            </div>
                                        </div>
                                        <div class="product__add show-on-hover">
                                            <div class="product__colours">
                                                <span class="colour-select">
                                                    <span
                                                        class="colour-select__inner colour-select__inner__white"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #000000"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #42221e"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #49ba86"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #4b1748"></span>
                                                </span>
                                                <span class="colour-select">
                                                    <span class="colour-select__inner"
                                                        style="background-color: #366084"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="h-100">
                                    <a class="product">
                                        <div class="product__buttons show-on-hover">
                                            <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                            <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                        </div>
                                        <div class="product__image">
                                            <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                        </div>
                                        <div class="product__brief">
                                            <small>MAYBELLINE NEW YORK</small>
                                            <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                                оттенки</h3>
                                        </div>
                                        <div style="display: none;" class="product__cart py-4 fs-14 color-white">
                                            <p>Добавили 1 шт. в корзину на 244 руб.</p>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <label class="fs-14 m-0 color-white" for="productCount">Кол-во:</label>
                                                <div class="m-0 mx-3 d-flex align-items-center">
                                                    <div class="input-counter input-counter-sm">
                                                        <div class="input-group input-group-sm">
                                                            <div class="input-group-prepend">
                                                                <button class="btn" type="button"
                                                                    id="button-minus">-</button>
                                                            </div>
                                                            <input type="text" class="form-control p-0 text-center"
                                                                aria-label="Количество" id="productCount" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button"
                                                                    id="button-plus">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="fs-14 m-0 color-white" for="productCount">шт.</label>
                                            </div>
                                        </div>
                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <span class="amount">
                                                    34 535 <span class="rub">руб.</span>
                                                </span>
                                            </div>
                                            <div class="product__action">
                                                <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                                            </div>
                                        </div>
                                        <div class="product__add show-on-hover">
                                            <div class="product__colours">
                                                <div class="row no-gutters">
                                                    <div class="col-7 text-right">
                                                        <span class="colour-select">
                                                            <span
                                                                class="colour-select__inner colour-select__inner__white"></span>
                                                        </span>
                                                        <span class="colour-select">
                                                            <span class="colour-select__inner"
                                                                style="background-color: #000000"></span>
                                                        </span>
                                                        <span class="colour-select">
                                                            <span class="colour-select__inner"
                                                                style="background-color: #42221e"></span>
                                                        </span>
                                                        <span class="colour-select">
                                                            <span class="colour-select__inner"
                                                                style="background-color: #49ba86"></span>
                                                        </span>
                                                    </div>
                                                    <div class="col-5">
                                                        <span class="more-colours">Ещё 15 оттенков</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="h-100">
                                    <a class="product">
                                        <div class="product__buttons show-on-hover">
                                            <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                            <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                        </div>
                                        <div class="product__image">
                                            <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                        </div>
                                        <div class="product__brief">
                                            <small>MAYBELLINE NEW YORK</small>
                                            <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                                оттенки натуральные оттенки</h3>
                                        </div>
                                        <div class="product__bottom">
                                            <div class="alert alert-gray soon">Скоро в продаже - 05.10.2019</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="h-100">
                                    <a class="product">
                                        <div class="product__buttons show-on-hover">
                                            <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                                            <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                                        </div>
                                        <div class="product__image">
                                            <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                                        </div>
                                        <div class="product__brief">
                                            <small>MAYBELLINE NEW YORK</small>
                                            <h3 class="productdotdot mx-2">Палетка теней для век NUDES, натуральные
                                                оттенки</h3>
                                        </div>
                                        <div class="product__bottom">
                                            <div class="alert alert-gray soon">Скоро в продаже - 05.10.2019</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="new-content" role="tabpanel" aria-labelledby="new-pill">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="advantages">
            <div class="container d-flex flex-nowrapf justify-content-sm-around">
                <div class="d-flex justify-content-center">
                    <a class="advantages__item" href="#">
                        <img class="advantages__img position-relative z-index-10" src="img/discountcard.svg"
                            alt="Дисконтная карта">
                        <span
                            class="color-black d-block text-uppercase fs-14 mb-0 position-relative z-index-10">дисконтная</span>
                        <span class="color-black d-block fs-14 mt-0 position-relative z-index-10">карта</span>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="advantages__item" href="#">
                        <img class="advantages__img pl-3 position-relative z-index-10" src="img/club.svg"
                            alt="Клуб парфюм">
                        <span
                            class="color-black d-block text-uppercase fs-14 mb-0 position-relative z-index-10">клуб</span>
                        <span class="color-black d-block fs-14 mt-0 position-relative z-index-10">парфюм</span>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="advantages__item" href="#">
                        <img class="advantages__img position-relative z-index-10" src="img/gift_cert.svg"
                            alt="Подарочные сертификаты">
                        <span
                            class="color-black d-block text-uppercase fs-14 mb-0 position-relative z-index-10">Подарочные</span>
                        <span class="color-black d-block fs-14 mt-0 position-relative z-index-10">сертификаты</span>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="advantages__item" href="#">
                        <img class="advantages__img position-relative z-index-10" src="img/calendar15.svg"
                            alt="Скидка 15% 15 числа">
                        <span class="color-black d-block text-uppercase fs-14 mb-0 position-relative z-index-10">Скидка
                            15%</span>
                        <span class="color-black d-block fs-14 mt-0 position-relative z-index-10">15 числа</span>
                    </a>
                </div>
            </div>
        </section>

        <section class="position-relative overflow-hidden">
            <img src="img/circle8.svg" class="bg-insta-1 d-none d-lg-block">
            <img src="img/circle12.svg" class="bg-insta-2 d-none d-lg-block">
            <img src="img/circle6.svg" class="bg-insta-3 d-none d-lg-block">
            <section class="container my-5 position-relative z-index-10">
                <div class="border_lg-blue-dark border_size_5 p-0 p-sm-4 background-white position-relative">
                    <div class="insta-block">
                        <div class="insta-block__post first">
                            <img src="img/instagram_text.svg" class="insta-block__header">
                            <img src="img/tmp/insta-1.jpg" class="img-fluid">
                        </div>
                        <div class="insta-block__post second">
                            <img src="img/tmp/insta-2.jpg" class="img-fluid">
                            <p class="subscribe-count fs-16 font-weight-bold d-block">
                                <span class="color-black">Более 33 тысяч</span>
                                <br>
                                <span class="color-purple">подписчиков</span>
                            </p>
                        </div>
                        <div class="insta-block__post third">
                            <img src="img/insta.svg" class="insta-block__icon">
                            <img src="img/tmp/insta-3.jpg" class="img-fluid">
                        </div>
                        <div class="insta-block__post fourth">
                            <img src="img/tmp/insta-4.jpg" class="img-fluid">
                            <div class="insta-block__subscribe mt-3">
                                <p class="fs-14 font-weight-bold mb-2">
                                    Полезная информация, ежемесячные розыгрыши призов и постоянные акции!
                                </p>
                                <a href="#" class="btn btn-primary insta-block__btn">Скорей подписаться</a>
                            </div>
                        </div>
                        <div class="d-none d-md-flex background-purple insta-block__purple-block">
                            <div class="d-flex align-items-center">
                                <img src="img/insta1.svg" width="35" class="mr-3">
                                <div class="insta-block__text">Подписывайтесь на&nbsp;наш аккаунт</div>
                            </div>
                            <a href="#" class="btn btn-primary background-purple-dark">chudodey_beauty</a>
                        </div>
                        <div class="insta-block__subscribe d-block d-lg-none">
                            <p class="fs-14 font-weight-bold mb-2 mr-3">
                                Полезная информация, ежемесячные розыгрыши призов и постоянные акции!
                            </p>
                            <a href="#" class="btn btn-primary insta-block__btn">Скорей подписаться</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="magazine d-flex justify-content-center">
            <img src="img/circle1.svg" class="magazine__img1 d-none d-lg-block">
            <img src="img/circle2.svg" class="magazine__img2 d-none d-lg-block">
            <div class="magazine__img3 d-none d-lg-block">
                <img src="img/circle6.svg" class="d-none d-lg-block">
            </div>

            <div class="container row">
                <div class="col-lg-6 text-right">
                    <img class="d-inline-block img-fluid" height="350" src="img/tmp/magazine.png" alt="">
                </div>
                <div class="col-lg-6 h-20 magazine__text">
                    <h1 class="mb-2">Журнал «Чудодей»</h1>
                    <span class="d-block fs-20 font-weight-bold color-purple mb-2">Бесплатно во всех магазинах</span>
                    <span class="magazine__item">Ежемесячный выпуск свежего издания</span>
                    <span class="magazine__item">Узнавайте о новинках и хитах, среди наших товаров.</span>
                    <span class="magazine__item">Свежая информация о акциях и распродажах.</span>
                </div>
            </div>
        </section>

        <section class="shop">
            <img src="img/circle3.svg" class="shop__img1 d-none d-lg-block">
            <div class="container d-flex justify-content-center flex-wrap">
                <h1 class="shop__tooltip font-weight-normal w-100 text-center fs-42 mb-4">Наши магазины</h1>
                <hr class="mb-5 mt-0">
                <div class="row mt-0">
                    <div class="col-lg-6">
                        <div class="mr-0 mr-lg-4">
                            <img class="img-fluid mb-4" src="img/tmp/shop.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ml-0 ml-lg-4">
                            <h2 class="fs-30 text-uppercase font-weight-bold mb-3 mb-lg-5">НАЙДИТЕ БЛИЖАЙШИЙ МАГАЗИН
                                «ЧУДОДЕЙ»
                                В&nbsp;ВАШЕМ
                                ГОРОДЕ</h2>
                            <p class="fs-16 mb-4">Если вы хотите получить консультацию по уходу или какому-либо из наших
                                продуктов, мы с радостью
                                поможем вам. Приходите в любой салон сети Чудодей. Наши консультанты постараются
                                ответить на
                                все
                                ваши вопросы.</p>
                            <span class="d-block fs-14 font-weight-bold text-uppercase color-purple mb-3">Введите ваш
                                город</span>
                            <div class="row">
                                <div class="col-10 col-lg-7 pr-0">
                                    <div class="d-flex w-100 shop__search-city">
                                        <input type="text" class="d-block shop__city fs-16 w-100"
                                            placeholder="Ваш город" id="shopChooseCity">
                                        <label for="shopChooseCity" data-fon="✉" data-text="email"><img
                                                src="img/location.svg">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="col-2 col-lg-5 pl-0">
                                    <button
                                        class="ml-1 btn btn-secondary d-block font-weight-bold text-uppercase fs-14 h-100">
                                        <span class="d-inline-block d-lg-none"><i
                                                class="fas fa-caret-right color-white fs-20"></i></span>
                                        <span class="d-none d-lg-inline-block">Найти</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe background-purple py-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="mr-0">
                            <div class="d-flex align-items-center">
                                <img src="img/subscribe.svg" class="subscribe__img mr-4">
                                <h2 class="color-white mt-4">Узнавайте первыми о новинках и специальных акциях</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ml-0 ml-lg-4">
                            <form>
                                <div class="row no-gutters">
                                    <div class="col-10 col-lg-7">
                                        <input type="email" class="form-control" placeholder="Электронная почта"
                                            aria-label="Электронная почта" aria-describedby="btn-subscribe">
                                    </div>
                                    <div class="col-2 col-lg-5">
                                        <button class="btn ml-1 btn btn-secondary" type="button" id="btn-subscribe">
                                            <span class="d-inline-block d-lg-none"><i
                                                    class="fas fa-caret-right color-white fs-20"></i></span>
                                            <span class="d-none d-lg-inline-block">Подписаться</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="position-relative overflow-hidden">
            <img src="img/circle4.svg" class="d-none d-lg-block bg-index-3">
            <div class="container my-5">
                <div class="index-lessons__header d-flex flex-column align-items-center">
                    <img class="index-lessons__img mb-4" src="img/uroki.svg">
                    <p class="text-center mb-4">Откройте для себя коллекцию лучших средств для макияжа от
                        ведущих<br>специалистов. Новый взгляд на макияж. Уроки макияжа.</p>

                    <div class="d-flex align-items-center px-5 px-lg-0 position-relative w-100">
                        <img src="img/bg_lessons_left.png" class="d-none d-lg-block bg-index-1">
                        <img src="img/bg_lessons_right.png" class="d-none d-lg-block bg-index-2">
                        <div class="z-index-10 w-100" id="index-makeup-lessons">
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="index-seven-reasons">
            <div class="row m-0">
                <div class="offset-lg-6 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                    <div class="seven-reason-block">
                        <div class="seven-reason-block__image">
                            <img src="img/7reasons.png" class="img-fluid">
                        </div>
                        <div class="seven-reason-block__text">
                            <div class="fs-22 font-weight-bold color-white mb-3">работать в Чудодей</div>
                            <a href="#"
                                class="btn btn-lg btn-dark text-uppercase fs-14 font-weight-bold position-relative z-index-10">Читать
                                подробнее</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>