<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Просмотр журнала – веб-версия</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Информация</a></li>
                <li class="breadcrumb-item active" aria-current="page">Просмотр журнала</li>
            </ol>
        </nav>

        <h1>Просмотр журнала – веб-версия</h1>

        <section class="d-block d-lg-none" id="journalMobile">
            <div class="">
                <div style="width: 100%; height: 110px; background-color: black"></div>
                <div style="width: 100%; height: 110px; background-color: red"></div>
                <div style="width: 100%; height: 110px; background-color: orange"></div>
            </div>
            <div class="">
                <div style="width: 100%; height: 170px; background-color: blue"></div>
                <div style="width: 100%; height: 170px; background-color: yellow"></div>
            </div>
            <div class="">
                <img src="img/tmp/j3.jpg" class="img-fluid">
            </div>
            <div class="">
                <img src="img/tmp/j4.jpg" class="img-fluid">
            </div>
            <div class="">
                <img src="img/tmp/j5.jpg" class="img-fluid">
            </div>
            <div class="">
                <img src="img/tmp/j6.jpg" class="img-fluid">
            </div>
        </section>

        <section class="journal d-none d-lg-block">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-12" style="max-width: 800px;">
                    <div class="journal__pages position-relative" id="journalPages">
                        <div class="journal__page">
                            <div style="width: 100%; height: 200px; background-color: black"></div>
                            <div style="width: 100%; height: 200px; background-color: red"></div>
                            <div style="width: 100%; height: 200px; background-color: orange"></div>
                        </div>
                        <div class="journal__page">
                            <div style="width: 100%; height: 300px; background-color: blue"></div>
                            <div style="width: 100%; height: 300px; background-color: yellow"></div>
                        </div>
                        <div class="journal__page">
                            <img src="img/tmp/j3.jpg" class="img-fluid journal__img">
                        </div>
                        <div class="journal__page">
                            <img src="img/tmp/j4.jpg" class="img-fluid journal__img">
                        </div>
                        <div class="journal__page">
                            <img src="img/tmp/j5.jpg" class="img-fluid journal__img">
                        </div>
                        <div class="journal__page">
                            <img src="img/tmp/j6.jpg" class="img-fluid journal__img">
                        </div>
                        <div class="journal__page">
                            Test
                        </div>
                    </div>
                    <div class="d-flex justify-content-between w-100">
                        <div class="b-counter first">1</div>
                        <div class="b-counter second position-relative" style="right: -30px;">2</div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>