<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уроки макияжа: секреты французского макияжа в стиле Cabaret Le Chat Noir</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>
    <main>
        <div class="container">
            <%= _.template(require('./template/breadcrumb.html'))() %>
            <h1>Уроки макияжа: секреты французского макияжа в стиле Cabaret Le Chat Noir</h1>
            <div class="row lesson-detail justify-content-center">
                <div class="col-lg-10">
                    <div class="d-none d-lg-block circle-bg left-blue-circle"></div>
                    <div class="d-none d-lg-block circle-bg left-pink-circle"></div>
                    <div class="d-none d-lg-block circle-bg right-pink-circle"></div>
                    <div class="d-none d-lg-block circle-bg right-pink-circle-small"></div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <div class="embed-responsive embed-responsive-16by9 lesson-detail__video">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                            </div>
                            <p class="lesson-detail__description">Секреты французского макияжа в стиле Cabaret Le Chat
                                Noir</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="position-relative overflow-hidden">
            <div class="container my-5">
                <div class="index-lessons__header d-flex flex-column align-items-center">
                    <img src="img/other.svg" class="lesson-detail-more__header" alt="Другие уроки">
                    <div class="d-flex align-items-center px-5 px-lg-0 position-relative w-100">
                        <img src="/img/bg_lessons_left.png" class="d-none d-lg-block bg-index-1">
                        <img src="/img/bg_lessons_right.png" class="d-none d-lg-block bg-index-2">
                        <div class="z-index-10 w-100" id="index-makeup-lessons">
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="/img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="/img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="/img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                            <a href="#" class="card card_lessons p-3 nav-link_hover_none">
                                <img src="/img/tmp/lessons.jpg" class="w-100">
                                <div class="card-body pb-0">
                                    <h5 class="card-title fs-16 font-weight-normal text-center mb-0">Секреты
                                        французского
                                        макияжа в стиле<br>Cabaret Le Chat Noir</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center other-lessons">
            <a href="#" class="btn btn-primary px-4">Другие уроки</a>
        </div>
    </main>
    <%= _.template(require('./template/footer.html'))() %>
    <script src="js/app.js"></script>
</body>

</html>