<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уроки макияжа</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <div class="container">
            <%= _.template(require('./template/breadcrumb.html'))() %>
            <h1>Уроки макияжа</h1>
            <div class="lesson-list">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir. Секреты французского макияжа в стиле Cabaret
                                    Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir. Секреты французского макияжа в стиле Cabaret
                                    Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir. Секреты французского макияжа в стиле Cabaret
                                    Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir. Секреты французского макияжа в стиле Cabaret
                                    Le Chat Noir</a> </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="lesson-item position-relative">
                            <div class="lesson-item__image">
                                <img src="https://placebeard.it/500/320" class="img-fluid" alt="">
                            </div>
                            <h2 class="lesson-item__header"><a href="#" class="stretched-link">Секреты французского
                                    макияжа в стиле Cabaret Le Chat Noir</a> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>