<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новости & события</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>
    
    <main>
        <div class="container">
            <%= _.template(require('./template/breadcrumb.html'))() %>
            <div class="news__pre-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="news__pre-header__header">Новости & события</div>
                    </div>
                    <div class="col-6 text-right">
                        <div class="news__pre-header__date">02.12.2017</div>
                    </div>
                </div>
            </div>
            <h1>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h1>
            <div class="row news-detail">
                <div class="col-md-5">
                    <img src="https://placebeard.it/600/350" class="img-fluid news-detail__image" alt="">
                </div>
                <div class="col-md-7">
                    <p>Приглашаем вас на&nbsp;спреинги ароматов от&nbsp;Antonio Banderas The Secret
                        Temptation&nbsp;&mdash;
                        для него и&nbsp;Her Secret Temptation для неё, который пройдут в&nbsp;магазинах Чудодей: ГУМ,
                        ТЦ&nbsp;Алеутский, ТЦ&nbsp;Первореченский, Луговая, 2 Речка.</p>
                    <p>Искушение многолико&hellip; Столкнувшись с&nbsp;ним однажды, уже невозможно забыть этой случайной
                        встречи. Искушение таится в&nbsp;нас самих, нарастая с&nbsp;каждым днем&nbsp;&mdash;
                        до&nbsp;предела, когда сопротивляться ему уже невозможно. Каким&nbsp;бы оно не&nbsp;было, рано
                        или
                        поздно придется ответить на&nbsp;главный вопрос. Вы&nbsp;сможете контролировать искушение?</p>
                    <p>Антонио Бандерас и&nbsp;Ольга Куриленко представляют новую главу захватывающей истории обольщения
                        и&nbsp;соблазна.</p>
                    <p>The Secret Temptation&nbsp;&mdash; древесный и&nbsp;пряный. Яркий, соблазнительный и&nbsp;стойкий
                        аромат, в&nbsp;котором сочетание древесных нот усилено пряным аккордом. Her Secret
                        Temptation&nbsp;&mdash; цветочный, ароматический. Яркий, соблазнительный и&nbsp;стойкий аромат,
                        в&nbsp;котором сочетание цветочных нот усилено древесным аккордом.</p>
                    <p>Время и&nbsp;даты проведения могут быть изменены.</p>
                </div>
            </div>
            <div class="news-detail__bottom-nav">
                <div class="row">
                    <div class="d-block d-lg-none col-4"><a href=""><i
                                class="fas fa-arrow-left fs-12 mr-2"></i>&nbsp;Назад</a></div>
                    <div class="d-none d-lg-block col-6"><a href=""><i
                                class="fas fa-arrow-left fs-12 mr-2"></i>&nbsp;Вернуться к списку новостей</a></div>
                    <div class="col-8 col-lg-6 text-right"><a href="">Следующая новость&nbsp;<i
                                class="fas fa-arrow-right fs-12 ml-2"></i></a></div>
                </div>
            </div>
        </div>
    </main>
    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>