<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новости & события</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <div class="container">
            <%= _.template(require('./template/breadcrumb.html'))() %>
            <h1>Новости & события</h1>
            <div class="news-list">
                <div class="row">
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="news" href="#">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="https://placebeard.it/300/220" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="news__header">
                                        <h2>Каталог ФЕВРАЛЬ 2018 уже в магазинах</h2>
                                    </div>
                                    <div class="news__date">01.02.2018</div>
                                    <div class="news__preview">
                                        <p>Акция на&nbsp;мужской парфюм, скидки, идеи для подарков любимым
                                            мужчинам&nbsp;&mdash; все это в&nbsp;февральском номере!</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <nav aria-label="Страницы">
                        <ul class="pagination">
                            <li class="pagination-item">
                                <span class="pagination-description">Страница:</span>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-link page" href="#">1</a>
                            </li>
                            <li class="pagination-item" aria-current="page">
                                <span class="pagination-link page active">2</span>
                            </li>
                            <li class="pagination-item">
                                <span class="pagination-link range" href="#">...</span>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-link page" href="#">10</a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-link" href="#">Следующая</a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-link" href="#">Последняя</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>