<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Заказ не оформлен</li>
                </ol>
            </nav>

            <h1 class="mb-3">ЗАКАЗ УСПЕШНО ОФОРМЛЕН</h1>

            <div class="order-steps mb-3">
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">1</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Корзина</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">2</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Адрес и время доставки</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">3</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Подтвержедение и
                        доставка</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step active mb-2">
                    <div class="order-step__check mr-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">4</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Заказ готов</span>
                </div>
            </div>

            <div class="p-5 border border-info d-flex mb-5">

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <h2 class="color-black">Спасибо за покупку!</h2>
                        <p>В ближайшее время наш менеджер свяжется с вами, и подтвердит ваш заказ.</p>
                        <p>Если необходимо свяжитесь с нами по телефону или эл.почте.</p>
                        <div class="d-flex flex-wrap flex-lg-nowrap">
                            <span class="fs-16 mr-4"><i class="fas fa-phone-alt fs-14 color-purple mr-2 mb-2"></i>+7 (423) 2-310-693</span>
                            <a href="#"><i class="fas fa-envelope mr-2 font-weight-normal"></i>info@chudodey.com</a>
                        </div>
                        <hr>
                        <p><img src="img/list-order.svg" height="20" class="d-inline-block mr-3">Вы можете отслеживать статус своего заказа в <a href="#">личном кабинете</a> на нашем сайте.</p>
                        <hr>
                        <a href="#" class="btn btn-info px-3 w-100 w-lg-auto mb-4">перейти на главную</a>
                    </div>
                    <div class="col-12 col-lg-5 pl-lg-5">
                        <div class="background-purple rounded p-3 p-lg-4 d-flex align-content-center d-flex flex-wrap flex-lg-nowrap justify-content-center mb-4 mb-lg-5">
                            <span class="text-uppercase color-white fs-14 d-block mr-lg-4 mb-2">Номер вашего <br class="d-none d-lg-inline">заказа:</span>
                            <div class="d-flex">
                                <div class="background-white rounded p-2 d-flex align-items-center justify-content-center mr-2" style="width: 30px;">
                                    <span class="fs-20" style="line-height: 1;">0</span>
                                </div>
                                <div class="background-white rounded p-2 d-flex align-items-center justify-content-center mr-2" style="width: 30px;">
                                    <span class="fs-20" style="line-height: 1;">0</span>
                                </div>
                                <div class="background-white rounded p-2 d-flex align-items-center justify-content-center mr-2" style="width: 30px;">
                                    <span class="fs-20" style="line-height: 1;">0</span>
                                </div>
                                <div class="background-white rounded p-2 d-flex align-items-center justify-content-center mr-2" style="width: 30px;">
                                    <span class="fs-20" style="line-height: 1;">2</span>
                                </div>
                                <div class="background-white rounded p-2 d-flex align-items-center justify-content-center mr-2" style="width: 30px;">
                                    <span class="fs-20" style="line-height: 1;">5</span>
                                </div>
                                <div class="background-white rounded p-2 d-flex align-items-center justify-content-center" style="width: 30px;">
                                    <span class="fs-20" style="line-height: 1;">6</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <img src="img/cart2.svg" class="mr-2" height="20">
                                <span class="fs-20 font-weight-bold mt-1">Вы оформили следующий заказ:</span>
                            </div>
                            <hr class="my-2">
                            <div class="row fs-16 font-weight-bold">
                                <div class="col-5 col-lg-3">Товаров:</div>
                                <div class="col-7 col-lg-9">5шт.</div>
                                <div class="col-5 col-lg-3">На сумму:</div>
                                <div class="col-7 col-lg-9">22 890 руб.</div>
                                <div class="col-5 col-lg-3">Доставка:</div>
                                <div class="col-7 col-lg-9">500 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>