<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
    <script>
        var mapObjects = {
            "type": "FeatureCollection",
            "features": [
                { "type": "Feature", "id": 0, "geometry": { "type": "Point", "coordinates": [43.115661, 131.887497] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<label for="city1" class="btn btn-primary rounded-0"><input type="radio" class="d-none" value="city1" id="city1" name="pickup-city"/>Выбрать магазин</label>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 1, "geometry": { "type": "Point", "coordinates": [43.133835, 131.899471] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<label for="city2" class="btn btn-primary rounded-0"><input type="radio" class="d-none" value="city2" id="city2" name="pickup-city"/>Выбрать магазин</label>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 2, "geometry": { "type": "Point", "coordinates": [43.133699, 131.900383] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<label for="city3" class="btn btn-primary rounded-0"><input type="radio" class="d-none" value="city3" id="city3" name="pickup-city"/>Выбрать магазин</label>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
            ]
        };
    </script>
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ваша корзина</li>
                </ol>
            </nav>

            <h1 class="text-uppercase mb-3 font-weight-bold">ОФОРМЛЕНИЕ ЗАКАЗА</h1>
            <div class="order-steps mb-3">
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">1</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Корзина</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step active mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">2</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Адрес и время доставки</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mr-2 mr-lg-3 mb-2">
                    <div class="order-step__check mr-lg-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">3</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Подтвержедение и
                        доставка</span>
                </div>
                <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
                <div class="order-step mb-2">
                    <div class="order-step__check mr-2">
                        <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                        <span class="font-weight-bold d-lg-none">4</span>
                    </div>
                    <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Заказ готов</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-9 pr-lg-5 order-2 order-lg-1">
                    <h2 class="color-black">Персональные данные</h2>
                    <hr class="dotted" />

                    <div class="row mb-4">
                        <div class="col-12 col-lg-4 form-group">
                            <label for="formFirstName">Ваше имя <span class="color-red">*</span></label>
                            <input type="text" id="formFirstName" name="first-name" class="form-control">
                        </div>
                        <div class="col-12 col-lg-4 form-group">
                            <label for="formMiddleName">Отчество</label>
                            <input type="text" id="formMiddleName" name="middle-name" class="form-control">
                        </div>
                        <div class="col-12 col-lg-4 form-group">
                            <label for="formLastName">Фамилия <span class="color-red">*</span></label>
                            <input type="text" id="formLastName" name="last-name" class="form-control">
                        </div>
                        <div class="col-12 col-lg-5 form-group">
                            <label for="formLastName">Электронная почта <span class="color-red">*</span></label>
                            <input type="text" id="formLastName" name="last-name" class="form-control">
                        </div>
                        <div class="col-10 col-lg-4 form-group">
                            <label for="formLastName">Номер телефона <span class="color-red">*</span></label>
                            <input type="text" id="formLastName" name="last-name" class="form-control">
                        </div>
                    </div>

                    <h2 class="color-black">Доставка заказа</h2>
                    <hr class="dotted" />

                    <div class="mb-4">
                        <label for="deliveryEMS" class="delivery-type">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="custom-control custom-radio position-static">
                                        <input type="radio" name="delivery" id="deliveryEMS"
                                            class="custom-control-input switcher-delivery" rel="courier" checked>
                                        <label class="custom-control-label" for="deliveryEMS"><span>Доставка курьером по
                                                России</span></label>
                                        <div class="border"></div>
                                    </div>
                                </div>
                                <div class="d-none d-lg-block">
                                    <img src="img/ems.png" height="30">
                                </div>
                            </div>
                        </label>
                        <label for="deliveryC" class="delivery-type">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="custom-control custom-radio position-static">
                                        <input type="radio" name="delivery" id="deliveryC"
                                            class="custom-control-input switcher-delivery" rel="pickup">
                                        <label class="custom-control-label" for="deliveryC"><span>Самовывоз из магазина
                                                Чудодей</span></label>
                                        <div class="border"></div>
                                    </div>
                                </div>
                                <div class="d-none d-lg-block">
                                    <img src="img/logo_footer.svg" height="30">
                                </div>
                            </div>
                        </label>
                        <label for="deliveryRP" class="delivery-type">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="custom-control custom-radio position-static">
                                        <input type="radio" name="delivery" id="deliveryRP"
                                            class="custom-control-input switcher-delivery" rel="russian">
                                        <label class="custom-control-label" for="deliveryRP"><span>Доставка почтой
                                                России</span></label>
                                        <div class="border"></div>
                                    </div>
                                </div>
                                <div class="d-none d-lg-block">
                                    <img src="img/russian_post.png" height="30">
                                </div>
                            </div>
                        </label>
                        <label for="deliveryDL" class="delivery-type">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="custom-control custom-radio position-static">
                                        <input type="radio" name="delivery" id="deliveryDL"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="deliveryDL"><span>Доставка Транспортной
                                                компанией</span></label>
                                        <div class="border"></div>
                                    </div>
                                </div>
                                <div class="d-none d-lg-block">
                                    <img src="img/delovie_linii.png" height="30">
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="mb-4 russian-switcher switched-delivery" style="display: none;">
                        <h2 class="color-black">Доставка почтой России</h2>
                        <div>
                            <div class="delivery-type mb-2" style="max-width: none;">
                                <div
                                    class="custom-control custom-radio d-flex justify-content-between align-items-center position-static">
                                    <input type="radio" class="custom-control-input switcher-address"
                                        name="delivery-address" rel="address1" id="deliveryAddress">
                                    <label class="custom-control-label" for="deliveryAddress">Приморский край,
                                        Уссурийск, ул. Тестовая, 12, кв. 250, п. 3, этаж
                                        12</label>
                                    <div class="border"></div>
                                    <div>
                                        <button class="border btn d-flex justify-content-center align-items-center"
                                            style="width: 25px; height: 25px;">
                                            <i class="fas fa-pencil-alt fs-10"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="delivery-type" style="max-width: none;">
                                <div
                                    class="custom-control custom-radio d-flex justify-content-between align-items-center position-static">
                                    <input type="radio" class="custom-control-input switcher-address"
                                        name="delivery-address" rel="address2" id="deliveryAddress2">
                                    <label class="custom-control-label" for="deliveryAddress2">Приморский край,
                                        Владивосток, ул. Новоивановская, 12, кв. 250, п. 3, этаж 12</label>
                                    <div class="border"></div>
                                    <div>
                                        <button class="border btn d-flex justify-content-center align-items-center"
                                            style="width: 25px; height: 25px;">
                                            <i class="fas fa-pencil-alt fs-10"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="delivery-type" style="max-width: none;">
                                <div
                                    class="custom-control custom-radio d-flex justify-content-between align-items-center position-static">
                                    <input type="radio" class="custom-control-input switcher-address"
                                        name="delivery-address" rel="address3" id="deliveryAddress3">
                                    <label class="custom-control-label switcher-address" for="deliveryAddress3">Новый
                                        адрес
                                        доставки</label>
                                    <div class="border"></div>
                                    <div>
                                        <div class="d-flex justify-content-center align-items-center"
                                            style="width: 25px; height: 25px;">
                                            <i class="fas fa-plus-square font-weight-normal"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-purple p-4 address3-switcher switched-address mt-1"
                                style="display: none;">
                                <div class="row">
                                    <div class="col-6 form-group">
                                        <label for="formOblast">Область, край <span class="color-red">*</span></label>
                                        <select class="form-control" name="oblast" id="formOblast">
                                            <option value="prim">Приморский край</option>
                                            <option value="prim">Московская область</option>
                                        </select>
                                    </div>
                                    <div class="col-6 form-group">
                                        <label for="formCity">Город <span class="color-red">*</span></label>
                                        <select class="form-control" name="city" id="formCity">
                                            <option value="prim">Владивосток</option>
                                            <option value="prim">Уссурийск</option>
                                        </select>
                                    </div>
                                    <div class="col-10 form-group">
                                        <label for="formIndex">Улица <span class="color-red">*</span></label>
                                        <input class="form-control" id="formIndex" name="index">
                                    </div>
                                    <div class="col-2 form-group">
                                        <label for="formIndex">Индекс <span class="color-red">*</span></label>
                                        <input class="form-control" id="formIndex" name="index">
                                    </div>
                                    <div class="col-7 mr-1">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="formHouse">Дом <span class="color-red">*</span></label>
                                                    <input class="form-control" id="formHouse" name="house">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="formApartment">Квартира <span
                                                            class="color-red">*</span></label>
                                                    <input class="form-control" id="formApartment" name="apartment">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="formPorch">Подъезд</label>
                                                    <input class="form-control" id="formPorch" name="porch">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="formFloor">Этаж</label>
                                                    <input class="form-control" id="formFloor" name="floor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="custom-control custom-checkbox d-inline-block mr-3">
                                            <input name="checbox-house" type="checkbox" class="custom-control-input"
                                                id="customCheckHouse">
                                            <label class="custom-control-label" for="customCheckHouse">Частный
                                                дом</label>
                                        </div>
                                        <div class="custom-control custom-checkbox d-inline-block">
                                            <input name="intercom" type="checkbox" class="custom-control-input"
                                                id="customCheckIntercom">
                                            <label class="custom-control-label" for="customCheckIntercom">Рабочий
                                                домофон</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="dotted">
                    </div>
                    <div class="mb-5 pickup-switcher switched-delivery" style="display: none;">
                        <h2 class="color-black">Выберите город и магазин для самовывоза</h2>
                        <div class="row">
                            <div class="col-12 col-lg-5 mb-3">
                                <ul class="nav nav-pills nav-pills_map justify-content-lg-start px-0" id="pills-tab"
                                    role="tablist">
                                    <li class="nav-item mr-0 mr-2">
                                        <a class="nav-link active text-uppercase rounded-0" id="pills-list-tab"
                                            data-toggle="pill" href="#pills-list" role="tab" aria-controls="pills-list"
                                            aria-selected="true"><i class="fa fa-list fs-14 mr-2"></i>Списком</a>
                                    </li>
                                    <li class="nav-item mr-0 px-0">
                                        <a class="nav-link text-uppercase rounded-0" id="pills-map-tab"
                                            data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map"
                                            aria-selected="false"><i class="fa fa-map-marker-alt mr-2"></i>На
                                            карте</a>
                                    </li>
                            </div>
                            <div class="col-12 col-lg-6 offset-lg-1">
                                <div class="d-lg-flex align-items-center">
                                    <label for="city-picker" class="mr-3 mb-0 font-weight-bold fs-18">Город: </label>
                                    <select class="custom-select" name="city" id="city-picker">
                                        <option value="1">Владивосток</option>
                                        <option value="1">Владивосток</option>
                                        <option value="1">Владивосток</option>
                                        <option value="1">Владивосток</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        </ul>
                        <hr class="dotted">
                        <div class="tab-content mb-3" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-list" role="tabpanel"
                                aria-labelledby="pills-list-tab">
                                <div class="background-gray-superlight border py-3 px-5 d-none d-lg-block">
                                    <div class="row">
                                        <div class="col-5"><span class="pl-4">Название</span></div>
                                        <div class="col-4">Адрес</div>
                                        <div class="col-3">Режим работы</div>
                                    </div>
                                </div>
                                <div class="w-100 border js-scrollable" style="max-height: 500px;">
                                    <div class="w-100">
                                        <div class="row mx-0 pr-3">
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck1"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck1">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck2"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck2">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck3"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck3">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck4"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck4">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck5"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck5">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck6"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck6">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck7"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck7">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck8"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck8">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                            <div class="col-12 col-lg-5 py-2 py-lg-4">
                                                <div class="custom-control custom-radio ml-lg-5">
                                                    <input type="radio" class="custom-control-input" id="customCheck9"
                                                        value="city1" name="pickup-city">
                                                    <label class="custom-control-label font-weight-bold"
                                                        for="customCheck9">
                                                        ЧУДОДЕЙ <br />
                                                        <span class="color-purple text-uppercase">на площади
                                                            Окатовая</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 ml-lg-0 py-lg-4">
                                                <div class="ml-4 ml-lg-0">
                                                    г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 py-2 ml-lg-0 py-lg-4 color-gray">
                                                <small class="ml-4 ml-lg-0 d-block">
                                                    ежедневно с 10:00 до 21:00<br />
                                                    без перерывов и выходных
                                                </small>
                                            </div>
                                            <div class="col-12">
                                                <hr class="ml-lg-4 mr-lg-2 my-0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                                <div id="map" class="map"></div>
                            </div>
                        </div>
                        <div>
                            <p class="font-weight-bold mb-1">Выбранная точка для самовывоза:</p>
                            <div class="border-purple p-4">
                                <div class="row">
                                    <div class="col-12 col-lg-5 mb-2 mb-lg-0 pl-2">
                                        <div class="d-flex">
                                            <i class="fas fa-map-marker-alt mr-3 mt-1 color-purple"></i>
                                            <span class="font-weight-bold">
                                                <span>ЧУДОДЕЙ</span>
                                                <br />
                                                <span class="color-purple text-uppercase">на площади Окатовая</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                                        <div class="ml-4 ml-lg-0">
                                            г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3 color-gray">
                                        <small class="ml-4 ml-lg-0 d-block">
                                            ежедневно с 10:00 до 21:00<br />
                                            без перерывов и выходных
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5 courier-switcher switched-delivery">
                        <h3 class="color-black fs-22 mb-3 font-weight-bold">Доставка курьером по России</h3>
                        <div class="row">
                            <div class="col-12 col-lg-5 form-group">
                                <label for="formOblast">Область, край <span class="color-red">*</span></label>
                                <select class="form-control" name="oblast" id="formOblast">
                                    <option value="prim">Приморский край</option>
                                    <option value="prim">Московская область</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-5 form-group">
                                <label for="formCity">Город <span class="color-red">*</span></label>
                                <select class="form-control" name="city" id="formCity">
                                    <option value="prim">Владивосток</option>
                                    <option value="prim">Уссурийск</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-2 form-group">
                                <label for="formIndex">Индекс <span class="color-red">*</span></label>
                                <input class="form-control" id="formIndex" name="index">
                            </div>
                            <div class="col-12 col-lg-5 form-group">
                                <label for="formIndex">Улица <span class="color-red">*</span></label>
                                <input class="form-control" id="formIndex" name="index">
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="row">
                                    <div class="col-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="formHouse">Дом <span class="color-red">*</span></label>
                                            <input class="form-control" id="formHouse" name="house">
                                        </div>
                                    </div>
                                    <div class="col-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="formApartment">Кв. <span class="color-red">*</span></label>
                                            <input class="form-control" id="formApartment" name="apartment">
                                        </div>
                                    </div>
                                    <div class="col-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="formPorch">Подъезд</label>
                                            <input class="form-control" id="formPorch" name="porch">
                                        </div>
                                    </div>
                                    <div class="col-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="formFloor">Этаж </label>
                                            <input class="form-control" id="formFloor" name="floor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offset-lg-5 col-12 col-lg-7">
                                <div class="custom-control custom-checkbox d-inline-block mr-3">
                                    <input name="checbox-house" type="checkbox" class="custom-control-input"
                                        id="customCheckHouse">
                                    <label class="custom-control-label" for="customCheckHouse">Частный дом</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline-block">
                                    <input name="intercom" type="checkbox" class="custom-control-input"
                                        id="customCheckIntercom">
                                    <label class="custom-control-label" for="customCheckIntercom">Рабочий
                                        домофон</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-none d-lg-block">
                        <div class="d-flex">
                            <span class="cart-check-circle mr-3">
                                <img src="img/cart2.svg">
                            </span>
                            <h2 class="d-inline color-black">Наличие товаров из корзины в выбранном Вами магазине:</h2>
                        </div>
                        <div class="background-gray-superlight py-1 text-muted">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-5">наименование</div>
                                <div class="col-2">кол-во</div>
                                <div class="col-3">наличие</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-3">
                                <div class="pr-4">
                                    <img src="img/tmp/product.jpg" class="item-image"
                                        style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="col-5 mt-3">
                                <div>
                                    <p class="text-uppercase font-weight-bold mb-2 fs-14">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ
                                        `ISADORA`
                                        TWIST-UP ТОН
                                        07</p>
                                    <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                    <p class="fs-12 color-gray">
                                        <span class="align-middle">цвет:</span>
                                        <span class="colour-select align-middle">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-2 mt-3">
                                <span><span class="text-muted fs-12">x&nbsp;</span>1 шт.</span>
                            </div>
                            <div class="col-3 mt-3">
                                <span style="background-color: #e4f4df;" class="px-3 py-1">в наличии</span>
                            </div>
                            <div class="col-12">
                                <hr class="my-0">
                            </div>
                            <div class="col-2 mt-3">
                                <div class="pr-4">
                                    <img src="img/tmp/product.jpg" class="item-image"
                                        style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="col-5 mt-3">
                                <div>
                                    <p class="text-uppercase font-weight-bold mb-2 fs-14">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ
                                        `ISADORA`
                                        TWIST-UP ТОН
                                        07</p>
                                    <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                    <p class="fs-12 color-gray">
                                        <span class="align-middle">цвет:</span>
                                        <span class="colour-select align-middle">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-2 mt-3">
                                <span><span class="text-muted fs-12">x&nbsp;</span>1 шт.</span>
                            </div>
                            <div class="col-3 mt-3">
                                <span style="background-color: #e4f4df;" class="px-3 py-1">в наличии</span>
                            </div>
                            <div class="col-12">
                                <hr class="my-0">
                            </div>
                            <div class="col-2 mt-3">
                                <div class="pr-4">
                                    <img src="img/tmp/product.jpg" class="item-image"
                                        style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="col-5 mt-3">
                                <div>
                                    <p class="text-uppercase font-weight-bold mb-2 fs-14">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ
                                        `ISADORA`
                                        TWIST-UP ТОН
                                        07</p>
                                    <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                </div>
                            </div>
                            <div class="col-2 mt-3">
                                <span><span class="text-muted fs-12">x&nbsp;</span>5 шт.</span>
                            </div>
                            <div class="col-3 mt-3">
                                <span style="background-color: #f4e6df;" class="px-3 py-1 mr-2">доставка</span>
                                <span>3-4 дня</span>
                            </div>
                            <div class="col-12">
                                <hr class="my-0">
                            </div>
                            <div class="col-2 mt-3">
                                <div class="pr-4">
                                    <img src="img/tmp/product.jpg" class="item-image"
                                        style="width: 100%; height: auto;">
                                </div>
                            </div>
                            <div class="col-5 mt-3">
                                <div>
                                    <p class="text-uppercase font-weight-bold mb-2 fs-14">БЛЕСК-КАРАНДАШ ДЛЯ ГУБ
                                        `ISADORA`
                                        TWIST-UP ТОН
                                        07</p>
                                    <p class="fs-12 color-gray mb-2">артикул: 107341</p>
                                    <p class="fs-12 color-gray">
                                        <span class="align-middle">цвет:</span>
                                        <span class="colour-select align-middle">
                                            <span class="colour-select__inner" style="background-color: #42221e"></span>
                                        </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-2 mt-3">
                                <span><span class="text-muted fs-12">x&nbsp;</span>1 шт.</span>
                            </div>
                            <div class="col-3 mt-3">
                                <span style="background-color: #e4f4df;" class="px-3 py-1">в наличии</span>
                            </div>
                            <div class="col-12">
                                <hr class="my-0">
                            </div>
                        </div>
                    </div>

                    <hr class="dotted mb-4" />

                    <div class="mb-lg-4 mb-5">
                        <label for="addition" class="color-black font-weight-bold" style="font-size: 22px;">Примечание к
                            заказу</label>
                        <textarea name="addition" id="addition" class="w-100 mt-1" rows="5"></textarea>

                        <div class="custom-control custom-checkbox form-control-sm">
                            <input type="checkbox" class="custom-control-input form-control-sm" id="agree">
                            <label class="custom-control-label fs-12 form-control-sm" for="agree">
                                <p>Я ознакомился
                                    (-ась) с условиями <a href="#">Договора-оферты</a> и даю согласие на обработку моих
                                    персональных данных в соответствии с <a href="#">условиями</a></p>
                            </label>
                        </div>
                    </div>

                    <div
                        class="d-flex flex-wrap flex-lg-nowrap justify-content-between align-content-center bg-light px-5 py-lg-5 py-4 mb-5 mx-0">
                        <div class="row">
                            <div
                                class="col-3 text-uppercase font-weight-bold fs-20 d-flex justify-content-end flex-column">
                                <span>Итого:</span>
                            </div>
                            <div class="col-6 font-weight-bold fs-30 mr-1 d-flex align-items-end"
                                style="line-height: 130%;"><span class="cart_price-sum">1 524</span>
                                руб.
                            </div>
                            <div class="col-3 fs-16">Бонусов:</div>
                            <div class="col-6 fs-16">+ 256</div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col-3 fs-16">
                                <span>Товары:</span>
                            </div>
                            <div class="col-6 fs-16 mr-1 font-weight-bold"><span class="cart_price-sum">1 524</span>
                                руб.
                            </div>
                            <div class="col-3 fs-16">Доставка:</div>
                            <div class="col-6 fs-16 font-weight-bold">бесплатно</div>
                        </div>
                        <a href="#"
                            class="w-100 w-lg-auto btn btn-primary text-uppercase fs-16 px-5 py-2 d-flex justify-content-center flex-column">
                            <span class="d-inline-block">Оформить&nbsp;заказ</span>
                        </a>
                    </div>

                </div>
                <div class="col-12 col-lg-3 order-1 order-lg-2 mb-3 mb-lg-0">
                    <div class="bg-light py-4 pl-4 pr-2 h-100">
                        <div class="d-flex justify-content-between text-uppercase align-items-end mb-2 mb-lg-0 pr-3">
                            <span class="font-weight-bold">Ваш заказ:</span>
                            <span class="fs-12" style="padding-bottom: 3px;">В заказе: <span class="font-weight-bold">5
                                    шт.</span></span>
                            <button class="btn btn-primary rounded-0 fs-12 pt-2 pb-0 px-2 d-block d-lg-none"
                                data-toggle="collapse" data-target="#collapseOrder" aria-expanded="false"
                                aria-controls="collapseOrder"><i class="fas fa-chevron-down"></i></button>
                        </div>

                        <div class="w-100 js-scrollable pr-3 mb-3 d-lg-block collapse" id="collapseOrder"
                            style="max-height: 450px;">
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p>
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p
                                        class="mb-0">
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p
                                        class="mb-0">
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p
                                        class="mb-0">
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p
                                        class="mb-0">
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p
                                        class="mb-0">
                                </div>
                            </div>
                            <hr class="dotted my-2">
                            <div class="d-flex">
                                <div class="flex-shrink-0 mr-2">
                                    <img src="img/tmp/product.jpg" class="item-image">
                                </div>
                                <div class="flex-grow-1">
                                    <p class="font-weight-bold fs-12 mb-0">ПОМАДА ДЛЯ ГУБ И УВЛАЖНЯЮЩИЙ БЛЕСК `MAX
                                        FACTOR` LIPFINITY ТОН 330 СТОЙКАЯ</p>
                                    <p style="color: #b3b3b3;" class="fs-10 mb-0">артикул: 107341</p>
                                    <p class="mb-0"><span class="font-weight-bold">539 руб.</span> х 1шт.</p
                                        class="mb-0">
                                </div>
                            </div>
                            <hr class="dotted my-2">
                        </div>
                        <hr class="dotted my-2 d-block d-lg-none mr-3" style="border-color: gray;">
                        <div>
                            <button class="btn fs-12 background-white color-purple font-weight-bold">отредактировать
                                состав заказа</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%= _.template(require('./template/footer.html'))() %>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ad123f7c-8f4c-48a3-9e4c-acfe7c8529e7"
        type="text/javascript"></script>
    <script src="js/app.js"></script>
</body>

</html>