<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>


    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Ваша корзина</a></li>
            </ol>
        </nav>

        <h1 class="text-uppercase mb-3">Оплата заказа</h1>

        <div class="order-steps mb-3">
            <div class="order-step mr-2 mr-lg-3 mb-2">
                <div class="order-step__check mr-lg-2">
                    <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                    <span class="font-weight-bold d-lg-none">1</span>
                </div>
                <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Корзина</span>
            </div>
            <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
            <div class="order-step mr-2 mr-lg-3 mb-2">
                <div class="order-step__check mr-lg-2">
                    <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                    <span class="font-weight-bold d-lg-none">2</span>
                </div>
                <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Адрес и время доставки</span>
            </div>
            <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
            <div class="order-step active mr-2 mr-lg-3 mb-2">
                <div class="order-step__check mr-lg-2">
                    <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                    <span class="font-weight-bold d-lg-none">3</span>
                </div>
                <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Подтвержедение и
                    доставка</span>
            </div>
            <i class="d-lg-none mr-2 fas fa-angle-double-right"></i>
            <div class="order-step mb-2">
                <div class="order-step__check mr-2">
                    <i class="fas fa-check fs-10 d-none d-lg-inline"></i>
                    <span class="font-weight-bold d-lg-none">4</span>
                </div>
                <span class="text-uppercase fs-14 font-weight-bold d-none d-lg-inline">Заказ готов</span>
            </div>
        </div>

        <div>
            <label for="payType" class="delivery-type d-block">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="custom-control custom-radio position-static">
                            <input type="radio" name="payType" id="payType"
                                class="custom-control-input switcher-delivery" rel="online" checked>
                            <label class="custom-control-label" for="payType"><span>Оплата картой онлайн</span></label>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block">
                        <img src="img/ems.png" height="30">
                    </div>
                </div>
            </label>
            <label for="payTypeCash" class="delivery-type d-block">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="custom-control custom-radio position-static">
                            <input type="radio" name="payType" id="payTypeCash"
                                class="custom-control-input switcher-delivery" rel="online" checked>
                            <label class="custom-control-label" for="payTypeCash"><span>Наличными при
                                    получении</span></label>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block">
                        <img src="img/ems.png" height="30">
                    </div>
                </div>
            </label>
        </div>

        <hr class="my-lg-5">

        <div class="mb-5">
            <div class="row">
                <div class="col-12 col-lg-1 mb-4">
                    <div
                        class="background-purple color-white p-3 d-flex flex-lg-column justify-content-lg-center align-items-center">
                        <img src="img/bonus.svg" width="50" class="d-block mb-lg-3 mr-3 mr-lg-0">
                        <span class="d-block font-weight-bold mb-0 line-height-100 mr-2 mr-lg-0"
                            style="font-size: 22px;">2700</span class="d-block">
                        <span class="d-block fs-12 line-height-100">бонусов</span class="d-block">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="color-black font-weight-bold mb-2">Ваши накопленные бонусы</h2>
                    <p class="mb-0">Оформляйте заказы и получайте бонусы за них.</p>
                    <p>Оплачивайте до 100% стоимости заказа бонусами, или продолжайте их копить.</p>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-12 col-lg-6 mb-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                    class="custom-control-input" checked>
                                <label class="custom-control-label" for="customRadioInline1">
                                    <span class="d-block">Продолжить копить бонусы</span>
                                    <span class="fs-14">+ 250 бонусов</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">
                                    <span class="d-block">Списать бонусы</span>
                                    <span class="fs-14 text-muted">
                                        <input type="text" disabled value="2700" class="text-center"
                                            style="width: 75px;">
                                        бонусов
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <a href="#"><img src="img/info.svg" width="15" class="mr-2"><span class="link-dotted">читайте
                            подробнее про бонусы</span></a>
                </div>
            </div>
        </div>

        <hr>
        <div
            class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center bg-light px-5 py-5 mb-5 mx-0">
            <a href="#"
                class="btn mr-0 mr-lg-5 mb-3 mb-lg-0 btn-outline-primary d-block flex-grow-1 rounded-0 flex-shrink-0 background-white w-100 w-lg-auto">вернуться
                к
                анкете покупателя</a>

            <div>
                <div class="row">
                    <div class="col-4 text-uppercase font-weight-bold fs-20 d-flex justify-content-end flex-column">
                        <span>Итого:</span>
                    </div>
                    <div class="col-8 font-weight-bold fs-30"><span class="cart_price-sum">1 524</span>
                        руб.
                    </div>
                    <div class="col-4 fs-16">Бонусов:</div>
                    <div class="col-8 fs-16">+ 256</div>
                </div>
            </div>
            <div class="mb-3 mb-lg-0">
                <div class="row mt-3">
                    <div class="col-4 fs-16">
                        <span>Товары:</span>
                    </div>
                    <div class="col-8 fs-16 font-weight-bold"><span class="cart_price-sum">1 524</span>
                        руб.
                    </div>
                    <div class="col-4 fs-16">Доставка:</div>
                    <div class="col-8 fs-16 font-weight-bold">бесплатно</div>
                </div>
            </div>
            <div>
                <a href="#"
                    class="btn btn-primary text-uppercase fs-16 px-5 py-2 d-flex justify-content-center flex-column"
                    style="height: 64px;">
                    <span class="d-inline-block">Оформить&nbsp;заказ</span>
                </a>
            </div>
        </div>
    </main>

    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>