<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Заказ не оформлен</li>
                </ol>
            </nav>

            <h1>ОШИБКА ОФОРМЛЕНИЯ ЗАКАЗА</h1>

            <div class="p-5 border border-danger d-flex mb-5">
                <div class="mr-5 d-none d-lg-block">
                    <img src="./img/error.svg" width="200">
                </div>
                <div class="w-100 w-lg-50">
                    <h2 class="font-weight-bold color-black mb-3">Произошла ошибка! Повторите заказ</h2>
                    <p>Во время оформления заказа произошла ошибка. Попробуйте вновь положить товары в корзину и
                        оформить заказ.</p>
                    <hr>
                    <p>Если ошибка вновь повторится - сообщите нам по телефону или эл.почте:</p>
                    <div class="d-flex flex-wrap flex-lg-nowrap">
                        <span class="fs-16 mr-4"><i class="fas fa-phone-alt fs-14 color-purple mr-2 mb-2"></i>+7 (423) 2-310-693</span>
                        <a href="#"><i class="fas fa-envelope mr-2 font-weight-normal"></i>info@chudodey.com</a>
                    </div>
                    <hr>
                    <a href="#" class="btn btn-info px-3 w-100 w-lg-auto">перейти на главную</a>
                </div>
            </div>

        </section>

    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>