<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/">Информация</a></li>
                <li class="breadcrumb-item active" aria-current="page">Партнерам</li>
            </ol>
        </nav>

        <h1 class="fs-50">Партнерам</h1>

        <section class="mb-5">
            <h2 class="pb-3 mb-3 border-bottom-dotted">Франшиза</h2>
            <div class="row mb-5">
                <div class="col-12 col-lg-5">
                    <p class="fs-20 font-weight-bold">Откройте магазин «Чудодей» в вашем городе на выгодных условиях.
                    </p>
                    <p class="fs-16 font-weight-bold">По вопросам приобретения франшизы
                        обращайтесь по телефону:
                    </p>
                    <p class="fs-20 font-weight-bold align-middle"><span class="fs-12"><i
                                class="fas fa-phone mr-3"></i></span>+7 (423) 231-06-88</p>
                </div>
                <div class="col-11 col-lg-6 offset-1">
                    <span class="fs-20 d-block font-weight-bold mb-3">Предоставляемая поддержка:</span>
                    <span class="d-block fs-16"><i class="fas fa-check fs-10 color-purple mr-2"></i>право использования
                        товарного знака «Чудодей» – название, стиль, оформление;</span>
                    <span class="d-block fs-16"><i class="fas fa-check fs-10 color-purple mr-2"></i>разработка
                        индивидуального дизайна торгового оборудования;</span>
                    <span class="d-block fs-16"><i class="fas fa-check fs-10 color-purple mr-2"></i>выезд персонального
                        менеджера для помощи в открытии магазина и обучения персонала;</span>
                    <span class="d-block fs-16"><i class="fas fa-check fs-10 color-purple mr-2"></i>рекламная и
                        PR-поддержка;</span>
                    <span class="d-block fs-16"><i class="fas fa-check fs-10 color-purple mr-2"></i>обучение
                        сотрудников;</span>
                    <span class="d-block fs-16"><i class="fas fa-check fs-10 color-purple mr-2"></i>бухгалтерское
                        сопровождение.</span>
                </div>
            </div>
            <h2 class="pb-3 mb-3 border-bottom-dotted">Аренда помещений</h2>
            <div class="row mb-5">
                <div class="col-12 col-lg-5">
                    <p class="fs-20 font-weight-bold">Рассматриваем предложения по аренде помещений в городах
                        Приморского края и Дальнего Востока.
                    </p>
                    <p class="fs-16 font-weight-bold mb-1">Контактная информация:
                    </p>
                    <p class="fs-20 font-weight-bold align-middle mb-1"><span class="fs-12"><i
                                class="fas fa-phone mr-3"></i></span>+7 (423) 2-313-553</p>
                    <p class="fs-20 font-weight-bold align-middle mb-1"><span class="fs-12"><i
                                class="fas fa-phone mr-3"></i></span>+7 (423) 2-310-692</p>
                    <p class="fs-20 font-weight-bold align-middle mb-1"><span class="fs-12"><i
                                class="fas fa-phone mr-3"></i></span>+7 (423) 2-310-693</p>
                    <p class="fs-16 font-weight-bold"><a href="mailto:info@chudodey.com">info@chudodey.com</a></p>
                </div>
                <div class="col-10 col-lg-6 offset-1">
                    <span class="d-block fs-20 font-weight-bold mb-3">Рассматриваемые варианты помещений:</span>
                    <div class="d-flex mb-3">
                        <div
                            class="background-purple rounded-circle color-white box-34 fs-16 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                            <span class="d-block">1</span>
                        </div>
                        <div>
                            <span class="d-block fs-20 font-weight-bold mb-1">Секция в торговом центре</span>
                            <span class="d-block fs-16 mb-0">- первый этаж, не далее чем 3&nbsp;секции от входа</span>
                            <span class="d-block fs-16 mb-0">- торговая площадь 300&nbsp;м²&nbsp;±&nbsp;20&nbsp;м².</span>
                            <span class="d-block fs-16 mb-0">- площадь подсобных помещений 10-15%</span>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div
                            class="background-purple rounded-circle color-white box-34 fs-16 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                            <span class="d-block">2</span>
                        </div>
                        <div>
                            <span class="d-block fs-20 font-weight-bold mb-1">Отдельно стоящее здание/часть здания</span>
                            <span class="d-block fs-16 mb-0">- отдельный вход</span>
                            <span class="d-block fs-16 mb-0">- торговая площадь 300&nbsp;м²&nbsp;±&nbsp;20&nbsp;м².</span>
                            <span class="d-block fs-16 mb-0">- площадь подсобных помещений 10-15%</span>
                            <span class="d-block fs-16 mb-0">- наличие мест для парковки</span>
                            <span class="d-block fs-16 mb-0">- торговый центр города, пешеходные торговые зоны или деловая часть города (зона офисов).</span>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div
                            class="background-purple rounded-circle color-white box-34 fs-16 font-weight-bold d-flex justify-content-center align-items-center mr-3">
                            <span class="d-block">2</span>
                        </div>
                        <div>
                            <span class="d-block fs-20 font-weight-bold mb-1">Секция в торговом центре или отдельно стоящее здание</span>
                            <span class="d-block fs-16 mb-0">- первый этаж, возможен как общий так и отдельный вход</span>
                            <span class="d-block fs-16 mb-0">- торговая площадь 100-200&nbsp;м²&nbsp;±&nbsp;20&nbsp;м².</span>
                            <span class="d-block fs-16 mb-0">- площадь подсобных помещений 10-15%</span>
                        </div>
                    </div>
                    <div class="border-bottom-dotted pt-3 mb-3"></div>
                    <div>
                        <span class="d-block fs-20 font-weight-bold mb-1">Общие требования:</span>
                        <span class="d-block fs-16 mb-0">- аренда рассматривается при подписании долгосрочного договора</span>
                        <span class="d-block fs-16 mb-0">- электричество не менее 30 КВт. для 300 м² и 10-20КВт для 150 м²</span>
                    </div>
                    <div class="border-bottom-dotted pt-3 mb-3"></div>
                    <div>
                        <span class="d-block fs-20 font-weight-bold mb-1">Ассортимент товаров:</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Декоративная косметика "масс-маркет";</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Элитная парфюмерия;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Косметика для ухода за лицом, телом, волосами;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Дезодоранты;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Женская гигиена;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Бытовая химия, стиральные порошки, чистящие средства;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Подарки, с учетом сезона;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Аксессуары, маникюрные принадлежности;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Товары по уходу за одеждой, обувью;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Бижутерия;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Колготки и гольфы;</span>
                        <span class="d-flex align-items-center fs-16 mb-0"><i class="fas fa-circle fs-5 color-purple mr-2"></i>Детские игрушки.</span>

                    </div>
                </div>
            </div>
            <h2 class="pb-3 mb-3 border-bottom-dotted">Подарочные сертификаты для организаций</h2>
            <p class="fs-20 font-weight-bold mb-4">Предлагаем приобрести подарочные сертификаты для поздравления своих сотрудников, номиналом 500, 1000 и 2000 руб. Так же возможно изготовление сертификатов другим номиналом.</p>
            <p class="fs-20 font-weight-bold mb-4">Для удобства организаций возможен безналичный расчет.</p>
            <p class="fs-20 font-weight-bold mb-4">Сеть магазинов Чудодей предлагает заключение долгосрочных договоров на покупку товаров хозяйственного назначения для организаций по безналичному расчету.</p>
        </section>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>