<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Акции</li>
            </ol>
        </nav>

        <h1>АКЦИИ</h1>

        <div class="promo w-100 d-flex flex-column align-items-center mb-lg-5">
            <div class="promo__background background-pink-promo"></div>
            <div class="promo__items row py-lg-5">
                <div class="d-none d-lg-block promo__container col-12 col-lg-4 align-items-center justify-content-center mb-3 mb-lg-0">
                    <div class="promo__item">
                        <img src="img/tmp/promo_4.jpg" class="w-100 mh-100 h-100 object-fit-cover">
                    </div>
                </div>
                <div class="promo__container promo__container_slider col-12 col-lg-8">
                    <div class="promo__item promo__item_transparent">
                        <div class="promo__slick" data-left-arrow="left: -60px;">
                            <div class="promo__slick-item">
                                <img src="img/promo1.svg" class="promo__promotion">
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <img src="img/promo1.svg" class="promo__promotion">
                                <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <img src="img/promo1.svg" class="promo__promotion">
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <img src="img/promo1.svg" class="promo__promotion">
                                <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <img src="img/promo1.svg" class="promo__promotion">
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo w-100 d-flex flex-column align-items-center mb-lg-5">
            <div class="promo__background background-blue-promo"></div>
            <div class="promo__items row py-lg-5">
                <div class="d-none d-lg-block promo__container col-12 col-lg-4 align-items-center justify-content-center mb-3 mb-lg-0">
                    <div class="promo__item">
                        <img src="img/tmp/promo_6.jpg" class="w-100 mh-100 h-100 object-fit-cover">
                    </div>
                </div>
                <div class="promo__container promo__container_slider col-12 col-lg-8">
                    <div class="promo__item promo__item_transparent">
                        <div class="promo__slick" data-left-arrow="left: -60px;">
                            <div class="promo__slick-item">
                                <div class="promo__promotion promo__promotion_oneliketwo">
                                    <div>1=2</div>
                                </div>
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <div class="promo__promotion promo__promotion_oneliketwo">
                                    <div>1=2</div>
                                </div>
                                <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <div class="promo__promotion promo__promotion_oneliketwo">
                                    <div>1=2</div>
                                </div>
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <div class="promo__promotion promo__promotion_oneliketwo">
                                    <div>1=2</div>
                                </div>
                                <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                <div class="promo__promotion promo__promotion_oneliketwo">
                                    <div>1=2</div>
                                </div>
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo w-100 d-flex flex-column align-items-center mb-lg-5">
            <div class="promo__background background-purple-light"></div>
            <div class="promo__items row py-lg-5">
                <div class="d-none d-lg-block promo__container col-12 col-lg-4 align-items-center justify-content-center mb-3 mb-lg-0">
                    <div class="promo__item">
                        <img src="img/tmp/promo_1.jpg" class="w-100 mh-100 h-100 object-fit-cover">
                    </div>
                </div>
                <div class="promo__container promo__container_slider col-12 col-lg-8">
                    <div class="promo__item promo__item_transparent">
                        <div class="promo__slick" data-left-arrow="left: -60px;">
                            <div class="promo__slick-item">
                                <img src="img/promo3.svg" class="promo__promotion promo__promotion_twolikethree">
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo3.svg" class="promo__promotion promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo3.svg" class="promo__promotion promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo3.svg" class="promo__promotion promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo3.svg" class="promo__promotion promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo w-100 d-flex flex-column align-items-center mb-lg-5">
            <div class="promo__background background-yellow-promo"></div>
            <div class="promo__items row py-lg-5">
                <div class="d-none d-lg-block promo__container col-12 col-lg-4 align-items-center justify-content-center mb-3 mb-lg-0">
                    <div class="promo__item">
                        <img src="img/tmp/promo_7.jpg" class="w-100 mh-100 h-100 object-fit-cover">
                    </div>
                </div>
                <div class="promo__container promo__container_slider col-12 col-lg-8">
                    <div class="promo__item promo__item_transparent">
                        <div class="promo__slick" data-left-arrow="left: -60px;">
                            <div class="promo__slick-item">
                                <img src="img/promo4.svg" class="promo__promotion  promo__promotion_twolikethree">
                                <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo4.svg" class="promo__promotion  promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo4.svg" class="promo__promotion  promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo4.svg" class="promo__promotion  promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_5.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                            <div class="promo__slick-item">
                                    <img src="img/promo4.svg" class="promo__promotion  promo__promotion_twolikethree">
                                    <img src="img/tmp/promo_2.jpg" height="250">
                                <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>