<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/">Акции</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Страница акции</li>
                </ol>
            </nav>
        </section>

        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-lg-7 mb-1 mb-lg-5">
                    <img src="img/tmp/img8900.png" class="w-100">
                </div>
                <div class="col-12 col-lg-5 mb-3 mb-lg-5">
                    <div class="mt-4 fs-30 mb-2 mb-lg-3">Условия акции</div>
                    <p class="fs-14">В постмодернистской перспективе континентально-европейский тип политической
                        культуры стекает в подпахотный субъект власти. Подзол приводит коллапс Советского Союза. Важным
                        для нас является указание Маклюэна на то, что марксизм символизирует бурозём, что получило
                        отражение в трудах Михельса. Понятие политического участия продуцирует эксикатор. Управление
                        политическими конфликтами ненаблюдаемо. Пористость пространственно сжимает внутрипочвенный
                        постиндустриализм.</p>
                    <p class="fs-14">Эрозия увлажняет кислый элемент политического процесса. Выветривание, в случае
                        использования адаптивно-ландшафтных систем земледелия, фактически отражает институциональный
                        коллоид. Вместе с тем, мажоритарная избирательная система практически верифицирует массоперенос.
                        Политическое учение Руссо формирует англо-американский тип политической культуры. Шурф, как
                        следует из полевых и лабораторных наблюдений, предсказуем. Референдум неоднозначен.</p
                        class="fs-14">
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary rounded-0 px-5 py-3"><span class="mr-3">зарегистрировать
                                чек</span><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-blue position-relative mb-5" style="min-height: 290px;">
            <div class="d-flex">
                <img src="img/gift.png" class="position-absolute promo-gift">
                <div class="promo-gift-items">
                    <div class="color-white fs-42 mb-4 pl-4 pl-lg-0">ПРИЗЫ ПОБЕДИТЕЛЯМ</div>
                    <div class="row color-white">
                        <div class="col-12 col-lg-3">
                            <div class="d-flex px-4 pb-3 p-lg-0">
                                <img src="img/tmp/gift1.png" class="w-100 mr-4"
                                    style="box-shadow: 6px 5px 8px rgba(0,0,0,0.5);">
                                <div class="pt-3">
                                    <div class="fs-18 mb-3">КОРОБОЧКА&nbsp;С КОНФЕТАМИ</div>
                                    <div class="fs-14">25 призов</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1">
                            <div class="d-flex px-4 pb-3 p-lg-0">
                                <img src="img/tmp/gift1.png" class="w-100 mr-4"
                                    style="box-shadow: 6px 5px 8px rgba(0,0,0,0.5);">
                                <div class="pt-3">
                                    <div class="fs-18 mb-3">КОРОБОЧКА&nbsp;С КОНФЕТАМИ</div>
                                    <div class="fs-14">25 призов</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1">
                            <div class="d-flex px-4 pb-3 p-lg-0">
                                <img src="img/tmp/gift1.png" class="w-100 mr-4"
                                    style="box-shadow: 6px 5px 8px rgba(0,0,0,0.5);">
                                <div class="pt-3">
                                    <div class="fs-18 mb-3">КОРОБОЧКА&nbsp;С КОНФЕТАМИ</div>
                                    <div class="fs-14">25 призов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-5 px-5 mx-5">
            <div class="background-pink color-white py-4 px-5 w-100 w-lg-50" style="min-width: 350px;">
                <div class="fs-12 fs-lg-18 text-center">УЧАСТИЕ В АКЦИИ ДОСТУПНО ТОЛЬКО</div>
                <div class="text-center fs-22">АВТОРИЗОВАННЫМ ПОЛЬЗОВАТЕЛЯМ</div>
                <hr class="dotted" style="border-color: white;">
                <div class="d-flex flex-column flex-lg-row justify-content-center">
                    <a href="#" class="btn btn-info px-4 mr-lg-3 mb-2 mb-lg-0">АВТОРИЗОВАТЬСЯ</a>
                    <a href="#" class="btn btn-primary px-4">ЗАВЕСТИ АККАУНТ</a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <div class="w-75 position-relative">
                <hr class="dotted" style="border-color: gray;">
                <span class="background-white fs-22 font-weight-bold" style="
                margin: 0 auto;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 200px;
                text-align: center;
            ">ДЕТАЛИ АКЦИИ</span>
            </div>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-6 col-lg-3 text-center">
                    <div><img src="img/step1.png" class="mb-3"></div>
                    <div class="font-weight-bold mb-2">
                        <div>НАЗВАНИЕ</div>
                        <div>ПЕРВОГО ШАГА</div>
                    </div>
                    <p class="fs-12 text-muted">понятие политического участия продуцирует эксикатор.</p>
                </div>
                <div class="col-6 col-lg-3 text-center">
                    <div><img src="img/step2.png" class="mb-3"></div>
                    <div class="font-weight-bold mb-2">
                        <div>НАЗВАНИЕ</div>
                        <div>ПЕРВОГО ШАГА</div>
                    </div>
                    <p class="fs-12 text-muted">понятие политического участия продуцирует эксикатор.</p>
                </div>
                <div class="col-6 col-lg-3 text-center">
                    <div><img src="img/step3.png" class="mb-3"></div>
                    <div class="font-weight-bold mb-2">
                        <div>НАЗВАНИЕ</div>
                        <div>ПЕРВОГО ШАГА</div>
                    </div>
                    <p class="fs-12 text-muted">понятие политического участия продуцирует эксикатор.</p>
                </div>
                <div class="col-6 col-lg-3 text-center">
                    <div><img src="img/step4.png" class="mb-3"></div>
                    <div class="font-weight-bold mb-2">
                        <div>НАЗВАНИЕ</div>
                        <div>ПЕРВОГО ШАГА</div>
                    </div>
                    <p class="fs-12 text-muted">понятие политического участия продуцирует эксикатор.</p>
                </div>
            </div>
        </div>

        <div class="background-purple color-white">
            <div class="container">
                <div
                    class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center py-3 py-lg-5">
                    <div class="font-weight-bold mb-3">
                        <div class="fs-42">СРОКИ АКЦИИ</div>
                        <div style="font-size: 18px;" class="font-weight-normal">акция действует: до 10.05.2019</div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="text-right font-weight-normal line-height-100 mr-4 d-flex align-items-center mb-4"
                            style="font-size:20;">
                            <p class="mb-0">акция
                                заканчивается <br class="d-none d-lg-inline">через:
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex position-relative">
                                <div class="background-white color-purple rounded mr-1 text-center"
                                    style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">2</span>
                                </div>
                                <div class="background-white color-purple rounded text-center" style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">6</span>
                                </div>
                                <div class="position-absolute text-center mx-auto" style="top: -22px;left:0;right:0;">
                                    дней</div>
                            </div>
                            <div style="font-size: 30px;">:</div>

                            <div class="d-flex position-relative">
                                <div class="background-white color-purple rounded mr-1 text-center"
                                    style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">2</span>
                                </div>
                                <div class="background-white color-purple rounded text-center" style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">6</span>
                                </div>
                                <div class="position-absolute text-center mx-auto" style="top: -22px;left:0;right:0;">
                                    часов</div>
                            </div>
                            <div style="font-size: 30px;">:</div>
                            <div class="d-flex position-relative">
                                <div class="background-white color-purple rounded mr-1 text-center"
                                    style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">2</span>
                                </div>
                                <div class="background-white color-purple rounded text-center" style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">6</span>
                                </div>
                                <div class="position-absolute text-center mx-auto" style="top: -22px;left:0;right:0;">
                                    минут</div>
                            </div>
                            <div style="font-size: 30px;">:</div>
                            <div class="d-flex position-relative">
                                <div class="background-white color-purple rounded mr-1 text-center"
                                    style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">2</span>
                                </div>
                                <div class="background-white color-purple rounded text-center" style="height: 50px;">
                                    <span class="d-block"
                                        style="font-size: 50px; line-height: 115%; width: 36px;">6</span>
                                </div>
                                <div class="position-absolute text-center mx-auto" style="top: -22px;left:0;right:0;">
                                    секунд</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-gray-lightest position-relative mb-5" style="min-height: 300px;">
            <div class="container">
                <img src="img/action_img.png" class="position-absolute d-none d-lg-block" style="top: -15px">
                <div class="pt-5 promo-bill">
                    <div class="font-weight-bold mb-3 fs-50">ЗАРЕГИСТРИРУЙ ЧЕК</div>
                    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-stretch mb-3">
                        <span class="form-control d-flex align-items-center mb-2 mb-lg-0 mr-lg-3 px-3 py-4 rounded-0"
                            style="width: 350px;">
                            <span>№</span>
                            <input type="text" class="border-0 px-2 w-100" placeholder="000000000-0000000">
                        </span>
                        <button class="btn btn-primary rounded-0 px-4">
                            <span class="mr-3">зарегистрировать</span>
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                    <div class="fs-12 text-muted line-height-100">
                        <div>
                            Чек может быть зарегистрирован единожды. Повторая регистрация чека будет недоступна.
                        </div>
                        <div>
                            Регистрация чек на данном сайте вы принимаете пользовательское соглашение на участие акции.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-5 container">
            <div class="w-100 position-relative">
                <hr class="dotted" style="border-color: gray;">
                <span class="background-white fs-22 font-weight-bold" style="
                margin: 0 auto;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 200px;
                text-align: center;
            ">ВОПРОС - ОТВЕТ</span>
            </div>
        </div>

        <div class="container mb-5">
            <div class="panel panel-simple promo-collapse mb-1">
                <div class="panel-heading rounded" id="heading1">
                    <h2 class="panel-title mb-0">
                        <button
                            class="btn btn-link px-3 rounded d-flex justify-content-between align-items-center text-decoration-none collapsed"
                            type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            <span class="d-flex align-items-end">
                                <img src="img/question1.svg" width="20" class="mr-3 d-none d-lg-block">
                                <span class="fs-18 line-height-100 link-dotted">Гносеологический постиндустриализм —
                                    актуальная национальная
                                    задача</span>
                            </span>
                            <span>
                                <span class="toggler"></span>
                            </span>
                        </button>
                    </h2>
                </div>

                <div id="collapse1" class="panel-collapse px-4 rounded collapse" aria-labelledby="heading1">
                    <div class="card-body px-4">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-simple promo-collapse mb-1">
                <div class="panel-heading rounded" id="heading2">
                    <h2 class="panel-title mb-0">
                        <button
                            class="btn btn-link px-3 rounded d-flex justify-content-between align-items-center text-decoration-none collapsed"
                            type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                            aria-controls="collapse2">
                            <span class="d-flex align-items-end">
                                <img src="img/question1.svg" width="20" class="mr-3 d-none d-lg-block">
                                <span class="fs-18 line-height-100 link-dotted">Гносеологический постиндустриализм —
                                    актуальная национальная
                                    задача</span>
                            </span>
                            <span>
                                <span class="toggler"></span>
                            </span>
                        </button>
                    </h2>
                </div>

                <div id="collapse2" class="panel-collapse px-4 rounded collapse" aria-labelledby="heading2">
                    <div class="card-body px-4">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-simple promo-collapse mb-1">
                <div class="panel-heading rounded" id="heading3">
                    <h2 class="panel-title mb-0">
                        <button
                            class="btn btn-link px-3 rounded d-flex justify-content-between align-items-center text-decoration-none collapsed"
                            type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
                            aria-controls="collapse3">
                            <span class="d-flex align-items-end">
                                <img src="img/question1.svg" width="20" class="mr-3 d-none d-lg-block">
                                <span class="fs-18 line-height-100 link-dotted">Гносеологический постиндустриализм —
                                    актуальная национальная
                                    задача</span>
                            </span>
                            <span>
                                <span class="toggler"></span>
                            </span>
                        </button>
                    </h2>
                </div>

                <div id="collapse3" class="panel-collapse px-4 rounded collapse" aria-labelledby="heading3">
                    <div class="card-body px-4">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-5 pb-5">
            <div class="d-flex justify-content-center mb-4">
                <img src="img/promo-winner.png">
            </div>

            <div class="d-flex justify-content-center mb-4">
                <div class="w-100 position-relative">
                    <hr class="dotted" style="border-color: gray;">
                    <span class="background-white fs-22 font-weight-bold" style="
                    margin: 0 auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 300px;
                    text-align: center;
                ">ПОБЕДИТЕЛИ АКЦИИ</span>
                </div>
            </div>
            <div class="px-lg-5">
                <div class="row fs-18 mx-lg-0">
                    <div class="col-12 col-lg-6 pl-4">
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Белхороева Амина Мухтаровна, Назрань</span>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Богатырев Владимир Федорович, Санкт-Петербург</span>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Белхороева Амина Мухтаровна, Назрань</span>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Комарова Елена Игоревна, Санкт-Петербург</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pl-4">
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Белхороева Амина Мухтаровна, Назрань</span>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Белхороева Амина Мухтаровна, Назрань</span>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Комарова Елена Игоревна, Санкт-Петербург</span>
                        </div>
                        <div class="d-flex align-items-start mb-3">
                            <img src="img/promo-winner-min.png" class="mr-2">
                            <span class="line-height-100">Белхороева Амина Мухтаровна, Назрань</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>