<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Акции</li>
            </ol>
        </nav>

        <h1>АКЦИИ</h1>

        <div class="promo w-100 d-flex flex-column align-items-center mb-5">
            <div class="promo__background"></div>
            <div class="promo__items row py-5">
                <div class="d-none d-lg-block promo__container col-12 col-lg-4 mb-3 mb-lg-0">
                    <div class="promo__item">
                        <img src="img/tmp/promo_1.jpg" class="w-100 mh-100 h-100 object-fit-cover">
                    </div>
                </div>
                <div class="promo__container col-12 col-lg-4 mb-3 mb-lg-0">
                    <div class="promo__item promo__item_white overflow-hidden">
                        <img src="img/tmp/promo_2.jpg" class="w-100 object-fit-contain">
                        <p class="fs-16 text-center px-3">Средство для снятия водостойкого макияжа с глаз и губ </p>
                    </div>
                </div>
                <div class="d-none d-lg-block promo__container col-12 col-lg-4 mb-3 mb-lg-0">
                    <div class="promo__item promo__item_white">
                        <p class="fs-22 color-pink text-center px-3">до конца акции<br>осталось</p>
                        <img src="img/tmp/promo_3.jpg" class="w-100 object-fit-contain">
                    </div>
                </div>
            </div>
        </div>

        <p class="fs-20 mb-5">Скидка 20% на косметику LOREAL: тональный крем INFAILLIBLE. Блес для глуб
            INFAILLIBLE.<br>Акция действует весь апрель.</p>
        <div class="product-list index-products">
            <div class="h-100">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__price">
                            <span class="amount amount__new-price">
                                34 535 <span class="rub">руб.</span>
                            </span>
                            <span class="old-price">34 535 руб.</span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                    <div class="product__add show-on-hover">
                        <span class="badge badge-sizes">XS</span>
                        <span class="badge badge-sizes">S</span>
                        <span class="badge badge-sizes">M</span>
                        <span class="badge badge-sizes">L</span>
                        <span class="badge badge-sizes">XL</span>
                        <span class="badge badge-sizes">XXL</span>
                    </div>
                </a>
            </div>
            <div class="h-100">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__price">
                            <span class="amount amount__new-price">
                                34 535 <span class="rub">руб.</span>
                            </span>
                            <span class="old-price">34 535 руб.</span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                    <div class="product__add show-on-hover">
                        <span class="badge badge-sizes">XS</span>
                        <span class="badge badge-sizes">S</span>
                        <span class="badge badge-sizes">M</span>
                        <span class="badge badge-sizes">L</span>
                        <span class="badge badge-sizes">XL</span>
                        <span class="badge badge-sizes">XXL</span>
                    </div>
                </a>
            </div>
            <div class="h-100">
                <a class="product">
                    <div class="labels-pin">
                        <div class="label-pin label__blue"></div>
                        <div class="label-pin label__green"></div>
                        <div class="label-pin label__green-dark"></div>
                        <div class="label-pin label__pink"></div>
                        <div class="label-pin label__pink-dark"></div>
                        <div class="label-pin label__purple"></div>
                    </div>
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <span class="colour-select">
                                <span class="colour-select__inner colour-select__inner__white"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #000000"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #42221e"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #49ba86"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #4b1748"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #366084"></span>
                            </span>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-100">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <div class="row no-gutters">
                                <div class="col-7 text-right">
                                    <span class="colour-select">
                                        <span class="colour-select__inner colour-select__inner__white"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #000000"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <span class="more-colours">Ещё 15 оттенков</span>
                                </div>
                            </div>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-100">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="alert alert-gray soon">Скоро в продаже - 05.10.2019</div>
                    </div>
                </a>
            </div>
            <div class="h-100">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="alert alert-gray soon">Скоро в продаже - 05.10.2019</div>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>