<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main>
        <section class="container registration">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
                </ol>
            </nav>

            <h1 class="text-uppercase mb-4 font-weight-bold">Регистрация</h1>

            <div class="row">
                <div class="col-12 col-lg-9 mb-5">
                    <h2 class="color-black">Персональные данные</h2>
                    <hr class="dotted mb-4">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="form-group">
                                <label for="formFirstName">Ваше имя <span class="color-red">*</span></label>
                                <input type="firstName" id="formFirstName" name="firstName" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="form-group">
                                <label for="formMiddleName">Отчество</label>
                                <input type="middleName" id="formMiddleName" name="middleName" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="form-group">
                                <label for="formLastName">Фамилия <span class="color-red">*</span></label>
                                <input type="lastName" id="formLastName" name="lastName" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label for="formEmail">Электронная почта <span class="color-red">*</span></label>
                                <input type="email" id="formEmail" name="email" class="form-control is-invalid">
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <label class="mb-0 mb-lg-2">Пол</label>
                            <div class="d-flex align-items-center" style="height: 38px;">
                                <div class="custom-control custom-radio mr-3">
                                    <input type="radio" id="customRadioSexF" name="sex" class="custom-control-input"
                                        value="f">
                                    <label class="custom-control-label" for="customRadioSexF">Женский</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadioSexM" name="sex" class="custom-control-input"
                                        value="f">
                                    <label class="custom-control-label" for="customRadioSexM">Мужской</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-3">
                            <label for="formBirthdayName">Дата рождения</label>
                            <input type="date" id="formBirthdayName" name="birthday" class="form-control cabinet__date">
                        </div>
                    </div>
                    <h2 class="color-black">Пароль</h2>
                    <hr class="dotted mb-4">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label for="formPassword">Пароль <span class="color-red">*</span></label>
                                <input type="password" id="formPassword" name="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="form-group">
                                <label for="formPassword">Повтор пароля <span class="color-red">*</span></label>
                                <input type="password" id="formPassword" name="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <h2 class="color-black d-lg-flex justify-content-between align-items-end">
                        <span class="d-block mb-1 mb-lg-0">Скидочная карта</span>
                        <span class="d-block text-muted fs-12 mb-1">Если у вас имеется скидочная карта Чудодей, вы можете её
                            привязать к своему профилю.</span>
                    </h2>
                    <hr class="dotted mb-4">
                    <div class="form-group">
                        <label for="formPassword">Номер карты:</label>
                        <div class="d-flex align-items-center">
                            <span class="mr-2">№</span>
                            <input type="password" id="formPassword" name="password" class="form-control"
                                style="max-width: 150px;" placeholder="0000000000000">
                        </div>
                    </div>
                    <hr class="dotted mb-4">
                    <div class="d-lg-flex align-items-start">
                        <div class="fs-12 pt-2 d-block d-lg-none">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Я ознакомился (-ась) с условиями
                                    <a href="">Договора-оферты</a> и даю согласие на обработку моих персональных данных
                                    в соответствии
                                    с <a href="">условиями</a></label>
                            </div>
                        </div>
                        <a href="" class="btn btn-primary text-uppercase px-5 py-3 mr-4 flex-shrink-0 mb-2">
                            Завести аккаунт
                        </a>
                        <div class="fs-12 pt-2">
                            <div class="custom-control custom-checkbox mb-3 d-none d-lg-block">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Я ознакомился (-ась) с условиями
                                    <a href="">Договора-оферты</a> и даю согласие на обработку моих персональных данных
                                    в соответствии
                                    с <a href="">условиями</a></label>
                            </div>
                            <div class="fs-14 text-danger"><i class="fas fa-exclamation-triangle fs-12"></i> Пожалуйста
                                заполните все
                                обязательные поля отмеченные звёздочкой</div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-3 p-0 background-gray-superlight">
                    <div class="p-4">
                        <div class="d-flex ali">
                            <img src="img/registration_info.svg" width="55" class="d-inline-block mr-3">
                            <span class="fs-30 line-height-100 mt-2">
                                <span>ЧТО ДАЁТ</span>
                                <span class="fs-18">РЕГИСТРАЦИЯ</span>
                            </span>
                        </div>
                        <hr class="dotted">
                        <div class="d-flex mb-3">
                            <div class="mr-2">
                                <span
                                    class="background-purple color-white d-block text-center d-flex align-items-center justify-content-center"
                                    style="width: 25px; height: 25px;">
                                    <span class="">1</span>
                                </span>
                            </div>
                            <div>
                                <div class="color-purple fs-20 mb-2">Быстрое оформление</div>
                                <p class="fs-16 line-height-100">Вы сможете быстро оформлять заказы, так как ваш профиль
                                    уже будет в системе.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div class="mr-2">
                                <span
                                    class="background-purple color-white d-block text-center d-flex align-items-center justify-content-center"
                                    style="width: 25px; height: 25px;">
                                    <span class="">2</span>
                                </span>
                            </div>
                            <div>
                                <div class="color-purple fs-20 mb-2">Отслеживайте заказы</div>
                                <p class="fs-16 line-height-100">В личном кабинете вы сможете проверить статусы по
                                    каждому вашему заказу. История хранится до 12 месяцев.</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="mr-2">
                                <span
                                    class="background-purple color-white d-block text-center d-flex align-items-center justify-content-center"
                                    style="width: 25px; height: 25px;">
                                    <span class="">3</span>
                                </span>
                            </div>
                            <div>
                                <div class="color-purple fs-20 mb-2">Бонусы за заказы</div>
                                <p class="fs-16 line-height-100">С каждого заказа вам будет начислен бонус. Вы сможете
                                    расчитаться данными бонусами до 100% за любой новый заказ.</p>
                                <div><a href="" class="fs-12">подробнее про бонусы здесь</a></div>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted">
                    <div class="px-4 position-relative pt-3">
                        <img src="img/registration_question.svg" style="position: absolute; width: 100px; right: 10%;">
                        <div class="position-relative">
                            <div class="fs-20 mb-2">Трудности с регистрацией?</div>
                            <div class="fs-16 mb-1">Напишите ваш вопрос на эл.почту:</div>
                            <div><a href="mailto:info@chudodey.com"><i
                                        class="fas fa-envelope mr-2 font-weight-normal"></i>info@chudodey.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>