<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="pb-3">
        <section class="container pb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
                </ol>
            </nav>

            <h1 class="text-uppercase mb-4 font-weight-bold">Регистрация</h1>

            <div class="d-flex pb-lg-5">
                <div class="mr-3 mr-lg-5">
                    <img src="img/registration-ok.svg" class="info-page-image">
                </div>
                <div class="w-100">
                    <p class="mb-0 fs-18 font-weight-bold mb-2">Ваш профиль успешно зарегистрирован и ожидает активации.</p>
                    <p class="mb-3 fs-18">Вам выслан код в смс на номер <span
                            class="font-weight-bold">+7&nbsp;924&nbsp;254&nbsp;2121</span>. Пожалуйста укажите его в
                        поле ниже.</p>

                    <hr class="mb-3">
                    <div class="d-none d-lg-block">
                        <div class="mb-3">
                            <label for="phoneConfirmCode" class=" font-weight-bold">Код из СМС <span
                                    class="color-red">*</span></label>
                            <div class="d-flex">
                                <input type="text" id="phoneConfirmCode" class="form-control mr-2 rounded-0"
                                    style="width: 200px;">
                                <button class="btn btn-primary fs-14 px-3 rounded-0">активировать аккаунт</button>
                                <button class="btn color-pink"><i class="fas fa-redo-alt"></i></button>
                            </div>
                        </div>

                        <p class="mb-3 text-muted"> <img src="img/error2.svg" width="20" class="mr-2"> Если вдруг смс не
                            придёт в течение 5 минут. Запросите повторную отправку кода.</p>

                        <div class="mb-5"></div>
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none pb-5">
                <div class="d-flex align-items-center mb-2">
                    <label for="phoneConfirmCode" class="mr-3 mb-0 font-weight-bold">Код из СМС <span
                            class="color-red">*</span></label>
                    <input type="text" id="phoneConfirmCode" class="form-control mr-2 rounded-0" style="width: 200px;">
                </div>
                <div class="mb-3">
                    <div class="d-flex">
                        <button class="btn btn-primary fs-14 px-4 rounded-0">активировать аккаунт</button>
                        <button class="btn color-pink"><i class="fas fa-redo-alt"></i></button>
                    </div>
                </div>

                <p class="mb-3 text-muted fs-12"> <img src="img/error2.svg" width="14" class="mr-1"> Если вдруг смс не
                    придёт в течение 5 минут. Запросите повторную отправку кода.</p>

                <div class="mb-5"></div>
            </div>
        </section>
    </main>


    <%= _.template(require('./template/footer.html'))() %>


    <script src="/js/app.js"></script>
</body>

</html>