<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск по сайту</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>
    <div class="container">
        <%= _.template(require('./template/breadcrumb.html'))() %>
        <h1>Поиск по сайту</h1>
        <form class="search-detail">
            <div class="row no-gutters">
                <div class="d-none d-lg-block col-lg-11">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Ключевые слова" value="LOREAL PARIS">
                        <div class="input-group-append">
                            <button class="btn btn-block btn-outline-secondary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Во всех
                                категориях</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Во всех категориях</a>
                                <a class="dropdown-item" href="#">Не во всех категориях</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-lg-none col-lg-11">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Ключевые слова" value="LOREAL PARIS">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center d-lg-none col-12 my-2 mx-auto">
                    <span class="fs-16 font-weight-bold mr-1">Категория:</span>
                    <div class="sel sel--black-panther" style="width: 180px;">
                        <select name="select-profession" id="select-profession">
                            <option value="all">Во всех категориях</option>
                            <option value="n">Не во всех категориях</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-1">
                    <button class="ml-2 btn btn-primary btn-block">Найти</button>
                </div>
            </div>
        </form>
        <div class="search-keywords">
            Вы искали: <strong>LOREAL PARIS</strong>
        </div>
        <h2 class="search-result">Под ваш запрос мы нашли <strong>следующие товары:</strong></h2>

        <div class="product-list__header product-list__header__sm clearfix">
            <div class="float-left">
                <div class="mr-4">Сортировка: <a href="#" class="link-dotted">по умолчанию</a></div>
            </div>
            <div class="float-left">
                <div class="mr-4">Наличие в магазине: <a href="#" class="link-dotted">в наличии и под заказ</a></div>
            </div>
        </div>

        <div class="row product-list">
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__price">
                            <span class="amount amount__new-price">
                                34 535 <span class="rub">руб.</span>
                            </span>
                            <span class="old-price">34 535 руб.</span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                    <div class="product__add show-on-hover">
                        <span class="badge badge-sizes">XS</span>
                        <span class="badge badge-sizes">S</span>
                        <span class="badge badge-sizes">M</span>
                        <span class="badge badge-sizes">L</span>
                        <span class="badge badge-sizes">XL</span>
                        <span class="badge badge-sizes">XXL</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="labels-pin">
                        <div class="label-pin label__blue"></div>
                        <div class="label-pin label__green"></div>
                        <div class="label-pin label__green-dark"></div>
                        <div class="label-pin label__pink"></div>
                        <div class="label-pin label__pink-dark"></div>
                        <div class="label-pin label__purple"></div>
                    </div>
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <span class="colour-select">
                                <span class="colour-select__inner colour-select__inner__white"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #000000"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #42221e"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #49ba86"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #4b1748"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #366084"></span>
                            </span>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <div class="row no-gutters">
                                <div class="col-7 text-right">
                                    <span class="colour-select">
                                        <span class="colour-select__inner colour-select__inner__white"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #000000"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <span class="more-colours">Ещё 15 оттенков</span>
                                </div>
                            </div>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__price">
                            <span class="amount amount__new-price">
                                34 535 <span class="rub">руб.</span>
                            </span>
                            <span class="old-price">34 535 руб.</span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                    <div class="product__add show-on-hover">
                        <span class="badge badge-sizes">XS</span>
                        <span class="badge badge-sizes">S</span>
                        <span class="badge badge-sizes">M</span>
                        <span class="badge badge-sizes">L</span>
                        <span class="badge badge-sizes">XL</span>
                        <span class="badge badge-sizes">XXL</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="labels-pin">
                        <div class="label-pin label__blue"></div>
                        <div class="label-pin label__green"></div>
                        <div class="label-pin label__green-dark"></div>
                        <div class="label-pin label__pink"></div>
                        <div class="label-pin label__pink-dark"></div>
                        <div class="label-pin label__purple"></div>
                    </div>
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <span class="colour-select">
                                <span class="colour-select__inner colour-select__inner__white"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #000000"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #42221e"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #49ba86"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #4b1748"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #366084"></span>
                            </span>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <div class="row no-gutters">
                                <div class="col-7 text-right">
                                    <span class="colour-select">
                                        <span class="colour-select__inner colour-select__inner__white"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #000000"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <span class="more-colours">Ещё 15 оттенков</span>
                                </div>
                            </div>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__price">
                            <span class="amount amount__new-price">
                                34 535 <span class="rub">руб.</span>
                            </span>
                            <span class="old-price">34 535 руб.</span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                    <div class="product__add show-on-hover">
                        <span class="badge badge-sizes">XS</span>
                        <span class="badge badge-sizes">S</span>
                        <span class="badge badge-sizes">M</span>
                        <span class="badge badge-sizes">L</span>
                        <span class="badge badge-sizes">XL</span>
                        <span class="badge badge-sizes">XXL</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="labels-pin">
                        <div class="label-pin label__blue"></div>
                        <div class="label-pin label__green"></div>
                        <div class="label-pin label__green-dark"></div>
                        <div class="label-pin label__pink"></div>
                        <div class="label-pin label__pink-dark"></div>
                        <div class="label-pin label__purple"></div>
                    </div>
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <span class="colour-select">
                                <span class="colour-select__inner colour-select__inner__white"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #000000"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #42221e"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #49ba86"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #4b1748"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #366084"></span>
                            </span>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <div class="row no-gutters">
                                <div class="col-7 text-right">
                                    <span class="colour-select">
                                        <span class="colour-select__inner colour-select__inner__white"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #000000"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <span class="more-colours">Ещё 15 оттенков</span>
                                </div>
                            </div>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__price">
                            <span class="amount amount__new-price">
                                34 535 <span class="rub">руб.</span>
                            </span>
                            <span class="old-price">34 535 руб.</span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                    <div class="product__add show-on-hover">
                        <span class="badge badge-sizes">XS</span>
                        <span class="badge badge-sizes">S</span>
                        <span class="badge badge-sizes">M</span>
                        <span class="badge badge-sizes">L</span>
                        <span class="badge badge-sizes">XL</span>
                        <span class="badge badge-sizes">XXL</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="labels-pin">
                        <div class="label-pin label__blue"></div>
                        <div class="label-pin label__green"></div>
                        <div class="label-pin label__green-dark"></div>
                        <div class="label-pin label__pink"></div>
                        <div class="label-pin label__pink-dark"></div>
                        <div class="label-pin label__purple"></div>
                    </div>
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <span class="colour-select">
                                <span class="colour-select__inner colour-select__inner__white"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #000000"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #42221e"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #49ba86"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #4b1748"></span>
                            </span>
                            <span class="colour-select">
                                <span class="colour-select__inner" style="background-color: #366084"></span>
                            </span>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="product__colours">
                            <div class="row no-gutters">
                                <div class="col-7 text-right">
                                    <span class="colour-select">
                                        <span class="colour-select__inner colour-select__inner__white"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #000000"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #42221e"></span>
                                    </span>
                                    <span class="colour-select">
                                        <span class="colour-select__inner" style="background-color: #49ba86"></span>
                                    </span>
                                </div>
                                <div class="col-5">
                                    <span class="more-colours">Ещё 15 оттенков</span>
                                </div>
                            </div>
                        </div>
                        <div class="product__price">
                            <span class="amount">
                                34 535 <span class="rub">руб.</span>
                            </span>
                        </div>
                        <div class="product__action">
                            <button class="btn btn-secondary btn-sm product__buy">Купить</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 has-divider">
                <a class="product">
                    <div class="product__buttons show-on-hover">
                        <button class="btn-action btn-action-pink-light btn-action__heart"></button>
                        <button class="btn-action btn-action-pink-light btn-action__eye"></button>
                    </div>
                    <div class="product__image">
                        <img src="img/tmp/product-1.jpg" title="" class="img-fluid">
                    </div>
                    <div class="product__brief">
                        <small>MAYBELLINE NEW YORK</small>
                        <h3>Палетка теней для век NUDES, натуральные оттенки</h3>
                    </div>
                    <div class="product__bottom">
                        <div class="alert alert-gray mb-0 soon">Скоро в продаже - 05.10.2019</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="more-button">
            <a href="#" class="btn btn-primary px-4">Показать ещё</a>
        </div>
    </div>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>