<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Магазины</li>
            </ol>
        </nav>

        <h1 class="text-uppercase">Магазины “чудодей”</h1>

        <section class="mb-5">

            <div class="row mb-5 px-0 mx-0">
                <ul class="nav nav-pills nav-pills_map col-12 col-lg-4 col-xl-3 mb-4 justify-content-between justify-content-lg-start px-0"
                    id="pills-tab" role="tablist">
                    <li class="nav-item mr-0 mr-lg-2">
                        <a class="nav-link active text-uppercase" id="pills-list-tab" data-toggle="pill"
                            href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="true"><i
                                class="fa fa-list fs-14 mr-2"></i>Списком</a>
                    </li>
                    <li class="nav-item mr-0 px-0">
                        <a class="nav-link text-uppercase" id="pills-map-tab" data-toggle="pill" href="#pills-map"
                            role="tab" aria-controls="pills-map" aria-selected="false"><i
                                class="fa fa-map-marker-alt mr-2"></i>На
                            карте</a>
                    </li>
                </ul>

                <div class="shop-search col-12 col-lg-5 col-xl-5 mb-4 px-0 px-lg-3">
                    <input type="text" placeholder="Поиск магазина по адресу">
                    <button class="btn d-flex justify-content-between align-items-center"><img
                            src="img/search.svg"></button>
                </div>

                <div class="col-12 col-lg-3 col-xl-4 mb-4 px-0 px-lg-3"><a href="#"
                        class="btn btn-blue h-100 text-uppercase"><i class="fa fa-plus-square mr-2"></i>ОТКРОЙТЕ
                        СВОЙ ФИЛИАЛ В СВОЁМ ГОРОДЕ</a>
                </div>

            </div>

            <div class="city-choose row mb-5">
                <div class="col-12 col-lg-3">
                    <span class="d-inline-block fs-16 mb-2">Выбранный город:</span>
                    <span class="d-inline-block fs-30 font-weight-bold text-uppercase">Владивосток</span>
                </div>
                <div class="col-12 col-lg-9">
                    <span class="fs-14 mb-2">Другие города:</span>
                    <div class="d-flex flex-wrap color-purple city-items">
                        <a href="#" class="mr-4 mb-2 fs-16">Арсеньев</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Лесозаводск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Кавалерово</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Дальнегорск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Артём</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Находка</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Уссурийск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Большой Камень</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Хабаровск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Фокино</a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex align-items-start my-5">
                <img src="img/noshop.svg" style="width: 32px;">
                <div class="ml-3">
                    <p class="fs-20 color-purple font-weight-bold mt-0 mb-2">В выбранном городе нет наших филиалов. Но
                        мы доставляем заказы по всей России.</p>
                    <p class="fs-16 my-0">Смело оформляйте заказ и выберайте доставку в ваш город.</p>
                </div>
            </div>
        </section>

    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="js/app.js"></script>
</body>

</html>