<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
    <script>
        var mapObjects = {
            "type": "FeatureCollection",
            "features": [
                { "type": "Feature", "id": 0, "geometry": { "type": "Point", "coordinates": [43.115661, 131.887497] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<span class="color-red fs-12 ml-2"><img width="14" class="mr-2" src="img/parikmaher.svg">Отдел “Парикмахер”</span>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 1, "geometry": { "type": "Point", "coordinates": [43.133835, 131.899471] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<span class="color-red fs-12 ml-2"><img width="14" class="mr-2" src="img/parikmaher.svg">Отдел “Парикмахер”</span>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 2, "geometry": { "type": "Point", "coordinates": [43.133699, 131.900383] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<span class="color-red fs-12 ml-2"><img width="14" class="mr-2" src="img/parikmaher.svg">Отдел “Парикмахер”</span>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
            ]
        };
    </script>
</head>

<body>
    <%= _.template(require('./template/header.html'))() %>
    <%= _.template(require('./template/main-menu.html'))() %>

    <main class="container mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Магазины</li>
            </ol>
        </nav>

        <h1 class="text-uppercase">Магазины “чудодей”</h1>

        <section>
            <div class="row mb-5 px-0 mx-0">
                <ul class="nav nav-pills nav-pills_map col-12 col-lg-4 col-xl-3 mb-4 justify-content-between justify-content-lg-start px-0" id="pills-tab" role="tablist">
                    <li class="nav-item mr-0 mr-lg-2">
                        <a class="nav-link active text-uppercase" id="pills-list-tab" data-toggle="pill"
                            href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="true"><i
                                class="fa fa-list fs-14 mr-2"></i>Списком</a>
                    </li>
                    <li class="nav-item mr-0 px-0">
                        <a class="nav-link text-uppercase" id="pills-map-tab" data-toggle="pill" href="#pills-map"
                            role="tab" aria-controls="pills-map" aria-selected="false"><i
                                class="fa fa-map-marker-alt mr-2"></i>На
                            карте</a>
                    </li>
                </ul>

                <div class="shop-search col-12 col-lg-5 col-xl-5 mb-4 px-0 px-lg-3">
                    <input type="text" placeholder="Поиск магазина по адресу">
                    <button class="btn d-flex justify-content-between align-items-center"><img
                            src="img/search.svg"></button>
                </div>

                <div class="col-12 col-lg-3 col-xl-4 mb-4 px-0 px-lg-3"><a href="#" class="btn btn-blue h-100 text-uppercase"><i class="fa fa-plus-square mr-2"></i>ОТКРОЙТЕ
                    СВОЙ ФИЛИАЛ В СВОЁМ ГОРОДЕ</a>
                </div>
                
            </div>

            <div class="city-choose row mb-5">
                <div class="col-12 col-lg-3">
                    <span class="d-inline-block fs-16 mb-2">Выбранный город:</span>
                    <span class="d-inline-block fs-30 font-weight-bold text-uppercase">Владивосток</span>
                </div>
                <div class="col-12 col-lg-9">
                    <span class="fs-14 mb-2">Другие города:</span>
                    <div class="d-flex flex-wrap color-purple city-items">
                        <a href="#" class="mr-4 mb-2 fs-16">Арсеньев</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Лесозаводск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Кавалерово</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Дальнегорск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Артём</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Находка</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Уссурийск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Большой Камень</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Хабаровск</a>
                        <a href="#" class="mr-4 mb-2 fs-16">Фокино</a>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 25%">Название</th>
                                <th style="width: 25%">Адрес</th>
                                <th style="width: 15%">Телефон</th>
                                <th style="width: 10%">Отдел "Парикмахер"</th>
                                <th style="width: 20%">Режим работы</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-uppercase">
                                    <a href="/shops1.html">
                                        <span class="color-black">Чудодей</span>
                                        <br>
                                        <span>в гуме</span>
                                    </a>
                                </th>
                                <td>г. Владивосток, ул. Светланская, 33 (большой ГУМ)</td>
                                <td>+ 7 (423) 226-54-89</td>
                                <td class="text-center"><img width="14" class="mr-2" src="img/parikmaher.svg"></td>
                                <td>ежедневно с 10:00 до 21:00 без перерывов и выходных</td>
                            </tr>
                            <tr>
                                <th class="text-uppercase">
                                    <a href="/shops1.html">
                                        <span class="color-black">Чудодей</span>
                                        <br>
                                        <span>на площади Окатовая</span>
                                    </a>
                                </th>
                                <td>г. Владивосток, ул. Терешковой, 26 Б (площадь Окатовая)</td>
                                <td>+ 7 (423) 270-15-97</td>
                                <td></td>
                                <td>ежедневно с 10:00 до 21:00 без перерывов и выходных</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                    <div id="map" class="map"></div>
                </div>
            </div>

        </section>

    </main>

    <%= _.template(require('./template/footer.html'))() %>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ad123f7c-8f4c-48a3-9e4c-acfe7c8529e7"
        type="text/javascript"></script>
    <script src="js/app.js"></script>
</body>

</html>