<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазины "Чудодей"</title>
    <link rel="stylesheet" href="css/style.bundle.css">
    <script>
        var mapObjects = {
            "type": "FeatureCollection",
            "features": [
                { "type": "Feature", "id": 0, "geometry": { "type": "Point", "coordinates": [43.115661, 131.887497] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<span class="color-red fs-12 ml-2"><img width="14" class="mr-2" src="img/parikmaher.svg">Отдел “Парикмахер”</span>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 1, "geometry": { "type": "Point", "coordinates": [43.133835, 131.899471] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<span class="color-red fs-12 ml-2"><img width="14" class="mr-2" src="img/parikmaher.svg">Отдел “Парикмахер”</span>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
                { "type": "Feature", "id": 2, "geometry": { "type": "Point", "coordinates": [43.133699, 131.900383] }, "properties": { "balloonContentHeader": '<span class="fs-14 text-uppercase ml-2">Чудодей</span><br><a href="/shops1.html" class="fs-14 text-uppercase ml-2">На площади окатовая</a><hr>', "balloonContentBody": '<span class="fs-14 color-black d-block mb-3 ml-2">г. Владивосток, ул. Терешковой, 26 Б<br>(площадь Окатовая)</span><span class="fs-12 color-gray d-block mb-3 ml-2">ежедневно с 10:00 до 21:00<br>без перерывов и выходных</span>', "balloonContentFooter": '<span class="color-red fs-12 ml-2"><img width="14" class="mr-2" src="img/parikmaher.svg">Отдел “Парикмахер”</span>', "clusterCaption": '<span class="fs-14 text-uppercase">Чудодей</span><br><a href="/shops/1" class="fs-14 text-uppercase">На площади окатовая</a><hr>', "hintContent": '<span class="">Чудодей на площади Окатовая</span>' } },
            ]
        };
    </script>
</head>
<%= _.template(require('./template/header.html'))() %>
<%= _.template(require('./template/main-menu.html'))() %>

<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item" aria-current="page">Магазины</li>
            <li class="breadcrumb-item active">Чудодей, Дальнегорск, ул. 50 лет Октября, 26</li>
        </ol>
    </nav>

    <div class="row mb-5">
        <img src="img/tmp/shop11.jpg" alt="" class="col-12 col-lg-6 mb-3">
        <div class="col-12 col-lg-6">
            <h2 class="fs-30 color-black font-weight-bold text-transform-none mb-3">Магазин “Чудодей”</h2>
            <h1 class="fs-42 font-weight-bold text-transform-none mb-4">г. Дальнегорск,<br>ул. 50 лет Октября, 26</h1>
            <div class="mb-4">
                <span class="font-weight-bold fs-16 d-block">Адрес:</span>
                <span class="fs-16">Россия, Приморский край, г. Дальнегорск, ул. 50 лет Октября, 26</span>
            </div>
            <div class="mb-4">
                <span class="font-weight-bold fs-16 d-block">Телефон:</span>
                <span class="fs-16">+7 924 336 3675</span>
            </div>
            <div class="mb-4">
                <span class="font-weight-bold fs-16 d-block">Режим работы:</span>
                <span class="fs-16">ежедневно с 10:00 до 21:00, без перерывов и выходных</span>
            </div>
            <div class="mb-4 d-flex align-items-center">
                <img class="mr-3" src="img/parikmaher.png">
                <span class="fs-16 color-red font-weight-bold">В этом магазине Вы можете посетить отдел
                    ПАРИКМАХЕР</span>
            </div>
            <div class="mb-4 d-flex align-items-center color-purple">
                <a href="/shops-new.html">
                    <i class="fas fa-arrow-left fs-12 mr-1"></i>
                    <span class="fs-16 font-weight-bold">вернуться к списку магазинов</span>
                </a>
            </div>
        </div>
        <img src="img/tmp/shop12.jpg" alt="" class="col-12 col-lg-6 mb-3">
        <div class="col-12 col-lg-6">
            <div class="mb-4">
                <span class="font-weight-bold fs-16 d-block">Как добраться на общественном транспорте:</span>
                <span class="fs-16">Выход в город из первого вагона по направлению движения поездов из центра, в
                    переходе налево, из стеклянных дверей направо. Ориентир - кафе «Котелок» по левой стороне улицы.
                    Далее пешком вниз по улице 10-15 минут . На транспорте: троллейбус №23, автобус №257, 223 до
                    остановки «Черница».</span>
            </div>
            <div class="mb-4">
                <span class="font-weight-bold fs-16 d-block">Координаты GPS:</span>
                <span class="fs-16 d-block">Широта [N]: 43.1150678</span>
                <span class="fs-16">Долгота [E]: 131.8855768</span>
            </div>
        </div>

    </div>

</main>

<%= _.template(require('./template/footer.html'))() %>

<script src="js/app.js"></script>
</body>

</html>