@import "mixins";
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~overlayscrollbars/css/OverlayScrollbars.min.css";
@import "~ion-rangeslider/css/ion.rangeSlider.min.css";
@import "~star-rating-svg2/src/css/star-rating-svg.css";
@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "./slideout.scss";

$fa-font-path: "../fonts/fontawesome" !default;

@import "./fontawesome/fontawesome.scss";
$fa-font-path: "../fonts" !default;
@import "./fontawesome/solid.scss";
@import "./fontawesome/regular.scss";
$fa-font-path: "../fonts" !default;

@import "./jquery.booklet.latest.scss";

$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;
$slick-arrow-color: black !default;

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

@import "./selector.scss";

@include font-face("Merriweather", "../fonts/merriweather/merriweatherlight", 300);
@include font-face("Merriweather", "../fonts/merriweather/merriweatherlightitalic", 300, "italic");
@include font-face("Merriweather", "../fonts/merriweather/merriweatherregular", 400);
@include font-face("Merriweather", "../fonts/merriweather/merriweatheritalic", 400, "italic");
@include font-face("Merriweather", "../fonts/merriweather/merriweatherbold", 700);
@include font-face("Merriweather", "../fonts/merriweather/merriweatherbolditalic", 700, "italic");
@include font-face("Merriweather", "../fonts/merriweather/merriweatherultrabold", 900);
@include font-face("Merriweather", "../fonts/merriweather/merriweatherultrabolditalic", 900, "italic");

@include font-face("Circe", "../fonts/circe/Circe-Regular");
@include font-face("Circe", "../fonts/circe/Circe-Bold", bold);
@include font-face("Circe", "../fonts/circe/Circe-ExtraBold", 900);

$h3-line-height: $fs-16 * 1.21;

.lh-1 {
  line-height: 1;
}

.awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.w-20 {
  width: 20% !important;
}

.vw-100 {
  width: 100vw;
}

.z-index-10 {
  z-index: 10;
}

.fs-5 {
  font-size: $fs-5;
}

.fs-10 {
  font-size: $fs-10;
}

.fs-12 {
  font-size: $fs-12;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-18 {
  font-size: $fs-18;
}

.fs-lg-18 {
  @include media-breakpoint-up("lg") {
    font-size: $fs-18;
  }
}

.fs-30 {
  font-size: $fs-26;

  @include media-breakpoint-down("sm") {
    font-size: $fs-30 * 0.6;
  }
}

.fs-20 {
  font-size: $fs-18;

  @include media-breakpoint-down("sm") {
    font-size: $fs-20 * 0.7;
  }
}

.fs-22 {
  font-size: $fs-20;

  @include media-breakpoint-down("sm") {
    font-size: $fs-22 * 0.7;
  }
}

.fs-42 {
  font-size: $fs-36;

  @include media-breakpoint-down("sm") {
    font-size: $fs-42 * 0.6;
  }
}

.fs-50 {
  font-size: $fs-42;

  @include media-breakpoint-down("sm") {
    font-size: $fs-50 * 0.6;
  }
}

.border-purple {
  border: 1px solid $purple;
}

.border-pink {
  border: 1px solid $pink;
}

.background-pink-dark {
  background-color: $pink-dark;
}

.background-blue {
  background-color: $blue;
}

.background-gray {
  background-color: $gray !important;
}

.border-gray-light {
  border: 1px solid $gray-light !important;
}

.background-gray-lightest {
  background: $gray-lightest;
}

.background-gray-superlight {
  background-color: $gray-superlight !important;
}

.background-purple {
  background-color: $purple !important;
}

.background-purple-dark {
  background-color: $purple-dark !important;
}

.background-purple-light {
  background-color: $purple-light !important;
}

.background-yellow-promo {
  background-color: $yellow-promo !important;
}

.background-white {
  background-color: $white;
}

.background-blue-light {
  background-color: $blue-light !important;
}

.background-blue-promo {
  background-color: $blue-promo !important;
}

.background-pink-promo {
  background-color: $pink-promo !important;
}

.background-pink {
  background-color: $pink !important;
}

.no-radius {
  border-radius: 0;
}

.text {
  &-transform-none {
    text-transform: none;
  }
}

.w-30 {
  width: 30% !important;
}

.mt--1 {
  margin-top: -1px;
}

.mt--4 {
  margin-top: -4px;
}

.color-white {
  color: $white;
}

.color-blue {
  color: $blue;
}

.color-black {
  color: $black !important;
}

.color-gray {
  color: $gray;
}

.color-gray-lightest {
  color: $gray-lightest;
}

.color-pink {
  color: $pink;
}

.color-purple {
  color: $purple;
  fill: $purple !important;
}

.color-red {
  color: $red;
}

.color-blue-dark {
  color: $blue-dark;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-transform-none {
  text-transform: none !important;
}

.border-bottom-dotted {
  border-bottom: 1px dotted $purple;

  &:hover {
    text-decoration: none;
  }
}

.border-bottom-solid {
  border-bottom: 1px solid $purple;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

hr.dotted {
  border-top: 1px dotted $purple;
}

main {
  flex: 1 0 auto;
}

header {
  @include media-breakpoint-down("lg") {
    margin-bottom: 50px;
  }
}

.mobile-logo-image {
  max-height: 40px;
}

footer {
  flex: 0 0 auto;

  .consult-header {
    font-size: $fs-12;
    font-weight: bold;
    color: $black;
    text-decoration: none;

    @include media-breakpoint-down("lg") {
      font-size: $fs-20;
    }
  }

  .consult-multi {
    font-size: $fs-10;
    margin-bottom: $size-20;

    @include media-breakpoint-down("lg") {
      font-size: $fs-16;
    }
  }
}

.badge {
  &-sizes {
    background-color: $purple-invisible;
    color: $black;
    font-size: $fs-12;
    text-align: center;
    width: $size-35;
    border-radius: 0;
    padding: 8px 0 6px;
  }
}

.link-dotted {
  border-bottom: 1px dotted $purple;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dotted transparent;
    text-decoration: none;
  }
}

.btn {
  &.disabled {
    background-color: $gray-light;
    color: $white;
    border: none;
  }

  &-secondary {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &-dark {
    font-weight: bold;
    font-size: $fs-14;
    line-height: $fs-14;
    padding: 12px 25px;
    background-color: $pink-dark;
    color: $white;
    border: none;

    &:active {
      background-color: darken($pink-dark, 20) !important;
      color: $white;
      box-shadow: 0 0 0 0.2rem rgba($pink-dark, 0.3) !important;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba($pink-dark, 0.3) !important;
      }
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 0.2rem rgba($pink-dark, 0.25);
    }

    &:hover {
      background-color: darken($pink-dark, 20) !important;
      color: $white;
      border: none !important;
    }
  }

  &-blue {
    font-weight: bold;
    font-size: $fs-14;
    line-height: $fs-14;
    padding: 12px 25px;
    background-color: $blue;
    color: $white;
    border: none;

    &:focus,
    &.focus {
      box-shadow: 0 0 0 0.2rem rgba($blue, 0.25);
    }

    &:hover {
      background-color: darken($blue, 20);
      color: $white;
      border: none;
    }
  }

  &-action {
    border-radius: 100%;
    width: $size-35;
    height: $size-35;
    margin-bottom: $size-5;

    background-size: 17px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &-pink-light {
      border: 1px solid $pink-light;
      background-color: transparent;

      &.active,
      &:hover {
        background-color: $blue-dark;
        border-color: $blue-dark;
      }
    }

    &__heart {
      background-image: url("../img/icon-heart.svg");
      background-position: 50% 55%;

      &.active,
      &:hover {
        background-image: url("../img/icon-heart-white.svg");
      }
    }

    &__eye {
      background-image: url("../img/icon-eye.svg");
      background-position: 50% 51%;

      &.active,
      &:hover {
        background-image: url("../img/icon-eye-white.svg");
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Times";
  font-weight: 400;
  //text-transform: uppercase;
  color: $purple;
}
h3,
h4,
h5 {
  font-family: "Circle";
  font-size: bold;
}

h1 {
  font-size: $fs-36;
  letter-spacing: -0.02em;
  margin-left: -3px;
  margin-bottom: $size-40;

  @include media-breakpoint-down("lg") {
    margin-bottom: $size-20;
  }

  @include media-breakpoint-down("sm") {
    font-size: $fs-42 * 0.6;
  }
}

h2 {
  font-size: $fs-26;

  @include media-breakpoint-down("sm") {
    font-size: $fs-30 * 0.7;
  }
}

.breadcrumb {
  font-size: $fs-14;
  line-height: 100%;
  margin-top: $size-10;
}

.colour-select {
  width: $size-30;
  height: $size-30;
  border: 1px solid $white;
  border-radius: 50%;
  display: inline-block;
  position: relative;

  @include media-breakpoint-down("sm") {
    width: 20px;
    height: 20px;
  }

  &_selected {
    border: 1px solid $purple;
  }

  &-lg {
    width: $size-40;
    height: $size-40;
    border: 2px solid $white;

    &__inner {
      &__white {
        border: 2px solid $gray-light;
      }
    }

    &:hover {
      border: 2px solid $purple;
    }
  }

  &:hover {
    border: 1px solid $purple;
    cursor: pointer;
  }

  &__inner {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;

    @include media-breakpoint-down("sm") {
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
    }

    &__white {
      background-color: $white;
      border: 1px solid $gray-light;
    }
  }
}

.alert {
  &-gray {
    background-color: $gray-lightest;
    color: $black;
  }
}

.more-colours {
  font-size: $fs-12;
  color: $purple;
  line-height: $size-30;
}

.old-price {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    transform: rotate(-7deg);
    border-bottom: 2px solid $red;
  }
}

.new-price {
  color: $red;
}

.p-section {
  padding: $size-30 0;
}

.top-menu {
  background-color: $purple;
  margin-top: $size-25;
  position: relative;
  z-index: 1;

  &__nav {
    font-size: $fs-12;
    line-height: 40px;
    text-transform: uppercase;
    color: $white;

    @include media-breakpoint-down("lg") {
      line-height: 35px;
    }

    .nav-link {
      color: $white;
      padding: 2px $size-10 0;

      &:hover {
        background-color: darken($purple-dark, 5);
      }
    }
  }

  &__icon {
    background-position: 0.4em 50%;
    background-repeat: no-repeat;
    background-size: 1em auto;
    padding-left: 1.9em !important;

    &-city {
      background-image: url("../img/icon-location.svg");
    }

    &-phone {
      background-image: url("../img/icon-phone.svg");
      padding-left: 1.6em !important;
      background-position: 0.3em 50%;
    }

    &-search {
      background-image: url("../img/icon-search.svg");
    }

    &-cart {
      background-image: url("../img/icon-cart.svg");
      background-size: 2em auto;
      padding-left: 3em !important;
      background-position: 0.4em 40%;

      &__purple {
        background-image: url("../img/icon-cart-purple.svg");
      }
    }
  }

  @include media-breakpoint-down("md") {
    margin-top: 20;
  }

  @media (max-width: 400px) {
    margin-top: 20;
  }
}

.logo {
  position: relative;
  display: block;
  top: -$size-25;
  margin-bottom: -$size-35;
  padding: 0 $size-20;

  @include media-breakpoint-down("md") {
    padding: 0;
    top: -20px;
  }

  @media (max-width: 400px) {
    top: -2px;
  }
}

.top-nav-link {
  line-height: 100%;
  color: $black;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $purple-dark;
  }
}

.nav-main {
  border-bottom: 1px solid $purple-invisible;
  font-size: $fs-16;
  text-transform: uppercase;
  margin-bottom: -1px;

  .nav-item {
    // position: relative;
  }

  .nav-link {
    padding: $size-30 $size-15 ($size-30 - 4px);
    border-bottom: 2px solid transparent;
    box-sizing: border-box;

    @extend .top-nav-link;

    &:hover {
      border-bottom: 2px solid $purple-dark;
    }

    &:after {
      display: none;
    }
  }

  .nav-link_hover {
    border-bottom: 2px solid $purple-dark;
    color: $purple-dark;
  }

  &__divider {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $purple-dark;
    position: relative;
    top: 50%;
    margin: -5px auto 0;
  }
}

.pills__colored-header {
  &__header {
    .nav-item {
      padding: $size-5 $size-15 $size-15;
    }

    .nav-link {
      position: relative;
      color: $white;
      padding: $size-15 0 $size-5;
      background-color: transparent;
      font-size: $fs-20;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 0;

      @include media-breakpoint-down("sm") {
        font-size: $fs-14;
      }

      &.active,
      &:hover {
        color: $white;
        background-color: transparent;
        border-bottom: 2px solid $white !important;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -17px;
          border: 10px solid transparent;
          border-top: 5px solid $white;
          margin-left: -10px;
        }
      }
    }
  }

  &__pink {
    .pills__colored-header__header {
      border-bottom: 5px solid $pink-light;
      border-top: 5px solid $pink-light;
      background-color: $pink;

      .nav-link {
        border-bottom: 2px solid $pink-dark;
      }
    }
  }

  &__blue {
    .pills__colored-header__header {
      background-color: $blue;

      .nav-link {
        border-bottom: 2px solid $blue-dark;
      }
    }
  }

  &__body {
    margin-bottom: $size-50;
    padding-top: $size-10;
  }
}

.product-list {
  padding: 0 $size-30;

  @include media-breakpoint-down("sm") {
    padding: 0;
  }

  .has-divider {
    border-right: 1px dotted $pink;
    margin-bottom: $size-30;

    &.col-lg-4 {
      &:nth-child(3n + 3) {
        border-right: 1px dotted transparent;
      }
    }

    &.col-lg-3 {
      &:nth-child(4n + 4) {
        border-right: 1px dotted transparent;
      }
    }

    @include media-breakpoint-down("lg") {
      border-right: none;
    }
  }

  .slick-track {
    margin-bottom: 50px;
  }

  .slick-list {
    padding-bottom: 21px;
    margin: 0 2rem;
    z-index: 90;

    @include media-breakpoint-down("sm") {
      margin: 0;
    }
  }
  .slick-next,
  .slick-prev {
    @include media-breakpoint-down("sm") {
      top: 39%;
      z-index: 100;
    }
  }

  .slick-next {
    @include media-breakpoint-down("sm") {
      right: 8px;
    }
  }

  .slick-prev {
    @include media-breakpoint-down("sm") {
      left: 0;
    }
  }

  .slick-active {
    border-right: 1px dotted $pink;

    @include media-breakpoint-down("sm") {
      &:not(.slick-current) {
        border-right: none;
      }
    }
  }

  .slick-dots {
    z-index: 89;

    button {
      width: 14px;
      height: 14px;
      border: 1px solid $purple;
      border-radius: 50%;

      &::before {
        left: 1px;
        width: 18px;
        height: 18px;
        display: none;
      }
    }

    li.slick-active {
      button {
        border: none;

        &::before {
          top: -2px;
          display: block;
        }
      }
    }
  }

  &__header,
  &__footer {
    padding: $size-15 0;
  }

  &__header {
    border-bottom: 1px solid $pink-light;
    margin-bottom: $size-30;

    &__sm {
      font-size: $fs-14 !important;
    }

    .products-on-page {
      margin-top: -6px;

      .select-list {
        margin-left: $size-5;
      }
    }
  }

  &__footer {
    border-top: 1px solid $pink-light;
  }
}

.product {
  text-decoration: none !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border: 1px solid transparent;
  position: relative;

  &:hover {
    cursor: pointer;
    border: 1px solid $pink-light;
    box-shadow: 0 0 $size-5 $pink-light;

    .show-on-hover {
      display: block;
    }

    .product__brief {
      h3 {
        margin-bottom: 0.2rem;
      }
    }
  }

  &__colours {
    height: 30px;
  }

  &__image {
    margin-bottom: $size-5;
    position: relative;
  }

  &__brief {
    small {
      font-family: $ff-merriweather;
      letter-spacing: 0.04em;
      display: block;
      line-height: 100%;
      font-size: $fs-12;
      color: $pink;
      text-transform: uppercase;
      margin-bottom: $size-5;
    }
    h3 {
      font-size: $fs-16;
      color: $black;
      text-transform: none;
      font-weight: normal;
      margin-bottom: 1.4em;

      @include media-breakpoint-down("sm") {
        font-size: $fs-12;
      }
    }
  }

  &__buttons {
    position: absolute;
    display: none;
    right: $size-15 - 3px;
    top: $size-15 * 4;
    width: $size-35;
    z-index: 10;
  }

  &__bottom {
    margin-top: auto;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  &__action {
    margin-bottom: $size-10;
  }

  &__price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    color: $gray;
    text-align: center;
    font-weight: bold;
    margin-bottom: $size-15;

    .amount {
      font-size: $fs-20;
      margin: 0 $size-5;

      &__new-price {
        color: $red;
      }
    }

    .old-price {
      margin: 0 $size-5;
    }

    .rub {
      font-size: $fs-16;
    }
  }

  &__buy {
    padding-left: $size-50;
    padding-right: $size-50;
  }

  &__add {
    position: absolute;
    left: -1px;
    right: -1px;
    display: none;
    padding: 10px 0 1rem;
    background-color: $white;
    height: auto;
    border: 1px solid $pink-light;
    box-shadow: 0 0 $size-5 $pink-light;
    border-top: 0;
    border-radius: 0;
    z-index: 1;
    top: 100%;

    &:before {
      content: "";
      position: absolute;
      height: $size-10;
      left: 0;
      right: 0;
      top: -5px;
      background-color: $white;
    }
  }

  .soon {
    margin-bottom: 46px;
    font-size: $fs-14;
  }

  &__cart {
    position: relative;
    z-index: 10;
    background-color: $pink;

    @include media-breakpoint-down("sm") {
      margin: auto 0 0;
    }

    input {
      border: none !important;
    }

    .input-group-prepend,
    .input-group-append {
      .btn {
        color: $black;
        border-radius: 0.2rem;
        border-color: $white;
        background-color: $white;

        &:hover {
          background-color: $gray-superlight;
          border-color: $gray-superlight;
        }
      }
    }
  }

  &__more-options {
    position: absolute;
    color: $white;
    text-transform: uppercase;
    background-color: rgba($pink, 0.8);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px 0 3px;
    font-size: $fs-14;
  }
}

.product-action {
  margin-bottom: $size-30;
  right: -($size-30/2);
  border: 2px solid $pink;

  @include media-breakpoint-down("lg") {
    right: 0;
  }

  &__end {
    font-size: $fs-16 + 2px;

    margin-bottom: $size-10;

    span {
      color: $purple;
    }
  }

  &__disclaimer {
    font-size: $fs-12;
    color: $gray-light;
  }

  .product {
    border: none;
    text-align: left;

    @include media-breakpoint-down("lg") {
      text-align: center;
    }

    &:hover {
      border: none;
      box-shadow: none;
    }

    &__description {
      padding: $size-40 0;
    }

    &__brief {
      text-align: left;

      small {
        font-size: $size-15;
      }

      h3 {
        margin-bottom: $size-10;
      }
    }

    &__price {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      text-align: left;
      margin-bottom: $size-5;

      .old-price {
        font-size: $fs-20;
        line-height: $fs-20;
        height: $fs-20;
        align-self: flex-end;
        margin-bottom: 10px;

        &:after {
          height: 70%;
          transform: rotate(-5deg);
          bottom: 12px;
        }
      }

      .amount {
        font-size: $fs-30;

        &__new-price {
          margin-left: 0;
        }
      }
    }

    &__colours {
      text-align: left;
    }
  }
}

//for click outside
#backgroundOverlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

$searchContainerHeight: 64px;
$searchContainerPadding: 10px;
$searchContainerContentHeight: $searchContainerHeight - 2 * $searchContainerPadding;

.search-container {
  background-color: $purple;
  width: 100%;
  height: $searchContainerHeight;
  position: absolute;
  z-index: 500;
  display: none;
  top: 116px;
  padding: $searchContainerPadding;

  &_mobile {
    background-color: $white;
    top: 51px;
    border-bottom: 1px solid $purple;
    height: 58px;

    @media (max-width: 443px) {
      top: 50px;
    }

    .search-container__search-field {
      border: 1px solid $purple;
      height: 37px;

      .search-container__search-input {
        margin-left: -8px;
        height: 34px;
      }

      .search-container__search-button {
        background-color: $purple;
        position: relative;
        right: -5px;
        width: 36px;
        height: 33px;
      }
    }
  }

  // @include media-breakpoint-down("lg") {
  //     top: 95px;
  //     background-color: $purple-dark;
  //     padding-top: $size-20;
  //     padding-bottom: $size-10;
  //     height: auto;
  //     z-index: 1;
  // }

  // @include media-breakpoint-down("md") {
  //     top: 87px;
  // }

  // @include media-breakpoint-down("sm") {
  //     top: 62px;
  // }
}

$searchContainerSearchFieldWidth: 750px;

.search-container__search-field {
  width: $searchContainerSearchFieldWidth;
  height: $searchContainerContentHeight;
  margin: 0 auto;
  background-color: $white;
  border-radius: $searchContainerContentHeight / 2;
  display: flex;
  align-items: center;
  padding: 0 0 0 $searchContainerContentHeight / 2;

  @include media-breakpoint-down("lg") {
    width: 100%;
    height: 36px;
  }
}

.search-container__search-input {
  ::-webkit-input-placeholder {
    color: #fff;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }

  :-ms-input-placeholder {
    color: #fff;
  }

  width: 100%;
  height: 100%;
  font-size: $fs-14;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;

  @include media-breakpoint-down("lg") {
    height: 35px;
  }
}

.search-container__search-button {
  width: $searchContainerContentHeight - 12 + 2;
  height: $searchContainerContentHeight - 12;
  color: $purple-dark;
  background-color: $purple-dark;
  border: none;
  border-radius: ($searchContainerContentHeight) / 2;
  margin: 6px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none !important;
  }
}

.search-container__hide-button {
  position: absolute;
  margin-left: $searchContainerSearchFieldWidth + 10px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0;

  color: $white;
  font-size: $fs-10;

  border: none;
  border-bottom: 1px dotted $white;
  text-decoration: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none !important;
  }

  &::after {
    position: absolute;
    content: "\00a0\00a0\00a0^";
  }

  @include media-breakpoint-down("lg") {
    display: none;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.dropdown-menu__items {
  padding-top: 32px;
  padding-bottom: 0.5rem;
}

.dropdown-item {
  color: $purple;
  font-size: $fs-12;
  line-height: $fs-20;
  text-transform: capitalize;

  &:hover {
    color: $pink;
    background: $white;
  }
}

.dropdown-item_header {
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown-menu__main-menu {
  top: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
  border: none;
  border-top: 1px solid $purple-invisible;
  border-bottom: 2px solid $purple-dark;
  color: $purple-dark;
}

.dropdown-menu__banner-container {
  border: 1px solid $blue;
  padding: 0;
  display: flex;
}

.dropdown-menu__banner-title {
  font-family: "Circe";
  font-weight: bold;

  position: absolute;

  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  display: inline-block;
  font-size: $fs-10;
  padding: 9px 19px;
}

.dropdown-menu__banner-content {
  display: flex;
  padding: 25px 0;
  align-self: center;
}

.dropdown-menu__banner-img {
  align-self: start;
}

.dropdown-menu__banner-header {
  font-family: "Merriweather";
  font-size: $fs-10;
  color: $pink;
}

.dropdown-menu__banner-info {
  font-family: "Circe";
  font-size: $fs-10;
  color: $black;
}

.dropdown-menu__banner-price {
  text-transform: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: $fs-16;
  color: $black;
}

.label {
  color: $white;

  &__blue {
    background-color: $label-blue;
  }

  &__green {
    background-color: $label-green;
  }

  &__green-dark {
    background-color: $label-green-dark;
  }

  &__pink {
    background-color: $pink;
  }

  &__pink-dark {
    background-color: $pink-dark;
  }

  &__purple {
    background-color: $purple;
  }
}

.labels-pin {
  position: absolute;
  top: $size-15;
  right: $size-15;
  z-index: 10;
}

.label-pin {
  width: $size-30;
  height: $size-25;
  display: inline-block;
  margin: 0 0 0 $size-2;
  border-radius: $size-2;
  text-align: center;
}

.heart-button {
  margin-top: 3px;
}

.menu__header {
  text-decoration: none !important;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.menu__item {
  text-decoration: none !important;
  display: block;
}

.menu__item_black {
  color: $black;
}

.footer {
  width: 100%;
  border-top: 2px solid $blue-light;
  background-color: $white;
  display: flex;
  justify-content: center;
  padding: 38px 0;
  position: relative;
  overflow: hidden;

  h3 {
    color: $purple;
    font-size: $fs-16;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: $fs-12;
    color: $purple;
  }
}

.info__image {
  display: block;
  width: 45px;
  height: 45px;
  padding: 10px 10px;
  background-color: $gray-lightest;

  &:hover {
    background-color: $purple;

    & path {
      fill: $white;
    }
  }

  & svg {
    width: 100%;
    height: 100%;
  }

  & path {
    fill: $purple;
  }
}

.footer__logo {
  width: 200px;
}

.footer__background-icon {
  background-color: transparent;
  position: absolute;
  overflow: hidden;

  img {
    background-color: transparent;
  }
}

.footer__background-icon_1 {
  width: 180px;
  height: 180px;
  bottom: -90px;
  left: 10px;
}

.footer__background-icon_2 {
  width: 65px;
  height: 65px;
  bottom: 210px;
  left: 45%;

  @include media-breakpoint-down("md") {
    left: 75%;
  }
}

.footer__background-icon_3 {
  width: 130px;
  height: 130px;
  bottom: 13px;
  right: 240px;
}

.footer__background-icon_4 {
  width: 340px;
  height: 340px;
  bottom: -150px;
  right: -60px;
}

.advantages {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  border-top: 6px solid $purple-light;
  border-bottom: 6px solid $purple-light;

  & > div {
    @include media-breakpoint-up("sm") {
      padding: 0 55px !important;
    }

    white-space: nowrap;

    @include media-breakpoint-down("sm") {
      overflow-x: scroll;
    }
  }

  .slick-prev,
  .slick-next {
    top: 44%;
    z-index: 100;
  }

  .slick-next {
    right: 40px;
  }

  .slick-prev {
    left: 32px;
  }

  .slick-arrow:before {
    top: 0;
  }
}

.advantages__item {
  position: relative;
  margin: 25px 0;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;

  &:hover {
    @include media-breakpoint-up("md") {
      &::before {
        left: -55px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 200px;
        height: 200px;
        background: $white url(../img/circle.svg);
        border-radius: 50%;
        background-size: cover;
        content: " ";
      }

      .advantages__img {
        opacity: 1;
      }
    }
  }
}

.advantages__img {
  width: 90px;
  height: 70px;
  padding: 0 20px 20px 20px;
  opacity: 0.5;

  @include media-breakpoint-down("xm") {
    opacity: 1;
  }
}

.magazine {
  position: relative;
  background-color: $pink-invisible;
  padding: 35px 0 30px;
}

.magazine__img1 {
  height: 400px;
  position: absolute;
  left: -150px;
  bottom: -120px;
}

.magazine__img2 {
  height: 200px;
  position: absolute;
  left: 110px;
  bottom: -130px;
}

.magazine__img3 {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 40%;
  top: 0;
  overflow: hidden;

  @include media-breakpoint-down("lg") {
    display: none;
  }

  img {
    position: absolute;
    top: -60px;
  }
}

.magazine__text {
  margin-top: 80px;

  @include media-breakpoint-down("lg") {
    margin-top: 20px;
  }
}

.magazine__item {
  display: block;
  font-size: $fs-16;
  line-height: $fs-16 * 2.3;
  color: $purple;
  font-weight: bold;

  &::before {
    margin-right: 10px;
    font-size: $fs-10;
    padding: 6px;
    color: $white;
    border-radius: 50%;
    background-color: $purple;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
  }
}

.left-block {
  padding-bottom: $size-20;
  border-bottom: 2px solid $purple;
  margin-bottom: $size-20;

  &:last-child {
    border-bottom: none;
  }

  &__header {
    font-size: $fs-20;
    text-transform: none;
    color: $black;
    margin-top: $size-40;
  }
}

.h2-1 {
  font-size: $fs-22;
  font-weight: 900;
  letter-spacing: 0.2ex;
  text-transform: uppercase;
}

.menu-catalog {
  font-size: $fs-16;

  &__tp-mobile {
    padding-top: $size-20;
    border-top: 2px solid #961e7a;

    .menu-catalog__second-level {
      padding: 0;
      font-size: $fs-14;
      text-transform: uppercase;
      font-weight: bold;

      .nav-link {
        color: $black;
      }
    }
  }

  &__global {
    .nav-item {
      margin-bottom: $size-15;
    }

    .nav-link {
      color: $white;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }

    .menu-catalog__second-level {
      .nav-item {
        margin: $size-10 0;
      }
      .nav-link {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  li {
    margin-bottom: $size-10;
  }
  .nav-link {
    padding-left: 0;
    @extend .top-nav-link;
  }

  &__second-level {
    font-size: $fs-12;
    padding: $size-10 $size-10 $size-5;
    li {
      margin-bottom: $size-5;
    }
  }

  &__count {
    color: $purple-dark;
  }

  &__mobile {
    .menu-catalog__list {
      .nav-item {
        margin-bottom: 0;
        border-bottom: 1px solid $gray-lightest;
        position: relative;

        .nav-link {
          display: block;
          padding: $size-15 $size-25 ($size-15 - 2px);

          &::after {
            content: "\f077";
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: $size-10;
            color: $purple;
            top: $size-15;
            right: $size-30;
            z-index: 1;
          }

          &.collapsed {
            &:after {
              content: "\f078";
            }
          }
        }

        .menu-catalog__second-level {
          font-size: $fs-14;
          padding: 0;
          border-top: 1px solid $gray-lightest;

          .nav-link {
            padding: $size-10 $size-25 ($size-10 - 2px) $size-50;

            &:before {
              content: "\f077";
              font-family: "Font Awesome 5 Free";
              font-style: normal;
              text-decoration: inherit;
              position: absolute;
              font-size: 8px;
              color: $purple;
              top: 8px;
              left: $size-30;
              z-index: 1;
            }

            &.collapsed {
              &:before {
                content: "\f078";
              }
            }

            &::after {
              display: none;
            }

            &.collapsed {
              &:after {
                display: none;
              }
            }
          }

          .nav-item {
            position: relative;
            margin-bottom: 0;
            padding: 0;
            border-bottom: none;
            margin-top: $size-10;

            &:last-child {
              margin-bottom: $size-10;
            }
          }

          .menu-catalog__third-level {
            .nav-link {
              text-transform: none;
              font-weight: normal;
              font-size: $fs-16;
              color: $gray;

              &::before {
                display: none;
              }
            }

            .nav-item {
              margin-top: 0;

              &:last-child {
                margin-bottom: $size-5;
              }
            }
          }
        }
      }
    }

    .menu-catalog__second-level {
      font-size: $fs-12;
      padding: $size-10 $size-10 $size-5;
      li {
        margin-bottom: $size-5;
      }
    }
  }
}

.filter-actions {
  @extend .list-unstyled;
  padding: 0;
  margin: 0;

  &__item {
    font-size: $fs-14;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: $size-5;
  }

  &__link {
    opacity: 0.7;
    @extend .clearfix;
    display: block;
    line-height: $size-30;

    .title {
      display: inline-block;
      float: left;
    }

    .label-pin {
      float: right;
    }

    &:hover,
    &.active {
      opacity: 1;
    }

    &__blue {
      color: $label-blue;

      &:hover {
        color: $label-blue;
      }
    }

    &__green {
      color: $label-green;

      &:hover {
        color: $label-green;
      }
    }

    &__green-dark {
      color: $label-green-dark;

      &:hover {
        color: $label-green-dark;
      }
    }

    &__pink {
      color: $label-pink;

      &:hover {
        color: $label-pink;
      }
    }

    &__pink-dark {
      color: $label-pink-dark;

      &:hover {
        color: $label-pink-dark;
      }
    }

    &__purple {
      color: $label-purple;

      &:hover {
        color: $label-purple;
      }
    }
  }
}

.pix-bottom-line {
  padding-bottom: $size-15;
  border-bottom: 1px solid $gray-light;
}

.filter {
  &__list {
    margin-bottom: $size-20;
  }

  &__block {
    padding-top: $size-15;
    @extend .pix-bottom-line;
  }

  &__header {
    font-size: $fs-16;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 0;

    a {
      color: $black;
      display: block;

      .arrow {
        font-size: 10px;
        display: inline-block;
        margin-top: 3px;
        margin-left: 10px;
      }

      &:hover {
        color: $purple;
        text-decoration: none;

        .arrow {
          color: $black;
        }
      }
    }
  }

  &__content {
    padding: $size-10 0;
    max-height: 200px;

    .custom-control {
      margin-bottom: $size-5;
      margin-left: 3px;

      &-label {
        line-height: 170%;
      }
    }
  }
}

.fs-14 {
  .custom-control-label {
    line-height: 190%;
  }
}

.shop {
  position: relative;
  overflow: hidden;
  padding: 30px 0;

  hr {
    width: 100px;
    color: $purple;
    border-color: $purple;
    background-color: $purple;
  }
}

.shop__text {
  padding-left: 80px;

  @include media-breakpoint-down("lg") {
    padding-left: 0;
    margin-top: $size-25;
  }
}

.shop__city {
  width: 60%;
  height: 38px;
  padding: 0 0 0 40px;
  border: 1px solid $purple;
  border-radius: 0.25rem;

  &::before {
    position: relative;
    width: 15px;
    height: 100%;
    background-color: $purple;
  }
  & + label {
    position: absolute;
    height: 38px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 18px;
    }
  }

  @include media-breakpoint-down("lg") {
    width: 100%;
  }
}

.shop__img1 {
  position: absolute;
  width: 260px;
  bottom: -25px;
  right: -20px;
}

.irs--flat {
  .irs-line {
    height: 3px;
    top: 28px;
  }
  .irs-bar {
    height: 3px;
    top: 28px;
    background-color: $blue;
  }

  .irs-handle {
    width: 16px;
    height: 16px;
    border: 3px solid $blue;
    background-color: $white;
    border-radius: 16px;
    i {
      display: none !important;
    }
  }

  .irs-from,
  .irs-to,
  .irs-single {
    background-color: $blue;
    &:before {
      border-top-color: $blue;
    }
  }
}

.block {
  &__pink-border {
    border: 2px solid $pink;
    padding-top: $size-30;
    margin-bottom: $size-30;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;

    &__header {
      text-align: center;
      margin-bottom: $size-30;
      text-transform: uppercase;

      h2 {
        @extend .h2-1;
        display: inline-block;
        background-color: $white;
        padding: 0 $size-30;
      }

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        left: $size-30;
        right: $size-30;
        top: $size-30 + ($fs-22/2);
        background-color: $purple;
        z-index: -1;
      }
    }
  }
}

.input-counter {
  max-width: 80px;
  text-align: left;

  .btn {
    font-weight: bold;
    border: 1px solid $gray-lightest;
    background-color: $gray-lightest;

    &:hover {
      background-color: darken($gray-lightest, 20);
      border: 1px solid darken($gray-lightest, 20);
    }
  }

  input.form-control {
    border: 1px solid $gray-lightest;
  }

  &-extra-sm {
    label {
      font-size: $fs-10;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .btn {
      font-size: $fs-10 !important;
      width: $size-20 !important;
      height: $size-20 !important;
      line-height: $size-20 !important;
      padding: 0 !important;
    }

    input.form-control {
      height: $size-20 !important;
      padding: 2px $size-10 0;
      font-size: $fs-10 !important;
    }
  }

  &-sm {
    label {
      font-size: $fs-10;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .btn {
      font-size: $fs-16 !important;
      width: $size-25 !important;
      height: $size-25 !important;
      line-height: $size-25 !important;
      padding: 0 !important;
    }

    input.form-control {
      height: $size-25 !important;
      padding: 2px $size-10 0;
      font-size: $fs-12 !important;
    }
  }
}

.select-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 0.4em 0.8em 0.25em;
      background-color: $gray-lightest;
      color: $black;

      &:hover,
      &.active {
        background-color: $purple;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.pagination {
  border-radius: 0;
  font-weight: bold;

  &-item {
    line-height: $size-40;
    font-size: $fs-12;

    @include media-breakpoint-down("sm") {
      &:first-child() {
        display: none;
      }
    }
  }

  &-page {
    width: auto;
  }

  &-link {
    display: block;
    position: relative;
    text-align: center;
    margin-right: $size-15;
    margin-left: $size-15;

    &:hover {
      text-decoration: none;
    }

    &.page,
    &.range {
      width: $size-40;
      border-radius: $size-40;
      margin-right: $size-2;
      margin-left: $size-2;
    }

    &.page {
      &:hover,
      &.active {
        color: $white;
      }

      &:hover {
        background-color: $pink;
      }
    }

    &.active {
      background-color: $purple;
    }
  }
}

.invisible-line {
  border-bottom: 1px solid $purple-invisible;
  padding-bottom: $size-15;
  margin-bottom: $size-15;
}

.product-detail {
  margin-bottom: $size-30;

  &__price {
    font-size: $fs-42;
    font-weight: bold;
    line-height: 100%;

    @include media-breakpoint-down("sm") {
      font-size: $fs-42 * 0.6;
    }

    span {
      font-size: $fs-30;

      @include media-breakpoint-down("sm") {
        font-size: $fs-30 * 0.6;
      }
    }
  }

  &__articul {
    margin-bottom: $size-15;
    padding-bottom: $size-15;
    color: $gray;
    font-size: $fs-14;
  }

  &__properties {
    font-size: $fs-14;
  }

  &__image {
    display: block;
    border: 1px solid $purple-invisible;
    margin-bottom: $size-10;

    &:hover {
      border: 1px solid $pink;
    }

    &__disclaimer {
      font-size: $fs-12;
      color: $gray-light;

      @include media-breakpoint-down("lg") {
        line-height: 130%;
        margin-bottom: $size-20;
        display: block;
      }
    }
  }

  &__header {
    font-size: $fs-30;
    text-transform: none;
    color: $black;
    margin-bottom: $size-30;
  }

  &__brand {
    display: block;

    margin-bottom: $size-15;

    img {
      border: 1px solid $purple-invisible;
      border-bottom: none;
    }

    span {
      background-color: $purple;
      display: block;
      padding: $size-5;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      font-size: $fs-12;
    }

    &:hover {
      img {
        border: 1px solid $purple;
        border-bottom: none;
      }

      text-decoration: none;
      color: $white;
    }
  }

  &__colours {
    padding-top: $size-5;
  }
}

dl {
  dt {
    font-weight: normal;
  }
}

.product-description {
  &__header {
    font-size: $fs-20 - 2px;
  }
}

.custom-select {
  border-color: $purple;
  border-radius: 0;
  -webkit-appearance: none;
}

.label-outside {
  font-size: $fs-12;
  color: $gray;
}

.not-available {
  color: $red;
}

.nav-tabs {
  border-bottom: 3px solid $purple;

  .nav-item {
    margin-bottom: 0;
    font-size: $fs-14;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: $size-5;
    line-height: 100%;

    &.show {
      .nav-link {
        color: $white;
        background-color: $purple;
        border-color: $purple;

        .count {
          color: $white;
        }
      }
    }
  }

  .nav-link {
    border-color: $purple-invisible;
    padding: $size-15 $size-25 ($size-15 - 3px);
    border-bottom: none;
    color: $black;

    span {
      color: $purple;
      margin-left: $size-5;
    }

    &:hover {
      background-color: $purple-invisible;
      border-color: $purple-invisible;
    }

    &.active {
      color: $white;
      background-color: $purple;
      border-color: $purple;

      span {
        color: $white;
      }
    }
  }
}

.tab-pane {
  &__inner {
    padding: $size-30;
  }

  &__inner-comments {
    padding: $size-30 0;
  }
}

.comment {
  border: 1px solid $gray-light;
  margin-bottom: $size-10;

  &-header {
    margin: $size-20 $size-30;
    @extend .d-flex;
    @extend .align-items-center;

    border-bottom: 1px solid $gray-light;

    > div {
      margin-bottom: $size-20;
    }
  }

  &-name {
    @extend .mr-auto;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-date {
    padding-left: $size-10;
    font-size: $fs-12;
    color: $gray;
  }

  &-body {
    margin: $size-20 $size-30;
  }

  &-rate {
    margin-top: -4px;
  }
}

.black-underline {
  color: $black;
  position: relative;
  margin-bottom: $size-40;

  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 160px;
    left: 2px;
    bottom: -($size-20);
    background-color: $purple;
  }
}

.leave-comment {
  h3 {
    font-size: $fs-22;
  }

  h4 {
    color: $black;
    font-size: $fs-16;
    font-weight: bold;
    text-transform: none;
    margin-bottom: $size-10;
  }

  &__comment,
  &__rating,
  &__name,
  &__agreement {
    margin-bottom: $size-20;
  }

  &__rating {
    label {
      margin-bottom: 0;
    }

    &__stars {
      margin-left: -4px;
    }
  }

  &__agreement {
    label {
      padding-top: 4px;
      font-size: $fs-12;
    }
  }

  &__for-product {
    &__pre-header {
      font-size: $fs-12;
      color: $gray-light;
      display: block;
      margin-bottom: $size-5;
    }

    &__product-name {
      color: $purple;
      font-size: $fs-16;
      font-weight: bold;
      margin-bottom: $size-15;
    }
  }
}

.required {
  color: $red;
}

.label-description {
  font-size: $fs-12;
  color: $gray-light;
  margin-top: 3px;
}

.news-list {
}

.news-detail {
  margin-bottom: $size-30;

  &__bottom-nav {
    padding-top: $size-15;
    padding-bottom: $size-15;
    margin-bottom: $size-30;
    border-top: 1px dotted $purple-invisible;
  }

  &__image {
    margin-bottom: $size-30;
  }
}

.news {
  display: block;
  text-decoration: none;
  border: none;
  color: $black;
  margin-bottom: $size-50;

  &:hover {
    text-decoration: none;
    border: none;
    color: $black;

    .news__header {
      h2 {
        color: lighten($purple, 10);
        border-bottom: 1px solid lighten($purple, 10);
      }
    }
  }

  &__header {
    margin-bottom: $size-15;

    @include media-breakpoint-down("lg") {
      margin-top: 1.25rem;
    }

    h2 {
      font-size: $fs-22;
      text-transform: none;
      color: $purple;
      display: inline;
    }
  }

  &__date {
    font-size: $fs-12;
    color: $gray;
    margin-bottom: $size-15;
  }

  &__pre-header {
    margin-bottom: $size-30;
    padding-bottom: $size-15;

    border-bottom: 1px dotted $purple-invisible;

    &__header {
      font-size: $size-25;
    }

    &__date {
      background-color: $purple;
      font-size: $fs-12;
      display: inline-block;
      color: $white;
      padding: 8px 10px 5px;
      line-height: 100%;
    }
  }
}

.search-detail {
  background-color: $pink-invisible;
  padding: $size-20 $size-30;
  border-top: 1px solid $purple-invisible;
  border-bottom: 1px solid $purple-invisible;
  margin-bottom: $size-30;

  .form-control {
    border: 1px solid $purple-invisible;
    background-image: url("../img/icon-search-purple.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: $size-15 50%;
    padding-left: $size-40;
  }

  .input-group-append {
    width: 30%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      top: 5px;
      bottom: 5px;
      left: 0px;
      background-color: $purple-invisible;
      z-index: 2;
    }
  }

  .btn-outline-secondary {
    border-color: $purple-invisible;
    border-left: none;
    background-color: $white;
    text-align: left;
    font-size: $fs-14;
    color: $gray;

    &.dropdown-toggle {
      &::after {
        position: absolute;
        right: $size-15;
        top: 50%;
        margin-top: -2px;
      }
    }
  }
}

.search-keywords,
.search-result {
  font-size: $fs-20;
  margin-bottom: $size-10;
  font-weight: normal;
  color: $black;
}

.more-button {
  text-align: center;
  padding: $size-20 0;
  margin-bottom: $size-30;
}

.shop-search {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 38%;
  height: 38px;

  input {
    width: 100%;
    height: 100%;
    padding-left: 18px;
    border-radius: 2px;
    border: 1px solid $purple-invisible;
  }

  button {
    padding: 10px;
    height: 38px;
    background-color: $purple;
    border-radius: 2px;

    img {
      width: 16px;
    }
  }
}

.city-choose {
  div:nth-child(1) {
    width: 300px;
  }
}

.city-items {
  a {
    border-bottom: 1px dotted $purple;

    &:hover {
      color: $purple-light;
      border-bottom: 1px dotted $purple-light;
      text-decoration: none;
    }
  }
}

.table th,
.table td {
  border-top: none;
  border-bottom: 1px solid $purple-invisible;
}

.table thead th {
  font-weight: 400;
  border-bottom: 1px solid $purple-invisible;
}

.table td,
.table tbody th {
  padding: 2rem 0;
}
.table tbody th {
  padding-left: 1rem;
}

.table > tbody > tr > th > a > span:nth-child(3) {
  color: $purple;
}

.table > tbody > tr:hover {
  cursor: default;
  background-color: $pink-invisible;

  & > th > a > span {
    color: $purple;
  }
}

.nav-pills_map {
  .nav-item {
    margin-right: 8px;

    .nav-link {
      padding: 12px 25px;
      line-height: $fs-14;
      font-size: $fs-14;
      border: 1px solid $purple;
      font-weight: bold;
    }
  }
}

.map {
  width: 100%;
  height: 525px;
}

ymaps[class*="-cluster-tabs__menu-item-text"] {
  text-transform: none !important;

  hr {
    display: none;
  }

  span {
    color: $black;
  }

  a {
    pointer-events: none;
    cursor: default;
  }
}

ymaps[class*="-cluster-content__header"] {
  margin-left: 0.5rem;
}

.img404 {
  text-align: start !important;
  max-width: 100%;
  position: relative;
  text-align: center !important;

  & > img {
    max-width: 70%;

    @include media-breakpoint-down("sm") {
      max-width: 50%;
    }
  }

  img:nth-child(2) {
    width: 30%;
    bottom: -50px;
    left: 100%;

    @include media-breakpoint-down("lg") {
      left: 70%;
    }

    @include media-breakpoint-down("sm") {
      width: 20%;
      bottom: -20px;
    }
  }
}
.lesson {
  &-list {
  }

  &-item {
    text-align: center;
    padding: $size-15;
    box-shadow: 0 3px 3px $purple-invisible;
    min-height: 100%;
    background-color: $white;

    &__header {
      font-size: $fs-14;
      font-weight: normal;
    }

    &__image {
      margin-bottom: $size-15;
      background-color: $black;
      position: relative;

      img {
        opacity: 0.5;

        transition: opacity 0.2s;
      }

      &::after {
        content: "";
        width: 40px;
        height: 28px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -14px;
        background-image: url("../img/play_video.svg");
        background-size: contain;
      }
    }

    &:hover {
      .lesson-item__image {
        img {
          opacity: 0.9;
        }
      }
    }
  }

  &-detail {
    margin-bottom: $size-40;
    border-bottom: 1px solid $pink;
    padding-bottom: $size-40;

    .circle-bg {
      background-repeat: no-repeat;
      position: absolute;
    }

    .left-blue-circle {
      background-image: url("../img/circle3.svg");
      background-size: contain;
      width: 100px;
      height: 100px;
      bottom: 80px;
      left: 5%;
    }

    .left-pink-circle {
      background-image: url("../img/circle1.svg");
      background-size: contain;
      width: 250px;
      height: 250px;
      top: 80px;
      left: 0;
    }

    .right-pink-circle {
      background-image: url("../img/circle4.svg");
      background-size: contain;
      width: 240px;
      height: 240px;
      bottom: 50px;
      right: 0;
    }

    .right-pink-circle-small {
      background-image: url("../img/circle6.svg");
      background-size: contain;
      width: 170px;
      height: 170px;
      top: 50px;
      right: 5%;
    }

    &__video {
      margin-bottom: $size-20;
    }

    &__description {
      font-size: $fs-16;
      text-align: center;
    }

    &-more {
      &__header {
        width: 230px;
        height: auto;
        margin-bottom: $size-30;
      }

      &__bg {
        position: absolute;
        background-repeat: no-repeat;
        top: 80px;

        &__left {
          background-image: url("../img/tools-left.jpg");
          background-size: contain;
          width: 166px;
          height: 428px;
          left: 50%;
          margin-left: -685px;

          @include media-breakpoint-down("lg") {
            margin-left: -510px;
            height: 330px;
          }

          @include media-breakpoint-down("md") {
            display: none;
          }
        }

        &__right {
          background-image: url("../img/tools-right.jpg");
          background-size: contain;
          width: 183px;
          height: 428px;
          right: 50%;
          margin-right: -700px;

          @include media-breakpoint-down("lg") {
            margin-right: -565px;
            height: 330px;
          }

          @include media-breakpoint-down("md") {
            display: none;
          }
        }
      }
    }
  }
}

.other-lessons {
  margin-bottom: $size-50;
}

.seven-reasons-form {
  border: 3px solid $blue-dark;
  padding: 40px;
  margin-bottom: 65px;
}

.seven-reasons-number {
  width: 50px;
  height: 50px;
  background-color: $purple;
  border-radius: 50%;
  color: $white;
  flex-shrink: 0;
}

.brand-list {
  border: 2px solid $purple-dark;

  .brand-list__item {
    color: $purple-dark;

    &:hover {
      color: $purple;
    }
  }
}

.brand-letter {
  font-weight: bold;
  color: $white;
  background-color: $purple-dark;
  width: 75px;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
}

.nav-link_dotted {
  text-decoration: dotted;
}

.nav-link_solid {
  border-bottom: 1px solid $purple;
}

.nav-link_hover_none:hover {
  text-decoration: none;
  border-bottom: none;
}

.nav-link_hover_pink-dark:hover {
  color: $pink-dark;
}

hr {
  &.pink {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $pink;
    margin: 1em 0;
    padding: 0;
  }

  &.purple {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $purple;
    margin: 1em 0;
    padding: 0;
  }

  &.purple-invisible {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $purple-invisible;
    margin: 1em 0;
    padding: 0;
  }
}

.hr_purple {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $purple;
  margin: 1em 0;
  padding: 0;
}

.hr_blue-dark {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $blue-dark;
  margin: 1em 0;
  padding: 0;
}

.border_blue-dark {
  border: 2px solid $blue-dark;
}

.border_lg-blue-dark {
  @include media-breakpoint-up("md") {
    border: 2px solid $blue-dark;
  }
}

.border_size_5 {
  border-width: 5px;
}

.bg-faq-1 {
  position: absolute;
  height: 430px;
  opacity: 0.5;
  left: -360px;
}

.bg-faq-2 {
  position: absolute;
  height: 210px;
  left: -120px;
  top: 550px;
}

.bg-faq-3 {
  position: absolute;
  height: 335px;
  right: -100px;
  top: 380px;
}

.bg-faq-4 {
  position: absolute;
  height: 130px;
  right: 200px;
  top: 410px;
}

.bg-contact-1 {
  width: 210px;
  position: absolute;
  right: -40px;
  bottom: -70px;
  opacity: 0.2;
}

.bg-contact-2 {
  position: absolute;
  width: 140px;
  right: -40px;
  top: 50px;
}

.bg-contact-3 {
  position: absolute;
  width: 240px;
  right: -90px;
  top: 130px;
}

.subscribe {
  &__img {
    height: 125px;
    display: inline-block;
  }

  @include media-breakpoint-down("lg") {
    h2 {
      font-size: $fs-20;
    }

    &__img {
      height: 80px;
    }
  }
}

.index-lessons__img {
  max-width: 350px;
}

.card_lessons {
  border-radius: 0;
  box-shadow: 0 1px 2px 1px rgba(purple, 0.11);

  &:hover {
    h5 {
      color: $pink-dark;
    }
  }
}

.bg-index-1 {
  position: absolute;
  height: 80%;
  width: auto;
  left: -120px;
  z-index: 4;
}

.bg-index-2 {
  position: absolute;
  height: 90%;
  width: auto;
  right: -130px;
  z-index: 4;
}

.bg-index-3 {
  position: absolute;
  height: 240px;
  right: -100px;
  bottom: -30px;
  z-index: 5;
}

.index-seven-reasons {
  border-top: 7px solid $blue-light;
  border-bottom: 7px solid $blue-light;
  padding: 95px 0;
  background-color: #e7abba;
  background-image: url("../img/index_reasons.png");
  background-repeat: no-repeat;
  background-size: contain;

  @include media-breakpoint-down("md") {
    background: #e7abba;
  }
}

.seven-reason-block {
  display: block;
  width: 320px;
  position: relative;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 260px;
  }

  &__text {
    padding-top: 50px;
    padding-left: 95px;
  }

  @include media-breakpoint-down("lg") {
    margin: 0;
  }
}

.index-work-chudodey {
  left: 120px;
  top: 60px;
}

.index-work-chudodey-btn {
  position: absolute;
  left: 120px;
  top: 120px;
}

.brand-preview {
  background-color: $gray-superlight;
  margin-bottom: $size-30;
  padding: $size-30 0;
}

.journal {
  .b-counter {
    display: inline-block;
    font-size: $fs-14;
    width: $size-30;
    height: $size-30;
    background-color: $purple;
    color: $white;
    padding: 6px 7px;
    text-align: center;
    font-family: "Circe";
  }

  margin-bottom: $size-50;
}

.index-insta-1 {
  display: inline-block;
  position: relative;
  width: 27.6%;
}

.index-insta-2 {
  display: inline-block;
  position: relative;
  width: 25.2%;
  left: -2%;
  top: -4vw;
}

.index-insta-3 {
  display: inline-block;
  position: relative;
  width: 28.3%;
  left: -6%;
  top: 4vw;
}

.index-insta-4 {
  display: inline-block;
  position: relative;
  width: 25.2%;
  left: -7.3%;
  top: -3vw;
}

.insta-likes-top {
  position: absolute;
  top: 0;
  left: 0;
}

.insta-likes-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.index-insta-form {
  letter-spacing: 0;
  margin-bottom: -10px;
}

.index-insta-acc {
  position: relative;
  z-index: 10;
  width: 42.9%;
}

.subscribe-count {
  position: relative;
  margin-top: 7%;
  margin-left: 25%;
  font-weight: bold;
  font-size: $fs-16;
  text-transform: uppercase;
}

.index-insta-icon {
  position: absolute;
  width: 25%;
  top: -7vw;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.index-insta-subscribe {
  position: absolute;
}

.slick-track {
  display: flex;

  .slick-slide {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex: 1;
    height: auto;

    @include media-breakpoint-down("sm") {
      padding: 0;
    }

    & > div {
      height: 100%;
      width: 100%;
    }

    img {
      display: inline;
    }

    a,
    button {
      outline: none !important;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  left: 35px;
  right: 0;
  width: auto;
  margin: 0 auto;
  bottom: 30px;
}

.slick-dots {
  li {
    button {
      padding: 0;

      &:before {
        font-size: $fs-16;
        color: $white;
        opacity: 1;
      }
    }

    &.slick-active button:before {
      color: $purple;
      opacity: 1;
    }
  }
}

.slick-prev_index-banner {
  z-index: 100;
  width: 60px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 30px;

  &:hover {
    &::before {
      border-color: transparent $pink transparent transparent;
      opacity: 0.6;
    }
  }

  &::before {
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent $gray-light transparent transparent;
    position: absolute;
    content: "\A";
  }
}

.slick-next_index-banner {
  right: 5px;
  width: 60px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 30px;

  &:hover {
    &::before {
      border-color: transparent transparent transparent $pink;
      opacity: 0.6;
    }
  }

  &::before {
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent $gray-light;
    position: absolute;
    content: "\A";
  }
}

.px-lg-60 {
  @include media-breakpoint-up("lg") {
    padding: 0 60px !important;
  }
}

.px-lg-120 {
  @include media-breakpoint-up("lg") {
    padding: 0 120px !important;
  }
}

.px-lg-90 {
  @include media-breakpoint-up("lg") {
    padding: 0 90px !important;
  }
}

.px-lg-200 {
  @include media-breakpoint-up("lg") {
    padding: 0 200px !important;
  }
}

.slick-prev_before_none {
  &_left {
    &::before {
      content: "";
    }
    left: -45px;
  }

  &_right {
    &::before {
      content: "";
    }
    right: -30px;
  }
}

.rm-filter {
  padding-left: 5px;
  padding-right: 5px;
  &__image {
    width: 30px;
    height: 18px;
    margin-left: -2px;
  }
}

.promo {
  position: relative;
}

.promo__background {
  width: 85%;
  height: 100%;
  position: absolute;
  background-color: $purple-promo;

  @include media-breakpoint-down("md") {
    width: 100% !important;
    height: 100% !important;
    display: none;
  }
}

.promo__container {
  padding: 0 3%;
  max-height: 340px;

  &_slider {
    max-height: 370px;
    top: 3px;
  }
}

.promo__slick-item {
  position: relative;
  max-height: 340px;
  height: 100%;
  background-color: $white;
  bottom: 3px;
  text-align: center;
}

.promo__slick {
  .slick-prev {
    left: -75px;

    @include media-breakpoint-down("md") {
      left: -35px;
    }

    @include media-breakpoint-down("sm") {
      left: -45px;
    }
  }

  .slick-next {
    @include media-breakpoint-down("md") {
      right: -5px;
    }
    @include media-breakpoint-down("sm") {
      right: -15px;
    }
  }

  .slick-list {
    bottom: 14px;
    width: 91%;
    padding-top: 30px;

    @include media-breakpoint-down("md") {
      bottom: 14px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .slick-active {
      padding-left: 3px;
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        height: 95%;
        display: block;
        border-right: 2px dashed $gray-lightest;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      .promo__slick-item {
        box-shadow: -3px 1px 11px -1px rgba(128, 0, 128, 0.11);
      }

      & ~ .slick-current {
        padding-left: 0;

        > div {
          padding-right: 8px;
        }

        .promo__slick-item {
          box-shadow: 3px 1px 11px -1px rgba(128, 0, 128, 0.11);
        }
      }
    }

    .slick-current {
      padding-left: 3px;
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        height: 95%;
        display: block;
        border-right: 2px dashed $gray-lightest;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      .promo__slick-item {
        box-shadow: -3px 1px 11px -1px rgba(128, 0, 128, 0.11);
      }

      & ~ .slick-active {
        padding-left: 0;

        > div {
          padding-right: 8px;
        }

        .promo__slick-item {
          box-shadow: 3px 1px 11px -1px rgba(128, 0, 128, 0.11);
        }
      }

      @include media-breakpoint-down("md") {
        .promo__slick-item {
          box-shadow: 0px 0px 11px -1px rgba(128, 0, 128, 0.11);
        }

        & > div {
          width: 97%;
        }

        padding-left: 4px;
      }
    }
  }

  .slick-slide {
    height: 340px;
    width: 340px !important;
    padding: 0 0px;

    @include media-breakpoint-down("md") {
      height: 254px;
      width: 254px !important;
    }
  }
}

.promo__promotion {
  height: 60px;
  position: absolute;
  top: -30px;
  left: 8%;
}

.promo__promotion_oneliketwo {
  background: $blue-promo;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;

  div {
    color: $white;
    font-weight: bold;
    font-size: $fs-30;
    padding-top: 20%;
    position: relative;
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-bottom: 20%;
    background: $blue-promo-oneliketwo;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}

.promo__promotion_twolikethree {
  width: 90px;
  height: 90px;
  top: -22px;
}

.bottom-menu {
  list-style: none;

  &__header {
    text-decoration: none !important;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__submenu {
    list-style: none;
    text-decoration: none !important;
    display: block;
    text-transform: none;
    font-weight: normal;

    li {
      margin-bottom: 3px;
    }

    a {
      color: $black;
    }
  }
}

.w-25 {
  width: 25%;
}

.insta-block {
  position: relative;

  &__header {
    width: 70%;
    margin-bottom: $size-15;
  }

  &__post {
    position: absolute;
    top: 0;

    &.first {
      left: 0;
      position: relative;
      display: inline-block;
      top: -45px;
      width: 30%;

      @include media-breakpoint-down("lg") {
        width: 55%;
        top: auto;
      }
    }

    &.second {
      left: 25%;
      width: 25%;

      @include media-breakpoint-down("lg") {
        left: 39%;
        width: 33%;
      }

      @include media-breakpoint-down("md") {
        left: 45%;
        width: 55%;
      }
    }

    &.third {
      left: 16%;
      position: relative;
      display: inline-block;
      width: 30%;

      @include media-breakpoint-down("md") {
        display: none;
      }
    }

    &.fourth {
      left: 75%;
      width: 25%;

      @include media-breakpoint-down("lg") {
        display: none;
      }
    }
  }

  &__text {
    font-size: $fs-14;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
  }

  &__icon {
    width: 80px;
    height: 80px;
    margin: $size-30 0 $size-30 -40px;
    position: relative;
    left: 55%;
  }

  &__subscribe {
    font-size: $fs-14;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-left: 10%;
    margin-top: 47px;

    @media (min-width: 348px) {
      margin-top: 1rem;
    }
  }

  &__btn {
    padding: 0.9rem 1rem 0.75rem;
    line-height: 100%;
    font-size: $fs-14;
  }

  &__purple-block {
    position: relative;
    z-index: 10;
    width: 40%;
    height: 90px;
    top: -90px;
    margin-bottom: -90px;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    display: flex;

    .btn {
      display: block;
      font-size: $fs-16;
      padding: 1rem 1.5rem;
    }

    @include media-breakpoint-down("lg") {
      width: 60%;
    }

    @include media-breakpoint-down("md") {
      width: 100%;
      top: auto;
      margin-bottom: auto;
      height: auto;
      align-items: normal;
      justify-content: normal;
      display: block;

      .btn {
        font-size: $fs-14;
        padding: 0.75rem 1rem;
        display: inline-block;
        margin-left: 50px;
      }
    }
  }
}

.promo {
  position: relative;
}

.promo__items {
  width: 100%;
}

.promo__item {
  box-shadow: 0 1px 2px 1px rgba(purple, 0.11);
  background-color: $pink;
  height: 340px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    max-height: 80%;
  }

  @include media-breakpoint-down("md") {
    height: auto;
  }
}

.promo__item_white {
  background-color: $white;
}

.promo__item_transparent {
  background-color: transparent;
  box-shadow: none;
}

.box-34 {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
}

.modal-header {
  display: block;
  background-color: $gray-lightest;
}

.line-height-100 {
  line-height: 100%;
}

.city-choose-cities {
  height: 200px;
  width: 98%;

  @include media-breakpoint-down("lg") {
    display: block;
  }
}

.modal {
  overflow-y: auto;
}

.modal-icon-top {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.modal-body-icon-top {
  padding-top: 100px;

  &.at {
    padding-top: 55px;
  }

  @include media-breakpoint-down("sm") {
    padding-top: 55px;
  }
}

.modal-hr {
  padding-bottom: 25px;
  margin-bottom: 25px;

  &::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: $purple;
    position: relative;
    display: block;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.additional-menu {
  &__item {
    padding: $size-15 $size-10;
    text-align: center;
    font-size: $fs-12;
    text-transform: uppercase;
    position: relative;

    &__left {
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 16px;
        background-color: $gray-lightest;
        top: 50%;
        right: 0;
        margin-top: -8px;
      }
    }
  }

  &__link {
    display: inline-block;
    text-align: left;
  }
}

.mobile-catalog {
  &-block {
    border-top: 1px solid $purple;
    border-bottom: 1px solid $purple;

    &__header {
      appearance: none;
      background: none;
      border: none;
      font-size: $fs-16;
      text-transform: uppercase;
      font-weight: bold;

      margin-top: 5px;
      cursor: pointer;

      a {
        color: $black;
      }
    }

    &__item {
      text-align: center;

      &:first-child {
        border-right: 1px solid $purple;
      }
    }

    &__additional-menu {
      padding: $size-10 0;
      margin-bottom: 0;
      li {
        text-transform: uppercase;
        font-size: $fs-14;
        font-weight: bold;
        list-style: none;
        display: inline-block;
        margin: 0 $size-5;

        a {
          color: $black;
        }
      }
    }
  }
}

.item-promotion {
  img {
    height: 40px;
  }
}

.product-detail__image {
  width: 90%;

  @include media-breakpoint-down("lg") {
    width: 100%;
  }
}

.photo-picker {
  width: 120px;
  background-color: $gray-superlight;
  padding: 8px;
  padding-right: 16px;
  margin-bottom: $size-10;
  flex: 1 auto;
}

.photo-picker__item {
  display: block;
  width: 100%;
  padding: 2px 0;

  &:hover {
    border: 1px solid $pink;
  }
}

.global-menu-mobile {
  /*display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;*/
  background: $purple-dark;
  color: $white;
  padding: $size-35;

  .menu-catalog {
    font-size: $fs-12;
  }

  /*&.active {
        display: block;
    }*/
}

.params-block {
  display: block;

  @include media-breakpoint-down("lg") {
    display: none;

    &.active {
      display: block;
    }
  }
}

.main-banner {
  padding: 0 50px;
  .slick-slide {
    padding: 0;

    a {
      display: block;
      text-align: center;
      @include media-breakpoint-down("lg") {
        position: relative;
        height: 350px;
        overflow: hidden;
      }

      img {
        @include media-breakpoint-down("lg") {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .slick-prev {
    z-index: 100;
    left: 10px;
  }

  .slick-next {
    z-index: 100;
    right: 18px;
  }

  @include media-breakpoint-down("lg") {
    padding: 0;
  }

  @include media-breakpoint-up("lg") {
    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 40px;
    }
  }
}

.mwdlg-100 {
  @include media-breakpoint-down("lg") {
    max-width: 100% !important;
  }
}

.tour-3d {
  position: relative;
}

.bg-tour-3d {
  &-1 {
    height: 400px;
    position: absolute;
    left: -120px;
    top: 10%;
  }

  &-2 {
    height: 200px;
    position: absolute;
    left: -50px;
    bottom: 10%;
  }

  &-3 {
    height: 300px;
    position: absolute;
    right: -120px;
    top: 15%;
  }

  &-4 {
    height: 180px;
    position: absolute;
    right: -50px;
    bottom: 10%;
  }
}

.tour-3d-iframe {
  @include media-breakpoint-down("lg") {
    max-height: 85vh;
  }
}

.table {
  @include media-breakpoint-down("md") {
    thead {
      display: none;
    }

    tr {
      &:first-child() {
        border-top: 1px solid $gray-lightest;
      }

      position: relative;
      border-bottom: 1px solid $gray-lightest;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      img {
        position: absolute;
        top: 2.15rem;
        right: 10px;
      }

      th,
      td {
        padding: 0.15rem 0;
        padding-left: 1rem;
        border-bottom: none;
      }
    }
  }
}

h3 {
  &.productdotdot {
    max-height: $h3-line-height * 3;
    overflow: hidden;
  }
}

.bg-product {
  &-1 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: -30px;
    top: 5%;
  }

  &-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    right: -65px;
    bottom: -90px;
  }
}

.bg-insta {
  &-1 {
    position: absolute;
    width: 270px;
    height: 270px;
    top: -125px;
    left: 20px;
  }

  &-2 {
    position: absolute;
    width: 240px;
    height: 240px;
    bottom: 10px;
    right: 15px;
  }

  &-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 170px;
    right: -40px;
  }
}

.select_label {
  appearance: none;
  border: none;
}

.journal {
  padding: 0 74px;
}

.booklet {
  box-shadow: 0px 2px 10px 1px rgba(128, 0, 128, 0.21);
}

.booklet .b-arrow-next {
  & > div {
    top: 0;
    background-image: none;
    position: absolute;
    z-index: 100;
    width: 60px;
    margin: auto 0;
    height: 100%;

    &:hover {
      &::before {
        border-color: transparent transparent transparent $purple-dark;
        opacity: 0.85;
      }
    }

    &::before {
      border-style: solid;
      border-width: 30px 0 30px 30px;
      border-color: transparent transparent transparent $gray-light;
      position: absolute;
      content: "\A";
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 30px;
    }
  }
}

.booklet .b-arrow-prev {
  & > div {
    top: 0;
    background-image: none;
    position: absolute;
    z-index: 100;
    width: 60px;
    left: 15px;
    margin: auto 0;
    height: 100%;

    &:hover {
      &::before {
        border-color: transparent $purple-dark transparent transparent;
        opacity: 0.85;
      }
    }

    &::before {
      border-style: solid;
      border-width: 30px 30px 30px 0;
      border-color: transparent $gray-light transparent transparent;
      position: absolute;
      content: "\A";
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 30px;
    }
  }
}

.booklet .b-controls {
  height: 100%;
}

.psm-0 {
  padding: 0 !important;
}

.w-md-50 {
  @include media-breakpoint-up("md") {
    width: 50% !important;
  }
}

.w-md-75 {
  @include media-breakpoint-up("md") {
    width: 75% !important;
  }
}

.w-lg-25 {
  @include media-breakpoint-up("lg") {
    width: 25% !important;
  }
}

.w-lg-50 {
  @include media-breakpoint-up("lg") {
    width: 50% !important;
  }
}

.w-lg-75 {
  @include media-breakpoint-up("lg") {
    width: 75% !important;
  }
}

.w-lg-auto {
  @include media-breakpoint-up("lg") {
    width: auto !important;
  }
}

.mobile-header {
  backface-visibility: hidden;
  padding: $size-5 0;
  width: 100%;
  position: fixed;
  background-color: $white;
  border-bottom: 1px solid $purple;
  z-index: 101;
}

.icon-mobile-cart {
  width: 20px;
}

.icon-mobile-user {
  width: 18px;
}

.icon-mobile-search {
  width: 18px;
}

.hamburger {
  margin-top: $size-5;
}

.mobile-full-menu {
  position: absolute;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  width: 256px;
  background-color: $white;
  z-index: 103;

  &.active {
    display: block;
  }
}

.mobile-menu {
  display: none;
}

.product-list_catalog {
  .product {
    padding: 0;
  }

  .slick-list {
    padding-bottom: 30px;
  }
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.cabinet-menu {
  &__element {
    flex-shrink: 0;
    padding: 8px 10px;
    background-color: $gray-superlight;
    color: $black;
    text-decoration: none !important;
    margin-bottom: 0.1rem;

    @media (min-width: 992px) {
      padding: 16px 20px;
    }

    &:hover {
      color: $white;
      background-color: $blue;
    }

    &.active {
      color: $white !important;
      background-color: $pink !important;
    }
  }
}

.cabinet {
  &__card {
    padding: 10px;
    border: 4px solid $gray-superlight;

    @media (min-width: 992px) {
      padding: 30px 50px;
    }

    .product__action {
      .product__buy {
        padding-left: 0;
        padding-right: 0;
        min-width: 150px;
        font-size: $fs-12;
        text-transform: uppercase;
      }
    }

    .product__buttons {
      display: block;
      top: 20px;

      .btn-action__heart {
        display: block;
        background-image: url("../img/icon-heart-white.svg");
        background-color: $blue-dark;
        border-color: $blue-dark;

        &.active,
        &:hover {
          border: 1px solid $pink-light;
          background-color: transparent;
          background-image: url("../img/icon-heart.svg");
        }
      }
    }
  }

  &__date {
    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 500;
      color: $purple;
      font-size: $fs-14;
      content: "\f073";
    }
  }
}

.password-container {
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  &__input {
    flex-grow: 1;
    border: none;
  }

  &__icon {
    flex-shrink: 0;
    width: 24px;
    height: 15px;
    background-image: url(../img/pass_view.svg);
    background-repeat: no-repeat;

    &.show {
      background-image: url(../img/pass_view2.svg);
      height: 18px;
    }
  }
}

input.shpass {
  &.show {
    &:after {
      content: "";
      background-image: url(../img/pass_view.svg);
    }
  }
}

.auth-modal {
  .form {
    max-width: 300px;
    width: 100%;

    .form-group {
      position: relative;
    }

    .form-group-error {
      display: none;
      right: 8px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 12px;
      color: red;
      font-size: $fs-12;
    }

    input {
      border-radius: 0;
    }
  }

  .bottom-link {
    margin-left: -1px;
    height: 70px;
    background-color: $blue;
    color: $white;
    font-size: $fs-20;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $white;
    }
  }

  .bottom-error {
    display: none;

    margin-left: -1px;
    text-align: center;
    padding: 0.25rem 0;
    background-color: $red;
    color: $white;
  }

  &.error {
    .form {
      .form-group-error {
        display: block;
        position: absolute;
      }

      input {
        border: 1px solid $red;
      }
    }

    .bottom-error {
      display: block;
    }
  }
}

.delivery-type {
  position: relative;
  padding: 0.5rem 1rem;
  max-width: 600px;
  width: 100%;

  .custom-control-label ~ .border {
    border: 1px solid $gray-light !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
  }

  .custom-control-input:checked ~ .custom-control-label ~ .border {
    border: 1px solid $purple !important;
  }
}

.item-image {
  width: 50px;
  height: 50px;
  border: 1px solid #b3b3b3;
  object-fit: contain;
  background-color: $white;
}

.cart-check-circle {
  position: relative;
  img {
    height: 25px;
  }

  &::after {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-size: 18px;
    color: $purple;
    font-weight: 900;
    right: -8px;
    position: absolute;
    top: -8px;
    background-color: $white;
    border-radius: 50%;
    height: 18px;
    display: block;
  }
}

.btn-hover {
  &-info {
    color: #17a2b8;

    &:hover {
      border-color: #17a2b8;
      color: #17a2b8;
    }
  }

  &-secondary {
    color: $pink;

    &:hover {
      border-color: $pink;
      color: $pink;
    }
  }

  &-info-secondary {
    color: #17a2b8;

    &:hover {
      border-color: $pink;
      color: $pink;
    }
  }
}

.certificat {
  width: 100%;
  background-image: url(../img/certificat_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  margin-bottom: 90px;

  @media (max-width: 991.8px) {
    margin-bottom: 60px;
  }

  &:after {
    content: "Заказать сертификат";
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $purple;
    color: $white;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    width: 340px;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }

  &.without {
    &:after {
      content: "";
      display: none;
    }
  }
}

.certificat-container {
  .custom-control-label {
    &::after,
    &::before {
      top: -26px;
      left: 0;
      right: 0;
      margin: 0 auto;

      @media (max-width: 991.8px) {
        right: auto;
        top: 0;
      }
    }
  }

  .certificat__card {
    border: 1px solid $purple;
    border-radius: 2px;
    width: 220px;

    @media (max-width: 991.8px) {
      width: 100%;
    }

    .input-group {
      .btn {
        background-color: $pink;
        border-color: $pink;
        border-radius: 2px;
      }
    }
  }
}

.cabinet-history__reorder {
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  .controls {
    order: 1;

    @media (min-width: 992px) {
      order: 0;
    }
  }

  .info {
    order: 0;

    @media (min-width: 992px) {
      order: 0;
    }
  }
}

.cabinet-history-item {
  .toggler::after {
    color: $purple;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    content: "\f106";
  }

  &.collapsed {
    .toggler::after {
      content: "\f107";
    }
  }
}

.promo {
  &-collapse {
    .panel-heading {
      background-color: $white;

      .btn {
        display: block;
        padding: 10px;
        text-align: left;
        width: 100%;
        border: 1px solid $purple;
        color: $purple;

        .toggler::after {
          color: $purple;
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
          content: "\f106";
        }

        &.collapsed {
          color: $black;
          border: 1px solid $purple-invisible;

          .toggler::after {
            content: "\f107";
          }
        }
      }
    }

    .panel-collapse {
      border: 1px solid $purple;
      border-top: none;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      margin-top: -4px;
    }
  }
}

.table.cabinet-order {
  thead {
    display: table-header-group;
  }

  tr {
    display: table-row;
  }

  td {
    padding: 0.75rem !important;
    vertical-align: middle;
  }
}

.js-scrollable.cabinet-order {
  margin-right: -10px;
  padding-right: 10px;

  &.os-host-scrollbar-vertical-hidden {
    margin-right: 0;
    padding-right: 0;
  }
}

.cabinet-history-addition {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 0;
  width: 90px;

  i {
    font-size: 8px;
  }
}

.tooltip {
  .arrow::before {
    border-top-color: #17a2b8;
  }

  .tooltip-inner {
    background-color: #17a2b8;
    font-size: $fs-12;
  }
}

.registration {
  .is-invalid {
    background-image: url(../img/exclamation-triangle-solid.svg) !important;
    background-size: calc(0.3em + 0.375rem) calc(0.3em + 0.375rem) !important;
  }
}

.promo-gift {
  width: 400px;
  bottom: -100px;
  left: -190px;

  @media (min-width: 992px) {
    left: 0;
    width: auto;
  }
}

.promo-gift-items {
  padding: 2rem;

  @media (min-width: 992px) {
    margin-left: 390px;
    padding-top: 30px;
  }
}

.promo-bill {
  @media (min-width: 992px) {
    margin-left: 400px;
  }
}

.info-page-image {
  width: 64px;

  @media (min-width: 992px) {
    width: 100px;
  }
}
@import "./cart.scss";

.order-steps {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 992px) {
    justify-content: center;
    
    &>i {
      line-height: unset;
      opacity: 0.5;
    }
  }

  .order-step {
    opacity: 0.5;
    display: flex;
    align-items: center;
    line-height: normal;

    &.active {
      opacity: 1;
    }

    .order-step__check {
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #dee2e6;
    }
  }
}

.slideout-panel {
  min-height: unset;
}