@import "./custom.scss";

.table-cart {
  & .thead {
    text-transform: uppercase;
    color: $gray;
    font-size: $fs-12;
  }

  &_img {
    width: 10%;
    margin-right: 0.3rem;
    img {
      top: 0 !important;
      position: relative !important;
      width: 100%;
      max-width: 94px;
      height: auto;
      border: 1px solid $gray-lightest;
    }
  }

  &_description {
    width: 50%;
  }

  &_price-container {
    margin-right: 0.3rem;
    width: 10%;
  }

  &_counter {
    width: 10%;
    margin-right: 0.3rem;
  }

  &_sum {
    flex-grow: 1;
    padding-right: 2.25rem;
  }

  @media (max-width: 991.8px) {
    & .thead {
      display: none !important;
    }

    &_remove-mobile {
      width: 1rem;
    }

    &_img {
      width: 94px;
      margin-right: 1.5rem;
    }

    &_description {
      width: calc(100% - 3.5rem - 94px);
    }

    &_price-container {
      display: none;
    }

    &_counter {
      margin-left: 2rem;
      margin-right: 1.5rem;
      width: 94px;

      & .input-counter-sm {
        max-width: 100%;
      }
    }

    &_sum {
      padding-right: 0;

      & > div {
        @media (max-width: 400px) {
          flex-direction: column;

          .table-cart_price-row {
            width: auto;
            margin-bottom: 0.25rem;
          }
        }
      }
    }

    &_tr {
      padding: 1rem 0 !important;
    }
  }

  &_remove {
    color: $gray;
    font-weight: 500;

    &:hover {
      color: $red;
    }
  }

  &_price-row {
    width: 120px;
  }

  .colour-select {
    width: 25px;
    height: 25px;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0);
      cursor: default;
    }
  }

  &_tr {
    border-bottom: 1px solid #eadbe6;

    @media (min-width: 992px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
