/**
Файл индивдуальных настроек стилей, как общих, так и bootstrap
 */


// Colours

$white: #fff;
$black: #000;

$gray: #666666;
$gray-light: #cccccc;
$gray-lightest: #eaeceb;
$gray-superlight: #FAF7FA;

$red: #cb1616;
$green: #62c252;

$purple-dark: #691054;
$purple: #961e7a; // Brand colour
$purple-light: #e5a8dc;
$purple-invisible: #eadbe6;

$pink-dark: #e54a79;
$pink: #f18dab; // Brand colour
$pink-light: #ffd7f1;
$pink-invisible: transparentize($pink-light, .85);

$yellow-promo: #fff8f6;
$purple-promo: #ffe7fa;
$pink-promo: #fff2f9;

$blue: #60c4de; // Brand colour
$blue-dark: #48b0bf;
$blue-light: #dffdff;
$blue-promo: #dceff3;
$blue-promo-oneliketwo: #60c3d0;

$primary: $purple;
$secondary: $pink;

$label-blue: $blue;
$label-green: $green;
$label-green-dark: #49ba86;
$label-pink: $pink;
$label-pink-dark: $pink-dark;
$label-purple: $purple;


/*$purple-hell: #2c0523;
$purple-darkest: #691054;
$purple-dark: #952b7c;
$purple-link: #961f79;
$purple-text-hover: #c02299;
$purple-light: #e5a8dc;
$purple-lightest: #ffd6f0;
$purple-invisible: #eadbe6;

$pink-dark: #de4170;
$pink-middle: #e54a79;
$pink-dirty: #d45b7f;
$pink-normal: #ff93b5;
$pink-light: #ffd7f1;*/


// Font sizes

$fs-5: 5px;
$fs-10: 10px;
//$fs-11: 11px;
$fs-12: 12px;
//$fs-13: 13px;
$fs-14: 14px;
//$fs-15: 15px;
$fs-16: 16px;
//$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-26: 26px;
$fs-30: 30px;
$fs-36: 36px;
$fs-42: 42px;
$fs-50: 50px;

// Font families

$ff-circe: 'Circe';
$ff-merriweather: 'Merriwether';

// Sizes
$size-2: 2px;
$size-5: 5px;
$size-10: 10px;
$size-15: 15px;
$size-20: 20px;
$size-25: 25px;
$size-30: 30px;
$size-35: 35px;
$size-40: 40px;
$size-50: 50px;

$size-200: 200px;


// Bootstrap overloads

$font-family-sans-serif: "Circe", Roboto, "Helvetica Neue", Arial, sans-serif;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
) !default;


// Breadcrumbs

$breadcrumb-padding-y:              $size-20;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           $size-10;

$breadcrumb-margin-bottom:          0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $purple;
$breadcrumb-active-color:           $black;
$breadcrumb-divider:                quote("→");

$breadcrumb-border-radius:          0;


$hamburger-padding-x           : 5px;
$hamburger-padding-y           : 5px;
$hamburger-layer-width         : 19px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 3px;
$hamburger-layer-color         : $purple;
$hamburger-layer-border-radius : 0;
$hamburger-active-layer-color  : $purple;

