@import "custom";

.sel {
    display: inline-block;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .sel::before {
    position: absolute;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: $purple;
    font-weight: 900;
    right: 0;
    top: 0;
    bottom: 3px;
    margin: auto;
    font-size: $fs-10;
    height: $fs-10;
  }
  
  .sel.active::before {
    transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'Circle';
    color: $purple;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
    z-index: 4;
  }
  
  .sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'Circle';
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    margin-left: 5px;
    font-weight: 900;
    font-size: $fs-10;
    display: none;
  }
  
  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: #ebedef;
  }
  
  .sel {
    border-bottom: 1px dotted $purple;
  }
  
  
  .sel--superman {
    z-index: 2;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }