body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.slideout-open {
    .slideout-panel {
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: " ";
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 10000;
        }
    }
    .mobile-header {
        &::before {
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            content: " ";
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 10000;
        }
    }
}
